/**
common
 */

.unset-height{
  min-height: unset!important;
}
.visually_hidden {
  overflow: hidden;
  position: absolute;
  left: -999999px;
  clip: rect(0, 0, 0, 0); /*ie6,7*/
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
  line-height: 0;
  border: 0;
  padding: 0;
}

.text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}

.line_ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 22px;
  max-height: 44px;
}

.line_ellipsis_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 22px;
  max-height: 66px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.vertical_middle::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}

.vertical_middle {
  text-align: center;
}

.vertical_middle > div {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 7px);
  padding-left: 7px;
}

.f-point {
  color: var(--color-point) !important;
}

.f-point-pink {
  color: var(--color-point-secondary) !important;
}
.f-alert {
  color: #f21730 !important;
}
.f-cancel {
  color: #c2c1cc !important;
  text-decoration: line-through;
}
.f-line-through {
  text-decoration: line-through;
}

.f-color-01 {
  color: var(--text-01);
}

.f-color-02 {
  color: var(--text-02);
}

.f-color-03 {
  color: var(--text-03);
}





.f-sz-md {
  font-size: 16px !important;
}

.f-sz-sm {
  font-size: 14px !important;
}

.f-default {
  font-family: var(--font1) !important;
}

.f-black {
  color: var(--color-text-black) !important;
}

.f-light-gray {
  color: var(--color-text-light) !important;
}

.f-default-gray {
  color: var(--color-text-default) !important;
}

.f-hidden {
  color: transparent !important;
  font-size: 0 !important;
}

.f-link {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.f-13 {
  font-size: 13px !important;
  font-family: var(--font1) !important;
}

.min-height-auto {
  min-height: auto !important;
}



caption.visually_hidden {
  position: static;
}

.blind {
  font-size: 0;
  color: transparent;
}

.padding-default {
  padding: 30px 20px;
}
.padding-default-x {
  padding: 0 20px;
}


.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

.no_border {
  border: none !important;
}

.ta_right {
  text-align: right !important;
}

.ta_left {
  text-align: left !important;
}

.prefix-dot::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #333333;
  margin-right: 5px;

}

.term_box {
  padding: 100px;
  height: 880px;

  & div {
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    height: 100%;
    background: #ffffff;
  }
}

.icon.ico-caution-filled {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background-size: cover;
  background-image: url(../../img/common/icon-expirationintend@2x.png);
  transform: translateY(-2px);
  margin-left: 3px;
}

.icon.ico-caution {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-size: cover;
  background-image: url(../../img/common/ico-caution@2x.png);
  transform: translateY(-2px);
  margin-left: 3px;
}

.box-updated {
  text-align: center;
  padding-top: 160px;

  .img {
    width: 200px;
    height: 90px;
    margin: 0 auto 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .txt-lg {
    font-size: 20px;
    font-family: var(--font2);
    font-weight: 500;
    line-height: 28px;
    color: var(--text-01);
    margin-bottom: 20px;
  }

  .list.caution {
    display: inline-block;
    font-family: var(--font1);
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.38px;
    color: var(--text-03);

    &::before {
      top: 4px;
    }
  }
}

.box-update-error {
  text-align: center;

  //padding-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .img {
    width: 56px;
    height: 56px;
    margin: 0 auto 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .txt {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.38px;
    text-align: center;
    color: var(--text-01);
    font-family: var(--font2);
    font-weight: 500;

    + .txt {
      margin-top: 20px;
    }
  }

  .btn_area{
    padding-top: 40px;
    .btn_quit{
     padding: 0 60px;
      font-size: 15px;
      color: #FFFFFF;
      background-color: var(--color-point);
      border-radius: 6px;
      height: 50px;
      border: 0;
      line-height: 50px;
      font-family: var(--font2);
      letter-spacing: -0.35px;

    }
  }

}




.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  width: 22px;
  height: 22px;

  &.ico_list_apartment {background: url("../../img/common/category/ico_list_apartment_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_bank {background: url("../../img/common/category/ico_list_bank_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_book {background: url("../../img/common/category/ico_list_book_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_card {background: url("../../img/common/category/ico_list_card_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_children {background: url("../../img/common/category/ico_list_children_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_coin {background: url("../../img/common/category/ico_list_coin_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_dog {background: url("../../img/common/category/ico_list_dog_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_electric {background: url("../../img/common/category/ico_list_electric_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_etc {background: url("../../img/common/category/ico_list_etc_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_home_01 {background: url("../../img/common/category/ico_list_home_01_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_home_02 {background: url("../../img/common/category/ico_list_home_02_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_home_03 {background: url("../../img/common/category/ico_list_home_03_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_insurance {background: url("../../img/common/category/ico_list_insurance_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_letter {background: url("../../img/common/category/ico_list_letter_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_medical {background: url("../../img/common/category/ico_list_medical_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_people {background: url("../../img/common/category/ico_list_people_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_phone {background: url("../../img/common/category/ico_list_phone_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_rental {background: url("../../img/common/category/ico_list_rental_small_p@2x.png") no-repeat center center/ contain;}
  &.ico_list_wallet {background: url("../../img/common/category/ico_list_wallet_small_p@2x.png") no-repeat center center/ contain;}

  &.disabled{
    &.ico_list_apartment {background: url("../../img/common/category/ico_list_apartment_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_bank {background: url("../../img/common/category/ico_list_bank_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_book {background: url("../../img/common/category/ico_list_book_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_card {background: url("../../img/common/category/ico_list_card_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_children {background: url("../../img/common/category/ico_list_children_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_coin {background: url("../../img/common/category/ico_list_coin_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_dog {background: url("../../img/common/category/ico_list_dog_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_electric {background: url("../../img/common/category/ico_list_electric_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_etc {background: url("../../img/common/category/ico_list_etc_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_home_01 {background: url("../../img/common/category/ico_list_home_01_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_home_02 {background: url("../../img/common/category/ico_list_home_02_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_home_03 {background: url("../../img/common/category/ico_list_home_03_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_insurance {background: url("../../img/common/category/ico_list_insurance_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_letter {background: url("../../img/common/category/ico_list_letter_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_medical {background: url("../../img/common/category/ico_list_medical_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_people {background: url("../../img/common/category/ico_list_people_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_phone {background: url("../../img/common/category/ico_list_phone_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_rental {background: url("../../img/common/category/ico_list_rental_small_g@2x.png") no-repeat center center/ contain;}
    &.ico_list_wallet {background: url("../../img/common/category/ico_list_wallet_small_g@2x.png") no-repeat center center/ contain;}

  }
}






































