:root {
  --text-01: #37354e;
  --text-02: #737183;
  --text-03: #9b9aa6;
  --text-04: #afaeb8;
  --text-point-color: #6839d3;

  --color-text-black: #37354e;
  --color-text-default: #37354e;
  --color-text-light: #999999;
  --color-error: #ff2e60;
  --color-point: #6839d3;
  --color-point-secondary: #cc61ed;
  --blurple: #6839d3;

  --font1: 'Roboto', 'Noto Sans CJK KR Regular';
  --font2: 'Roboto Medium', 'Noto Sans CJK KR Medium';
  --font3: 'Roboto Bold', 'Noto Sans CJK KR Bold';
  --font4: 'Roboto', 'Noto Sans CJK KR Regular';
  --font5: 'Roboto Medium', 'Noto Sans CJK KR Medium';
  --font6: 'Noto Sans CJK KR DemiLight';
  --font7: 'Roboto Bold', 'Noto Sans CJK KR Bold';
  --font10: 'NotoSansCJKKR'


}