.chatgpt {
    .h3 {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 27px;
        font-family: var(--font3);

        span {
            font-size: 14px;
            color: var(--text-02);
            line-height: 20px;
        }
    }

    .ico {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        &.gpt-profile {
            background-image: url('../../img/common/chat/ic_gpt_profile@2x.png')
        }
    }

    .divider {
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background-color: #f5f6f8;
        }
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .fixed-bottom {
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        width: calc(100% - 40px);
    }

    // 추천리스트 박스
    .recommend-search {
        margin-top: 8px;
        text-align: right;

        button {
            padding: 16px 23px;
            width: 100%;
            background: #fff;
            font-size: 14px;
            line-height: 20px;
            border: 1px solid #e1dceb;
            border-radius: 10px;
            letter-spacing: -0.3px;

            &~button {
                margin-top: 8px;
            }
        }
    }

    .wrap {
        .chat-box {
            padding: 0 20px 98px;

            .time-stamp {
                margin-top: 10px;
            }

            .date {
                padding: 3px 16px;
                margin: 0 auto;
                width: fit-content;
                background: #f8f7fc;
                font-size: 11px;
                line-height: 15px;
                border-radius: 11px;
            }

            .chat {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;

                ul {
                    flex: 1;
                }

                .text {
                    position: relative;
                    padding: 20px;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: -0.1px;

                    .split {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        ul {
                            li {
                                font-size: 14px;
                                color: var(--text-02);
                                line-height: 22px;
                                text-indent: -10px;
                                margin-left: 11px;
                            }
                        }
                    }

                    .chat-loading {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 32px;
                        height: auto;
                    }

                    &.err {
                        p {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin: 10px 0;
                            padding: 14px 0;
                            gap: 5px;
                            color: var(--text-02);

                            img {
                                width: 12px;
                                height: 12px;
                                ;
                            }
                        }

                        .retry {
                            padding: 17px 0;
                            width: 100%;
                            background-color: #f0edf8;
                            color: var(--text-02);
                            line-height: 1;
                            border-radius: 10px;
                            font-size: 13px;
                        }
                    }
                }

                &.left {
                    .text {
                        border-radius: 0 26px 26px;
                        background: #f8f7fc;
                    }

                    .link {
                        position: relative;
                        padding: 16px;
                        background: #f0edf8;
                        border-radius: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            width: 34px;
                            height: 54px;
                        }

                        p {
                            font-size: 16px;
                            color: var(--text-01);
                            font-family: var(--font2);
                            margin-left: 12px;

                            span {
                                display: block;
                                color: var(--text-02);
                            }
                        }

                        i {
                            position: absolute;
                            right: 18px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 11px;
                            height: 24px;
                        }
                    }
                }

                &.right {
                    .text {
                        padding: 16px 22px;
                        margin-left: auto;
                        width: calc(100% - 40px);
                        background: #a757e9;
                        color: #fff;
                        border-radius: 26px 0 26px 26px;
                    }
                }
            }
        }

        // input 채팅
        .chat-enter {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            max-height: 98px;
            padding: 16px 20px;
            border-top: 1px solid #efefef;
            background: #fff;


            form {
                textarea {
                    padding: 0;
                    padding-right: 3px;
                    width: calc(100% - 42px);
                    height: 22px;
                    font-size: 15px;
                    color: #37354e;
                    line-height: 22px;
                    border: none;
                    outline: none;
                    max-height: 66px;



                    &::placeholder {
                        color: #9b9aa6;
                    }
                }

                .send {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 30px;
                    background-color: transparent;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        @at-root .sum-area {
            .research {
                font-size: 15px;
                font-family: var(--font1);
                text-align: right;
                color: var(--text-01);
                line-height: 22px;
            }
        }
    }

    .card-detail-banner {
        background: #f5f8ff;
        width: 100%;
        height: 75px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        gap: 16px;

        .card-logo-ico {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background: var(--white);
            text-align: center;
            padding: 3px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .banner-txt {
            span {
                font-family: var(--font1);
                font-size: 13px;
                color: var(--text-02);
                line-height: 19px;
            }

            p {
                font-family: var(--font2);
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .inner-banner {
        padding: 22px 20px 0;

        .card-detail-banner {
            border-radius: 10px;
        }
    }

    .card-detail-box {
        .inner-banner {
            padding: 22px 20px 0;

            .card-detail-banner {
                border-radius: 10px;
            }
        }

        .card-detail-box {
            padding: 40px 20px 0;
            position: relative;
            text-align: center;

            .card-detail-title {
                span {
                    font-family: var(--font1);
                    font-size: 14px;
                    color: var(--text-02);
                    line-height: 20px;
                    text-align: center;
                    margin-bottom: 2px;
                }

                p {
                    font-family: var(--font3);
                    font-size: 20px;
                    line-height: 29px;
                    text-align: center;
                    // 2줄 이상 말줄임 ... 처리
                    display: -webkit-box;
                    word-wrap: break-word;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .card-detail-img {
                width: 190px;
                height: 190px;
                text-align: center;
                margin: 40px 0;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                &::after {
                    content: "";
                    background: #f5f5fc;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                }

                img {
                    width: auto;
                    height: 100%;
                }
            }

            .card-detail-desc {
                text-align: left;
                display: flex;
                align-items: flex-start;
                gap: 15px;
                padding: 0 4px;
                margin-bottom: 40px;

                div {
                    flex: 1;

                    p {
                        font-family: var(--font3);
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 8px;
                    }

                    li {
                        font-family: var(--font1);
                        font-size: 14px;
                        color: var(--text-02);
                        line-height: 22px;
                        word-break: keep-all;
                    }
                }
            }

            .card-detail-list {
                text-align: left;

                .card-detail-title {
                    font-family: var(--font3);
                    font-size: 18px;
                    line-height: 27px;
                    margin-bottom: 10px;
                }

                .group {
                    &.show {
                        .category-heading {
                            border-bottom: none;

                            &::after {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }

                        .category-menu {
                            display: block;
                            border-bottom: 1px solid #efefef;
                        }
                    }

                    &:last-of-type {

                        .category-heading,
                        .category-menu {
                            border-bottom: none;
                        }
                    }

                    .category-heading {
                        padding: 18px 0 19px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        border-bottom: 1px solid #efefef;
                        position: relative;

                        &::after {
                            content: "";
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url(../../img/common/btn_accordian_main_down@2x.png) no-repeat center / contain;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%) rotate(0deg);
                        }

                        .list-ico {
                            width: 38px;
                            height: 38px;
                            border-radius: 50%;
                            padding: 7px;

                            img {
                                width: 100%;
                                height: auto;
                            }

                            &.purple {
                                background-color: #faf4ff;
                            }

                            &.yellow {
                                background-color: #fff8e3;
                            }

                            &.red {
                                background-color: #fff4f2;
                            }

                            &.blue {
                                background-color: #f5f6ff;
                            }
                        }

                        p {
                            font-family: var(--font2);
                            font-size: 16px;
                            line-height: 24px;
                            width: calc(100% - 70px);
                            word-break: keep-all;

                            span {
                                font-family: var(--font3);
                                color: var(--text-point-color);
                            }
                        }
                    }

                    .category-menu {
                        display: none;
                        border-bottom: none;

                        div {
                            margin-bottom: 20px;

                            &:last-child {
                                margin-bottom: 18px;
                            }

                            p {
                                font-family: var(--font2);
                                font-size: 14px;
                                line-height: 20px;
                                margin-bottom: 6px;
                            }

                            .dash-list {
                                li {
                                    font-family: var(--font1);
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: var(--text-02);
                                    word-break: keep-all;
                                    text-indent: -9px;
                                    margin-left: 11px;
                                }

                                table {
                                    text-align: center;
                                    font-family: var(--font1);
                                    font-size: 13px;
                                    line-height: 19px;
                                    color: var(--text-02);
                                    margin-top: 6px;

                                    thead {
                                        border-top: 1px solid #e3e4e8;
                                        background: #f7f7f8;
                                        font-family: var(--font2);
                                    }

                                    td {
                                        width: 111px;
                                        border-right: 1px solid #e3e4e8;
                                        border-bottom: 1px solid #e3e4e8;

                                        &:nth-child(3n) {
                                            border-right: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


                .card-detail-btn {
                    width: 100%;
                    padding: 14px 0;
                    margin: 30px 0;
                    background: var(--blurple);
                    border-radius: 6px;
                    color: var(--white);
                    font-family: var(--font2);
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }
    }

    .choice {
        .inner {
            padding: 20px;
        }

        &.benefit-choice {
            .benefit-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 16px;
                gap: 12px;

                .item {
                    padding: 6px 14px;
                    width: fit-content;
                    background: transparent;
                    font-size: 15px;
                    line-height: 22px;
                    border: 1px solid #e9e9f2;
                    border-radius: 6px;

                    &.active {
                        border-color: #6839d3;
                        color: #6839d3;
                        font-family: var(--font2);
                    }
                }
            }
        }

        &.store-choice {
            .top {
                .checked-list {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    margin-top: 16px;
                    gap: 12px;
                    overflow: auto;
                    scrollbar-width: none;

                    .item {
                        flex-shrink: 0;
                        border: 1px solid #6839d3;
                        border-radius: 6px;
                        padding: 6px 14px;
                        font-size: 15px;
                        line-height: 22px;
                        color: var(--text-point-color);
                        font-family: var(--font2);

                        span {
                            display: inline-block;
                            margin-left: 4px;
                            font-family: var(--font3);
                        }

                        .sprite {
                            margin-left: 4px;
                            width: 10px;
                            height: 10px;
                            background-image: url("../../img/sprite/common/ico_tag_arrow_nor@2x.png");
                        }

                        &.active {
                            background: var(--text-point-color);
                            color: #fff;
                            font-family: var(--font2);



                            .sprite {
                                background-image: url("../../img/sprite/common/ico_tag_arrow_sel@2x.png");
                            }
                        }
                    }
                }
            }

            .bot {
                .upper {
                    display: flex;
                    justify-content: space-between;

                    .btn {
                        padding: 0;
                        min-width: auto;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0;
                        border: none;
                    }
                }

                .store-list {
                    margin-top: 16px;

                    .item {
                        border: 1px solid #e9e9f2;
                        padding: 6px 14px;
                        border-radius: 6px;
                        font-size: 15px;
                        line-height: 22px;

                        &~.item {
                            margin-top: 12px;
                        }

                        &.active {
                            border-color: var(--color-point);
                            color: var(--text-point-color);
                            font-family: var(--font2);
                        }
                    }
                }
            }
        }

        &.card-choice {
            .select-all-box {
                margin-top: 16px;

                input:checked {
                    &+label {
                        font-family: var(--font2);
                        border: 1px solid #6839d3;
                        color: var(--text-point-color);

                        .sprite {
                            background-image: url("../../img/sprite/common/ico_tag_check_sel@2x.png");
                        }
                    }
                }

                label {
                    padding: 6px 0;
                    width: 100%;
                    line-height: 22px;
                    text-align: center;
                    border: 1px solid #e9e9f2;
                    color: var(--text-01);
                    border-radius: 6px;
                    font-family: var(--font1);
                    font-weight: normal;

                    .sprite {
                        display: inline-block;
                        margin-right: 4px;
                        width: 10px;
                        height: 10px;
                        background-image: url("../../img/sprite/common/ico_tag_check_nor@2x.png");
                    }
                }
            }

            .card-company {
                display: flex;
                flex-wrap: wrap;
                gap: 7px;

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: calc(33.33% - 7px);
                    min-height: 78px;
                    border: 1px solid #e9e9f2;
                    border-radius: 6px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        display: inline-block;
                        margin-top: 5px;
                        font-size: 13px;
                        line-height: 19px;
                    }

                    &.active {
                        border: 1px solid var(--color-point);

                        span {
                            font-family: var(--font2);
                            color: var(--text-point-color);
                        }
                    }
                }
            }
        }
    }

    .filter-box {
        background: #f7f7f8;

        >div {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 13px 0;
            margin: 0 20px;
            border-bottom: 1px solid #eeedf0;

            &:nth-child(2) {
                padding: 8px 0;
                margin-right: 0;
            }

            &:last-child {
                border-bottom: none;
            }

            .filter-title {
                font-family: var(--font3);
                font-size: 14px;
                line-height: 20px;
                width: 70px;
                flex-shrink: 0;
            }

            .filter-result {
                font-family: var(--font1);
                font-size: 14px;
                line-height: 20px;
            }

            .filter-menu {
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;

                ul {
                    overflow-x: auto;
                    display: flex;
                    scrollbar-width: none;
                    align-items: center;
                }

                li {
                    flex-shrink: 0;
                    padding: 5px 10px;
                    height: 30px;
                    align-items: center;
                    background-color: #8f67ea;
                    border-radius: 6px;
                    margin-right: 8px;
                    border: 1px solid #8f67ea;

                    &.setting-btn {
                        width: 24px;
                        height: 24px;
                        background-color: #737183;
                        border: 1px solid #737183;
                        border-radius: 50%;
                        position: relative;

                        img {
                            filter: invert(1) brightness(15);
                            width: 12px;
                            height: auto;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                a {
                    font-family: var(--font2);
                    font-size: 14px;
                    line-height: 1.3;
                    color: var(--white);

                    img {
                        width: 20px;
                        height: 20px;
                        margin-bottom: 3px;
                        margin-right: -8px;
                    }
                }
            }

            .left,
            .right {
                flex: 1;
                display: flex;
                gap: 10px;
            }

            .right {
                .filter-title {
                    width: auto
                }
            }
        }
    }

    .filter-card-list {
        padding: 30px 20px;

        .list-title {
            font-family: var(--font3);
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            .tab-list {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                li {
                    padding: 5px 13px;
                    margin-right: 8px;
                    font-family: var(--font1);
                    font-size: 14px;
                    border: 1px solid #e9e9f2;
                    border-radius: 17px;

                    &.active {
                        font-family: var(--font2);
                        color: var(--text-point-color);
                        border: 1px solid #6839d3;
                    }
                }
            }

            .checkbox {
                label {
                    display: flex;
                    align-items: center;
                }

                span {
                    padding-left: 30px;
                }

                p {
                    font-family: var(--font2);
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 2px;
                }
            }
        }

        li {
            padding: 20px 0;
            text-align: center;
            display: flex;
            align-items: flex-start;
            gap: 20px;

            .card-detali-img {
                width: 88px;
                height: 88px;
                flex-shrink: 0;
                position: relative;

                &::after {
                    content: "";
                    background: #f5f5fc;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                }

                img {
                    width: auto;
                    height: 100%;
                }
            }

            .card-detail-desc {
                text-align: left;

                .card-title {
                    span {
                        font-family: var(--font1);
                        font-size: 12px;
                        line-height: 18px;
                        color: var(--text-02);
                        margin-bottom: 2px;
                    }

                    p {
                        font-family: var(--font2);
                        font-size: 16px;
                        line-height: 24px;
                        display: -webkit-box;
                        word-wrap: break-word;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-bottom: 6px;
                    }
                }

                .card-tag {
                    p {
                        display: inline;
                        padding: 2px 6px;
                        background: #f7f7f8;
                        border-radius: 6px;
                        font-family: 12px;
                        font-size: 12px;
                        color: var(--text-02);
                        text-align: center;
                        margin-right: 6px;
                    }
                }

                .card-benefit {
                    margin-top: 6px;

                    span {
                        font-family: var(--font1);
                        font-size: 13px;
                        line-height: 19px;
                        color: var(--text-02);
                        word-break: keep-all;

                        &::after {
                            content: "";
                            display: inline-block;
                            width: 3px;
                            height: 3px;
                            background: #d7d6e0;
                            margin: 0 2px 3px 5px;
                        }

                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                .event-tag {
                    background: linear-gradient(to right, #7d4af2, #a767ff);
                    padding: 3px 10px;
                    border-radius: 6px;
                    width: 135px;
                    color: var(--white);
                    font-family: var(--font2);
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 8px;
                    text-align: center;
                }
            }
        }

        .no-searh-wrap {
            flex-direction: column;
            padding-top: 142px;

            img {
                width: 42px;
                height: 42px;
            }

            p {
                text-align: center;
                font-family: var(--font1);
                font-size: 14px;
                line-height: 20px;
                margin: 12px 0 40px;
                color: #737183;
            }

            button {
                color: var(--white);
                font-size: 15px;
                font-family: var(--font2);
                line-height: 22px;
                padding: 14px 97px;
                background: var(--blurple);
                border-radius: 6px;
            }
        }
    }
}