/*
    작성자 : 이주연
    작성일 : 2020.10.08
    내용 : event.pcss 추가
*/
.event {
  width: 100%;
  background-color: #a470f2;

  &>div:first-child {
    & .main {
      width: 355px;
      height: auto;
      margin: 0 auto 28px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .text {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.38px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 30px;
    }

    & .btn-area {
      padding: 0 20px 40px;

      & .btn-event {
        display: block;
        width: 100%;
        height: 70px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        line-height: 70px;
        letter-spacing: -0.45px;
        text-align: center;
        background-color: #fff579;
        color: var(--text-01);

        &:active {
          background-color: #EADB28;
        }
      }
    }
  }

  & .serviceInfo {
    width: 100%;
    height: auto;
    background-color: #fff;

    &>.title {
      position: relative;
      font-size: 17px;
      font-weight: bold;
      line-height: 25px;
      letter-spacing: -0.43px;
      color: var(--text-point-color);
      margin-bottom: 20px;
      padding-top: 40px;
      padding-left: 27px;

      &::before {
        content: '';
        position: absolute;
        left: 20px;
        top: 46px;
        width: 3px;
        height: 17px;
        background-color: var(--text-point-color);
      }
    }

    & .sub {
      & .img {
        width: 355px;
        height: auto;
        margin: 0 auto 10px;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & .img-sm {
        width: 300px;
        height: auto;
        margin: 0 auto 10px;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & .text-lg {
        font-family: var(--font2);
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: -0.5px;
        text-align: center;
        color: var(--text-01);
        margin-bottom: 5px;

        & em {
          color: var(--text-point-color);
          font-family: var(--font2);
          font-weight: 500;
        }
      }

      & .text {
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: -0.33px;
        text-align: center;
        color: var(--text-02);
        margin-bottom: 40px;
      }

      & .btn-wrap {
        padding-bottom: 40px;

        & .btn-acha {
          display: block;
          width: 275px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px var(--text-point-color);
          font-family: var(--font2);
          font-size: 15px;
          font-weight: 500;
          line-height: 48px;
          letter-spacing: -0.38px;
          text-align: center;
          color: var(--text-point-color);
          margin: 0 auto;
        }
      }
    }

    & .line {
      width: 355px;
      height: auto;
      margin: 0 auto 30px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .noti {
    background-color: #f0f0f0;
    padding: 20px;

    & .title {
      font-family: var(--font2);
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: -0.33px;
      color: var(--text-02);
      margin-bottom: 3px;
    }

    & p {
      font-family: var(--font1);
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: -0.3px;
      text-align: left;
      color: var(--text-02);

      & a {
        color: #4f97f3;
      }
    }
  }
}

.d-xs-block {
  display: none;
}

@media (max-width: 355px) {
  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .event {
    &>div:first-child {
      & .main {
        width: 300px;
      }
    }

    & .serviceInfo {
      & .sub {
        & .img {
          width: 300px;
        }
      }

      & .line {
        width: 300px;
      }
    }
  }
}

.popup-normal.popup_event {
  width: 315px;
  height: 474px;

  & .popup-header {
    & h2 {
      font-family: var(--font3);
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      letter-spacing: -0.5px;
      text-align: center;
      color: var(--text-01);
      padding-top: 20px;
      margin: 0 0 20px;
    }
  }

  & .popup-body {
    padding: 0;

    & .form {
      padding: 30px 20px 0;

      & .info {
        border-radius: 10px;
        border: solid 2px var(--text-point-color);
        padding: 14px;
        margin-bottom: 20px;
      }

      & .event-form {
        & .title {
          font-family: var(--font2);
          font-size: 14px;
          font-weight: 500;
          line-height: 35px;
          letter-spacing: -0.35px;
          color: var(--text-01);
          margin-bottom: 10px;
        }

        & input {
          height: 35px;
          border-radius: 4px;
          border: solid 1px #e2e3e6;
          background-color: #ffffff;
          font-weight: 500;
          font-family: var(--font2);

          &:focus {
            outline: none;
            border: 1px solid var(--text-01);
          }
        }

        &.name {
          & input {
            width: 206px;
            margin-left: 1px;
            padding-left: 12px;
          }
        }

        &.phone {
          & .title {
            margin-bottom: 0;
          }

          & .dNum {

            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: -0.35px;
            color: var(--text-01);
          }

          & input {
            width: 60px;

            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: -0.35px;
            padding: 0 0 0 12px;
            -moz-appearance: textfield;
          }
        }
      }

      & .event-check {
        & span {
          line-height: 17px;
        }
      }

      &>p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: left;
        color: var(--text-03);
        padding-left: 28px;
      }
    }

    & .line {
      width: 315px;
      height: auto;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .list-Wrap {
      padding: 5px 25px 20px;

      & .list {
        color: var(--text-03);
        font-size: 12px;
      }
    }

    & .btn-wrap {
      padding: 0 20px;

      & .btn {
        display: block;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        background-color: var(--text-point-color);
        font-family: var(--font1);
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 58px;
        letter-spacing: -0.4px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.popupNormal {
  & .popup-body {
    padding: 40px 0;

    & p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.7px;
      text-align: center;
      color: var(--text-01);
      margin-bottom: 40px;
    }
  }
}

.popupNormal.event {
  background-color: #fff;
  width: 314px;
  height: auto;

  & .popup-body {
    padding: 24px 20px 72px;

    & .top {
      font-size: 15px;
      font-weight: bold;
      line-height: 22px;
      letter-spacing: -0.75px;
      text-align: center;
      color: var(--text-01);
      margin-bottom: 17px;
    }

    & .middle {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.7px;
      text-align: center;
      color: var(--text-01);
      margin-bottom: 24px;
    }

    & .bottom {
      font-size: 15px;
      font-family: var(--font2);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: -0.75px;
      text-align: center;
      color: var(--text-01);
      margin-bottom: 0;

      & .date {
        font-weight: 500;
        color: var(--text-point-color);
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



// 230831
.event-area {
  .mb-10 {
    margin-bottom: 10px;
  }

  .bg-purple {
    background-color: #a579ff;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .h3 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;

    &.purple {
      padding: 7px 20px;
      background-color: #7f4ee2;
      border-radius: 50px;
      color: #fff;
    }
  }

  .h4 {
    font-size: 18px;
    color: #737183;
    font-weight: bold;
    line-height: 24px;
  }

  .desc {
    font-size: 14px;
    line-height: 20px;
  }

  .dim {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      font-family: var(--font3);
      font-size: 18px;
      color: #fff;
      text-align: center;
      letter-spacing: -0.3px;
      word-break: keep-all;
      line-height: 24px;
    }
  }


  .event-box {
    .img-wrap {
      img {
        width: 100%;
      }
    }

    .invite-code {
      padding: 30px 20px 20px;

      &.connect {
        padding-bottom: 40px;

        .content {
          .coupon-code {
            .code {
              color: #222;
            }
          }
        }
      }

      .content {
        padding: 20px;
        border-radius: 16px;

        .coupon-code {
          padding: 38px 0;
          margin-bottom: 22px;
          background-color: #f7f7f8;
          border-radius: 10px;

          &.coupon-disconnect {
            background-color: #eeedf0;

            .code {
              color: #c2c1cc;
              opacity: 0.3;
            }
          }

          .code {
            font-family: var(--font2);
            font-size: 20px;
            line-height: 24px;
            color: #c2c1cc;
          }
        }

        .btn-wrap {
          button {
            font-size: 16px;
            height: 56px;
            line-height: 56px;
            border-radius: 10px;
          }
        }
      }

      .invite-txt {
        font-size: 15px;
        font-weight: 500;
        font-family: var(--font2);
        line-height: 1.4;
      }
    }

    .invitation-state {
      padding: 40px 20px 60px;

      ul {
        .dot {
          ::before {
            display: none;
          }
        }
      }
    }

    .coupon-box {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 20px;
      height: 64px;
      border-radius: 10px;
      overflow: hidden;

      &.expire {
        .dim {
          display: block;
        }
      }

      p {
        font-size: 15px;
        font-weight: bold;


        &.new {
          color: var(--text-02);
          font-weight: normal;
        }

        &.number {
          font-family: var(--font3) !important;
          font-size: 18px;

          &.own {
            font-size: 20px;
          }

          &.sheets {
            opacity: 0.5;
          }

          &.use {
            font-size: 20px;
            font-family: var(--font1) !important;
            height: 29px;

            .rang {
              font-size: 20px;
            }

            .total {
              font-size: 15px;
              opacity: 0.75;
              font-weight: 400;
            }
          }
        }
      }
    }

    .coupon-list {
      margin-bottom: 70px;

      li {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &.coupon-length {
          .bottom {
            background-color: #f6edff;
          }
        }

        &.expire {
          .dim {
            display: block;
          }
        }

        .top {
          display: flex;
          align-items: flex-start;

          padding: 30px 20px 15px;
          border-radius: 10px 10px 0 0;
          border: 1px solid #eee;
          background-color: #fff;

          color: var(--color-text-default);

          .img-wrap {
            width: 70px;
            height: 70px;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .info {
            margin-left: 15px;

            .h4 {
              margin-bottom: 0;
              line-height: 27px;
              color: var(--color-text-default);
            }

            p {
              font-size: 14px;
              line-height: 20px;
              word-break: keep-all;
              letter-spacing: -0.3px;
            }

            .quantity {
              display: flex;
              align-items: center;

              margin-top: 8px;
              font-size: 14px;
              line-height: 30px;
              height: 30px;

              >span {
                margin-left: 4px;
              }

              .count-box {
                display: flex;
                align-items: center;
                margin-left: 8px;

                border: 1px solid #efefef;
                border-radius: 4px;
                overflow: hidden;

                .count {
                  line-height: 30px;
                  min-width: 48px;
                  text-align: center;
                  font-size: 16px;
                  font-weight: normal;
                  max-width: 48px;
                  border: unset;
                }

                button {
                  position: relative;
                  width: 30px;
                  height: 30px;
                  background-color: #efefef;
                  outline: unset;

                  &.minus,
                  &.plus {

                    &::before,
                    &::after {
                      content: "";
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      transform: translate(-50%, -50%);
                      width: 14px;
                      height: 2px;
                      background-color: #737082;
                    }
                  }

                  &.plus {
                    &:after {
                      width: 2px;
                      height: 14px;
                    }
                  }

                }

                &.disabled {
                  pointer-events: none;

                  p {
                    color: #c2c1cc;
                  }

                  .minus,
                  .plus {

                    &::before,
                    &::after {
                      background-color: #dddddf;
                    }
                  }
                }

                &.disabled-minus {
                  .minus {

                    &::before,
                    &::after {
                      background-color: #dddddf;
                    }
                  }
                }

                &.disabled-plus {
                  .plus {

                    &::before,
                    &::after {
                      background-color: #dddddf;
                    }
                  }
                }
              }
            }
          }
        }

        .bottom {
          padding: 15px 0;
          border-radius: 0 0 10px 10px;
          background-color: #f7f7f8;
          text-align: center;

          p {
            font-size: 14px;
            line-height: 20px;
            font-family: var(--font1);
            letter-spacing: -0.3px;

            span {
              font-family: var(--font2);
            }
          }
        }
      }
    }

    .coupon-order {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
      }

      span {
        font-size: 14px;
        line-height: 16px;
        color: var(--text-02);
      }
    }

    .desc {
      color: var(--text-02);

      span {
        font-weight: bold;
      }
    }

    .f-cancel {
      text-decoration: unset;
    }


    .couple-cashbook {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &.bg-purple {
        background-color: #4d1aa7;
      }

      .img-wrap {
        position: relative;
      }

      .gift-coffee {
        position: absolute;
        left: 50%;
        bottom: 8px;
        transform: translateX(-50%);
        color: #fff;
        width: calc(100% - 40px);
      }

      .agreement {
        position: relative;

        .agreement-input {
          position: absolute;
          bottom: 30%;
          left: 12%;

          @media (min-width: 500px) and (max-width: 749px) {
            & {
              bottom: 31%;
            }

            label {
              span {
                font-size: 16px;
              }
            }
          }

          @media (min-width: 750px) and (max-width: 1023px) {
            & {
              bottom: 32%;
            }

            label {
              span {
                font-size: 18px;
              }
            }
          }

          @media (min-width: 1024px) {
            & {
              bottom: 32%;
            }

            label {
              span {
                font-size: 32px;
              }
            }
          }

          label {
            span {
              color: #fff;
              font-family: var(--font1);
              font-weight: 400;

              &:after {
                background-color: #5D2EAE;
              }
            }

            input:checked {
              +span {
                &:after {
                  transform: scale(0.6);
                  background-color: #fff;
                }
              }
            }
          }
        }
      }

      .btn-apply-event {
        position: absolute;
        left: 50%;
        bottom: 16%;
        transform: translateX(-50%);
        width: 60%;
      }

      .img-wrap {
        &.body {
          position: relative;



          .input-box {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 14% 50px 0;

            @media (min-width: 750px) {
              & {
                padding-top: 14%;
              }
            }

            label {
              &~label {
                margin-top: 24%;

                @media (min-width: 750px) {
                  & {
                    margin-top: 24%;
                  }
                }
              }

              input {
                width: 100%;
                height: 34px;
                border-radius: 29px;
                text-align: center;
                outline: none;
                color: #4d1aa7;
                font-family: var(--font3);

                @media (min-width: 750px) and (max-width: 1240px) {
                  & {
                    height: 44px;
                  }
                }

                @media (min-width: 1240px) {
                  & {
                    height: 74px;
                  }
                }
              }
            }
          }
        }

        &.foot {
          .btn-apply-event {
            bottom: unset !important;
            top: 48%;

            @media (min-width: 750px) and (max-width: 1240px) {
              & {
                top: 43%;
              }
            }

            @media (min-width: 1240px) {
              & {
                top: 41%;
              }
            }
          }
        }
      }
    }




  }

  .order {
    padding: 30px 20px;

    &.order-period {
      margin-top: 0;

      .date {
        margin-bottom: 30px;
      }
    }
  }

  .order-period {
    margin-top: 60px;

    .h3 {
      margin-bottom: 4px;
    }

    .date {
      margin-bottom: 35px;

      font-size: 16px;
      line-height: 22px;
      color: #f21730;
      font-weight: 500;
      font-family: var(--font2);

      p {
        margin-left: 3px;
        vertical-align: top;
      }
    }

    .btn-warp {
      padding: 0 20px;

      .btn {
        line-height: 24px;
        padding: 16px 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        font-size: 16px;
        font-family: NotoSansCJKKR;
        font-weight: bold;
      }
    }
  }

  .order-notice {
    .h3 {
      line-height: 29px;
      margin-bottom: 8px;
    }

    ul {
      li {
        position: relative;
        margin-left: 18px;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 20px;
        color: var(--text-02);
        text-indent: 0px;

        i.dot {
          &:before {
            background-color: #737183;
            top: 10px;
            left: -8px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .invite-prize {
    .text-top {
      padding: 10px 30px;

      .text {
        font-size: 16px;
        color: var(--text-02);
        line-height: 24px;

      }

      .title {
        margin-top: 6px;
        font-size: 22px;
        line-height: 1.36;
        font-family: var(--font3);
      }

      .desc {
        font-size: 12px;
        line-height: 18px;
        color: var(--text-03);
        margin-top: 4px;
        font-weight: 300;
      }
    }

    .step {
      margin-top: 14px;
      padding: 0 20px;

      >li {
        position: relative;
        padding: 16px;
        margin-bottom: 40px;
        background-color: #f6edff;
        border-radius: 20px;

        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        &.expire {
          .dim {
            display: block;
            background-color: rgba(36, 26, 57, 0.8);
            border-radius: 20px;

            .text {
              font-size: 24px;
              line-height: 36px;
            }

            .sub-text {
              margin-top: 4px;
              font-size: 16px;
              display: block;
              font-weight: bold;
              line-height: 24px;

              &:last-child {
                margin-top: 2px;
              }
            }
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -30px;
            width: 20px;
            height: 20px;
            transform: translateX(-50%);
          }
        }

        &:nth-child(1) {
          &::after {
            background: url(../../img/common/-g-img_plus@2x.png) no-repeat center/contain;
          }
        }

        &:nth-child(2) {
          &::after {
            background: url(../../img/common/img_arrow_down@2x.png) no-repeat center/contain;
          }
        }

        >a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          >div {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .step-num {
          margin-right: 14px;
          padding: 8px 11px;
          background: rgba(187, 157, 255, 0.19);
          font-size: 14px;
          line-height: 16px;
          font-family: var(--font3);
          border-radius: 17px;
          letter-spacing: -0.6px;
        }

        .txt {
          font-size: 18px;
          font-weight: 500;
          color: var(--text-01);
          line-height: 25.5px;
          font-family: var(--font2);

          b {
            font-family: var(--font3);
          }
        }

        figure {
          width: 60px;
          height: 60px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }



        &.step-end {
          padding: 31px 20px;
          justify-content: space-between;

          >div {
            display: flex;
            align-items: center;
          }

          p {
            display: flex;
            flex-direction: column;

            .point {
              position: relative;
              margin-bottom: 4px;
              width: fit-content;
              font-size: 16px;
              line-height: 24px;
              font-weight: bold;
              border-radius: unset;
              background: unset;
              padding: 0;
              margin-right: 0;

              &::before {
                content: "";
                position: absolute;
                left: -2px;
                bottom: -2px;
                width: calc(100% + 4px);
                height: 10px;
                background: #bb9dff;
                opacity: 0.35;
              }
            }
          }

          figure {
            width: 70px;
            height: 70px;
            flex-shrink: 0;
            margin: 0;
            margin-left: 10px;
          }
        }
      }
    }

    .desc {
      font-size: 13px;
      margin-top: 34px;
      letter-spacing: -0.4px;
    }
  }

  .box_my_income_add {
    .title {
      margin-bottom: 4px;
      color: var(--text-02);
      line-height: 20px;
    }

    .custom-light {
      input {
        &::placeholder {
          color: #c2c1cc;
        }
      }

      .btn-clear-input {
        right: 5px !important;
      }
    }
  }

  .event-content {
    padding: 0 20px;

    .title {
      font-size: 17px;
      font-weight: bold;
      color: var(--text-01);
      line-height: 25px;
    }

    .personal-info {
      margin-top: 40px;

      .h3 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 17px;
      }

      .table {
        font-family: var(--font1);

        th,
        td {
          padding: 15px 10px;
          font-size: 12px;
          color: var(--text-02);
          line-height: 1.58;
          font-weight: 500;
        }

        th {
          background-color: #f5f6f8;
        }

        td {
          font-family: var(--font1);
          font-weight: normal;
        }
      }

      .desc {
        font-size: 12px;
        line-height: 1.58;
        color: var(--text-02);
      }
    }
  }

  .btn-close {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../../img/common/btn_close@2x.png) no-repeat center / contain;
    background-size: cover;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer {
  position: relative;
  padding: 30px 20px 40px;
  background-color: #eaeaea;

  .h4 {
    line-height: 27px;
  }

  .notice {
    margin-top: 24px;

    h5 {
      font-size: 14px;
      font-weight: bold;
      color: var(--text-02);
      line-height: 20px;
    }

    h6 {
      margin-top: 12px;
      font-size: 13px;
      line-height: 19px;
      color: var(--text-02);
      font-weight: bold;
    }

    ul {
      li {
        margin-bottom: 6px;
        font-size: 13px;
        color: var(--text-02);
        line-height: 18px;
        // letter-spacing: -0.3px;
        word-break: break-all;
        font-family: 'Noto Sans CJK KR Regular';

        &:last-child {
          margin-bottom: 0;
        }
      }
    }


    .text-indent {
      li {
        margin-left: 13px;
        text-indent: -13px;
      }
    }
  }
}