.renewal {

  /**
  font style
   */
  .f-regular {
    font-family: var(--font1) !important;
  }

  .f-medium {
    font-family: var(--font2) !important;
  }

  .f-bold {
    font-family: var(--font3) !important;
  }

  .f-color01 {
    color: var(--text-01) !important;
  }

  .f-color02 {
    color: var(--text-02) !important;
  }

  .f-color04 {
    color: var(--text-04) !important;
  }


  .pt-10 {
    padding-top: 10px !important;
  }

  .pb-10 {
    padding-bottom: 10px !important;
  }

  .pt-20 {
    padding-top: 20px !important;
  }

  .pt-66 {
    padding-top: 66px !important;
  }

  .pb-20 {
    padding-bottom: 20px !important;
  }

  .pt-30 {
    padding-top: 30px !important;
  }

  .pb-30 {
    padding-bottom: 30px !important;
  }

  .pb-60 {
    padding-bottom: 60px !important;
  }

  .pl-20 {
    padding-left: 20px !important;
  }

  .mt-10 {
    margin-top: 10px !important;
  }

  .mt-20 {
    margin-top: 20px !important;
  }

  .mt-30 {
    margin-top: 30px !important;
  }

  .mt-40 {
    margin-top: 40px !important;
  }

  .mb-20 {
    margin-bottom: 20px !important;
  }

  .mb-30 {
    margin-bottom: 30px !important;
  }

  .mb-40 {
    margin-bottom: 40px !important;
  }

  .ml-10 {
    margin-left: 10px !important;
  }

  .ml-20 {
    margin-left: 20px !important;
  }

  .ml-30 {
    margin-left: 30px !important;
  }

  .mr-10 {
    margin-right: 10px !important;
  }

  .mr-20 {
    margin-right: 20px !important;
  }

  .mr-30 {
    margin-right: 30px !important;
  }

  /**
  text-description
   */
  .share-spend-money {
    .text-descriptiton {
      padding-top: 10px;

      &.head {
        padding-top: 10px;
      }
    }

    &.share {
      .title {
        font-family: var(--font2);
        margin-bottom: 2px;
      }

      .desc {
        line-height: 20px;
      }
    }
  }

  .text-descriptiton {
    padding: 30px 20px 0;

    .title {
      font-size: 18px;
      color: #37354e;
      margin-bottom: 5px;

      /**
      font-size : 20px
       */
      &-md {
        font-size: 20px;
        line-height: 26px;
      }

      /**
      font-size : 24px
       */
      &-lg {
        font-size: 24px;
      }

      span {
        font-family: var(--font3);
      }
    }

    .desc {
      font-size: 14px;
      color: #737183;

      &-lg {
        font-size: 16px;
        font-family: var(--font1);
        line-height: 22px;
        font-weight: normal;
      }
    }

    .txt {
      font-size: 14px;
      color: var(--text-03);
    }

    .key-comment {
      font-size: 18px;
      font-family: var(--font2);
      color: #1093c4;

      &-two {
        color: #515996;
      }

      &-three {
        color: #b059c4;
      }

    }

    .text-list {
      position: relative;

      dt {
        padding-left: 10px;
        font-size: 16px;
        color: #37354e;
        font-family: var(--font2);
        margin-bottom: 2px;
        margin-top: 30px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #37354e;
          transform: translateY(-50%);
        }
      }

      dd {
        padding-left: 10px;
        font-size: 14px;
        color: #737183;
      }
    }
  }

  /**
  icon-arrow-bottom
   */
  .ico-refresh-mini {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../../img/common/ico-refresh-mini@2x.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 2px;
  }

  .icon-arrow-bottom {
    background: url("../../img/common/btn_title_month@2x.png") no-repeat center center / contain;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 2px;
  }

  .icon-edit {
    background: url("../../img/common/expenditure/ic_my_register@2x.png") no-repeat center center/contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    //margin-left: 2px;
    transform: translateY(-1px);
  }

  // renewal 자산 상세정보 edit
  .edit {
    img {
      transform: translateY(-1px);
    }
  }

  /**
  badge
  */
  .badge {
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    border-radius: 6px;
    font-weight: 500;
    font-family: var(--font2);
    vertical-align: baseline;
    line-height: 1em;



    &.badge-outline-purple {
      position: relative;
      border: 1px solid #6839d3;
      border-radius: 11px;
      padding: 3px 16px 4px 7px;
      color: var(--text-point-color);
      font-family: var(--font2);
      font-size: 11px;
      line-height: 1;

      &:after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 1px solid #6839d3;
        border-right: 1px solid #6839d3;
        position: absolute;
        right: 8px;
        top: 6px;
        transform: rotate(45deg);
      }
    }

    &.badge-gray {
      color: #9992a0;
      background: #eeedf0;
    }

    &.badge-pink {
      color: #f21730;
      background: #feecee;
    }

    & .badge-purple {
      color: #6839d3;
      background: #f4efff;
    }

    &.badge-blue {
      color: #3968d3;
      background: #eff8ff;
    }

    &.badge-lightOrange {
      color: #d34b39;
      background: #fff4ef;
    }

    &.badge-lightRed {
      color: #d339c1;
      background: #ffeff9;
    }

    &.badge-lightBlue {
      color: #3998d3;
      background: #eff5ff;
    }

    &-md {
      width: 76px;
      height: 36px;
    }

    &-lg {
      width: auto;
      min-width: 100px;
      height: 29px;
      padding: 5px 10px 6px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin-right: 4px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }

    &-status {
      margin-right: 6px;
      border-radius: 11px;
      padding: 4px 6px;
      font-family: var(--font1);
      font-size: 10px;
    }
  }

  .justify-content-between {
    display: flex !important;
    justify-content: space-between !important;
  }

  .check-list {
    height: 36px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    span {
      font-size: 15px;
      color: #37354e;
      vertical-align: middle;
    }
  }

  /**
  empty
   */
  .empty {
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;

    &-sm {
      height: 125px !important;
      padding-bottom: 0 !important;
    }

    img {
      width: 42px;
      height: 42px;
    }

    >p {
      padding-top: 10px;
      font-size: 14px;
      color: var(--text-02);
      text-align: center;
    }

    .description {
      position: absolute;
      top: 20px;
      width: calc(100% - 40px);
    }

    &.means-account {
      height: calc(100vh - 234px);
      padding: 0;
    }

    &.mission-area {
      min-height: calc(100vh - 116px);
    }

    &-data {
      &:after {
        display: none !important;
      }
    }
  }

  /**
  btn-wrap
   */
  .btn-wrap {
    &.btn-wrap-block {
      .btn {
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.bottom-fixed {
      width: 100%;
      position: fixed;
      left: 0;
      z-index: 5;
      padding: 0 20px;
      bottom: 0;
      background: #fff;
      height: 80px;
    }

    &.btn-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        width: calc(50% - 4px);
      }
    }
  }


  .fixed-style {
    background-color: #fff;
    padding: 0 20px 30px 20px;
  }

  /**
  상단 타이틀 : 2022년 6월 >
   */
  .current-month {
    margin: 0 20px 15px 20px;

    &-manage {
      margin-top: 10px;
    }

    a {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: var(--text-01);
      display: inline-block;
      vertical-align: middle;
      font-family: var(--font2);
    }

    &.report {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-family: var(--font2);
      }

      .btn-edit {
        padding: 8px;
        border: 1px solid #e2e3e6;
        font-size: 12px;
        color: var(--text-02);
        line-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        height: auto;

        img {
          margin-right: 4px;
        }
      }
    }

  }

  .img-ci {
    width: 32px !important;
    margin: 4px !important;
  }



  .update-ing {
    font-size: 13px;
    color: var(--text-point-color);
    font-family: var(--font2);
    margin-right: 2px;
    display: flex;
    align-items: center;

    lottie-player {
      margin-left: 2px;
    }
  }


  .link-type {
    font-size: 16px;
    color: var(--text-01);
    font-family: var(--font2);
    padding: 30px 20px;
    border-top: 1px solid #efefef;

    a {
      display: flex;
      justify-content: space-between;
      align-content: center;

      &~a {
        margin-top: 30px;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        color: #37354e;
        font-family: var(--font2);
      }

      .ico_list_arrow_small {
        background: url(../../img/sprite/common/ico_list_arrow_small@2x.png) no-repeat top 5px center/contain;
        display: inline-block;
        width: 6px;
        height: 24px;
      }
    }
  }
}

/**
  badge
  */
.badge {
  display: inline-block;
  font-size: 11px;
  padding: 5px 6px;
  border-radius: 6px;
  font-weight: 500;
  font-family: var(--font2);
  vertical-align: baseline;
  line-height: 1em;

  &.badge-outline-purple {
    position: relative;
    border: 1px solid #6839d3;
    border-radius: 11px;
    padding: 3px 16px 4px 7px;
    color: var(--text-point-color);
    font-family: var(--font2);
    font-size: 11px;
    line-height: 1;

    &:after {
      content: '';
      width: 5px;
      height: 5px;
      border-top: 1px solid #6839d3;
      border-right: 1px solid #6839d3;
      position: absolute;
      right: 8px;
      top: 6px;
      transform: rotate(45deg);
    }
  }

  &.badge-gray {
    color: #9992a0;
    background: #eeedf0;
  }

  &.badge-pink {
    color: #f21730;
    background: #feecee;
  }

  &.badge-purple {
    color: #6839d3;
    background: #f4efff;

    &.outline {
      position: relative;
      border: 1px solid #6839d3;
      border-radius: 11px;
      padding: 4px 9px;
      margin-left: 8px;
      color: var(--text-point-color);
      font-family: var(--font2);
      font-size: 11px;
      line-height: 1;
      background: transparent;
      vertical-align: top;

    }
  }

  &.badge-blue {
    color: #3968d3;
    background: #eff8ff;
  }

  &-lg {
    width: auto;
    min-width: 100px;
    height: 29px;
    padding: 5px 10px 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-right: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}

/**
  icon
   */
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.icon_cate_salary {
    background-image: url(../../img/common/expenditure/icon-category/img_cate_salary@2x.png);
  }

  &.icon_cate_baby {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_baby@2x.png);
  }

  &.icon_cate_beauty {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_beauty@2x.png);
  }

  &.icon_cate_car {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_car@2x.png);
  }

  &.icon_cate_cloth {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_cloth@2x.png);
  }

  &.icon_cate_dessert {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_dessert@2x.png);
  }

  &.icon_cate_education {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_education@2x.png);
  }

  &.icon_cate_etc {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_etc@2x.png);
  }

  &.icon_cate_event {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_event@2x.png);
  }

  &.icon_cate_exception {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_exception@2x.png);
  }

  &.icon_cate_food {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_food@2x.png);
  }

  &.icon_cate_goods {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_goods@2x.png);
  }

  &.icon_cate_helath {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_helath@2x.png);
  }

  &.icon_cate_house {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_house@2x.png);
  }

  &.icon_cate_insurance {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_insurance@2x.png);
  }

  &.icon_cate_leisure {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_leisure@2x.png);
  }

  &.icon_cate_loan {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_loan@2x.png);
  }

  &.icon_cate_meeting {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_meeting@2x.png);
  }

  &.icon_cate_mobile {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_mobile@2x.png);
  }

  &.icon_cate_money {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_money@2x.png);
  }

  &.icon_cate_pet {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_pet@2x.png);
  }

  &.icon_cate_save {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_save@2x.png);
  }

  &.icon_cate_subscript {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_subscript@2x.png);
  }

  &.icon_cate_tax {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_tax@2x.png);
  }

  &.icon_cate_transportation {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_transportation@2x.png);
  }

  &.icon_cate_trip {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_trip@2x.png);
  }

  &.icon_cate_cash {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_cash@2x.png);
  }

  &.icon_cate_donation {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_heart@2x.png);
  }

  &.icon_cate_mart {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_mart@2x.png);
  }

  &.icon_cate_cafe {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_dessert@2x.png);
  }

  &.icon_cate_wine {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_entertainment@2x.png);
  }

  &.icon_cate_living {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_goods@2x.png);
  }

  &.icon_cate_shopping {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_shopping@2x.png);
  }

  &.icon_cate_hobbies {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_leisure@2x.png);
  }

  &.icon_cate_travel {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_travel@2x.png);
  }

  &.icon_cate_gift {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_event@2x.png);
  }

  &.icon_cate_health {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_helath@2x.png);
  }

  &.icon_cate_allowance {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_allowance@2x.png);
  }

  &.icon_cate_allowance {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_allowance@2x.png);
  }

  &.icon_cate_allowance {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_transportation@2x.png);
  }

  &.icon_cate_descendant {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_descendant@2x.png);
  }

  &.icon_cate_animal {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_pet@2x.png);
  }

  &.icon_cate_country {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_trip@2x.png);
  }

  &.icon_cate_ATM {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_ATM@2x.png);
  }

  &.icon_cate_transfer {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_transfer@2x.png);
  }

  &.icon_cate_cardPayment {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_cardpayment@2x.png);
  }

  &.icon_cate_cardPayment {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_cardpayment@2x.png);
  }

  &.icon_cate_traffic {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_transportation@2x.png);
  }

  &.icon_cate_income {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_deposit@2x.png);
  }

  &.icon_cate_deposit {
    background-image: url(../../img/common/expenditure/icon-category/ic_cate_income@2x.png);
  }

  &.icon_direct_input {
    background-image: url(../../img/common/expenditure/icon-category/ic_direct_input_big@2x.png);
  }
}


.ico_list_arrow_small {
  display: inline-block;
  width: 6px;
  height: 16px;
  background: url(../../img/sprite/common/ico_list_arrow_small@2x.png) no-repeat center / contain;
}

.ico_list_arrow_large {
  display: inline-block;
  width: 10px;
  height: 24px;
  background: url(../../img/common/ico-list-arrow-large@2x.png) no-repeat center / contain;
}

.ico_statement {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../img/sprite/common/ic_statement@2x.png) no-repeat center / contain;
}

.ico_btn_move_small {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../img/common/btn_main_move_small@2x.png) no-repeat center / contain;
}

.ico_btn_list_move_small {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../img/common/btn_list_move_small@2x.png) no-repeat center / contain;
}



.bg-light-purple {
  background-color: #f0e6ff;

  &.opacity {
    background-color: #F7F2FF;
  }
}

.bg-light-pink {
  background-color: #ffe3f6;

  &.opacity {
    background-color: #FFF1FA;
  }
}

.bg-light-blue {
  background-color: #d9eaff;

  &.opacity {
    background-color: #ECF4FF;
  }
}

.bg-light-navy {
  background-color: #e0e7ff;

  &.opacity {
    background-color: #EFF3FF;
  }
}

.bg-light-green {
  background-color: #def4e6;

  &.opacity {
    background-color: #EEF9F2;
  }
}

.bg-purple {
  background-color: #873cff;

  &.opacity {
    background-color: #AA76FF;
  }
}

.bg-pink {
  background-color: #d318eb;

  &.opacity {
    background-color: #E05CF1;
  }
}

.bg-blue {
  background-color: #4393ff;

  &.opacity {
    background-color: #7BB3FF;
  }
}

.bg-navy {
  background-color: #3654ce;

  &.opacity {
    background-color: #7187DC;
  }
}

.bg-green {
  background-color: #15b78b;

  &.opacity {
    background-color: #5ACCAD;
  }
}

.font-purple {
  color: #873cff;
}

.font-pink {
  color: #d318eb;
}

.font-blue {
  color: #4393ff;
}

.font-navy {
  color: #3654ce;
}

.font-green {
  color: #15b78b;
}