.lifestyle {
    padding-bottom: 62px;

    // banner-case-bg
    .bg-gray{
        background: #f7f7f7;
    }
    .bg-yellow{
        background: #fff9ef;
    }
    .bg-pink{
        background: #fff5f5;
    }

    .f-red{
        color: #ef4b61;
    }

    h3 {
        font-size: 18px;
        line-height: 27px;
        font-family: var(--font3);
        margin-bottom: 16px;
        word-break: keep-all;
        &.main{
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 0;
        }
    }

    .flex-align-center {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 15px;
    }

    .card-box {
        padding: 20px;
        width: 100%;
        
        &.no-pb{
            padding-bottom: 0;
        }

        &.only-pt{
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        .title{
            padding-top: 8px;
        }
    }

    .my-point-state{
        margin-left: auto;
        gap: 20px;
        a:first-of-type {
            position: relative;
            &::after{
                content: "";
                display: inline-block;
                width: 1px;
                height: 11px;
                background: #e7e8ea;
                position: absolute;
                top: 50%;
                right: -10px;
                transform: translateY(-50%);
            }
        }
        a{
            color: var(--text-01);
        }
        img{
            width: 20px;
            height: 20px;
            margin-right: 4px;
            margin-top: 1px;
        }
        strong{
            font-family: var(--font3);
            font-size: 16px;
            line-height: 22px;
            margin-right: 1px;
        }
        span{
            font-family: var(--font2);
            font-size: 15px;
            line-height: 22px;
        }
    } 
    
    .credit-card {
        padding: 24px 20px;
        border-radius: 16px;
        background: #f9f2ff;

        .desc {
            p {
                font-size: 18px;
                line-height: 26px;
                font-family: var(--font2);
                word-break: keep-all;
            }

            a {
                background: var(--color-point);
                padding: 9px 12px;
                border-radius: 6px;
                margin-top: 11px;
                max-width: 90px;

                span {
                    font-size: 14px;
                    line-height: 19px;
                    word-break: keep-all;
                    color: var(--white);
                    letter-spacing: -0.3px;
                }

                img {
                    width: 6px;
                    height: 16px;
                    filter: invert(1);
                    margin-left: 4px;
                }
            }
        }

        .search-img {
            width: 140px;
            height: 102px;
            margin-left: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .recommend-wrap{     
        h3{
            padding: 20px 20px 0;
            margin-bottom: 0;
            & + div{
                padding-top: 16px;
            }
        }

        .card-overlay {
            overflow: hidden;
        }

        .recommend-box {
            padding: 34px 0;
            background: #d1f1ff;
            border-radius: 16px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        .lottie-box {
            width: 768px;
            height: 56px;
            margin: 0 auto;
        }
    
        .card-bottom {
            padding: 20px;
            background: #F8FAFF;
            border-radius: 16px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            column-gap: 10px;
            row-gap: 4px;
    
            p {
                font-size: 15px;
                font-family: var(--font3);
                line-height: 22px;
                margin-bottom: 4px;
                word-break: keep-all;
            }
    
            span {
                font-size: 14px;
                font-weight: var(--font1);
                line-height: 20px;
                color: var(--text-02);
                word-break: keep-all;
            }
    
            .view-btn {
                border-radius: 6px;
                background: #f2ebff;
                padding: 8px 12px;
                margin-left: auto;
                font-size: 12px;
                font-family: var(--font2);
                color: var(--color-point);
            }
        }
    
        .what-card {
            padding: 12px 0;
            background: #d6f7f6;
            border-radius: 16px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
    
            .card-3d-img {
                width: 200px;
                height: 100px;
                margin: 0 auto;
    
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    
        .theme-box {
            padding: 28px 20px;
            border-radius: 16px;
            background: #e2f5ff;
    
            div {
                max-width: 200px;
            }
    
            .tit {
                font-family: var(--font3);
                font-size: 15px;
                line-height: 22px;
                color: #339feb;
                word-break: keep-all;
                margin-bottom: 4px;
            }
        }
    }

    .event-box{
        padding: 20px;
        border-radius: 16px;
        gap: 16px; 
        background: #f5f4ff;

        .event-img{
            width: 40px;
            height: 40px;
            img{
                width: 100%;
                height: 100%;
                object-fit:contain;
            }
        }

        .desc{
            span{
                font-family: var(--font1);
                font-size: 14px;
                line-height: 20px;
                color: var(--text-02);
                word-break: keep-all;
                margin-bottom: 2px;
            }

            p{
                font-family: var(--font2);
                font-size: 16px;
                line-height: 24px;
                word-break: keep-all;
                color: var(--text-01);

                strong{
                    font-family: var(--font3);
                    color: var(--color-point);
                }
            }
        }
    }

    .all-btn {
        font-size: 15px;
        font-family: var(--font1);
        line-height: 22px;
        color: var(--text-02);
        background: transparent;
        margin-bottom: 16px;
        margin-left: auto;

        img {
            width: 6px;
            height: 16px;
            margin-left: 4px;
            filter: contrast(0.5);
        }
    }

    .card-type {
        max-width: 200px;
        padding: 24px 20px 20px;

        .card-name {
            margin: 24px 0 6px;
            font-size: 16px;
            font-family: var(--font2);
            line-height: 24px;
            word-break: keep-all;
            text-align: center;

            &.best {
                color: var(--color-point);
            }
        }

        .benefit {
            font-size: 13px;
            font-family: var(--font1);
            line-height: 20px;
            color: var(--text-02);
            text-align: center;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;

        }

        a {
            display: block;
            font-size: 14px;
            font-family: var(--font2);
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.3px;
            color: var(--color-point);
            padding: 9px 24px;
            border-radius: 6px;
            background-color: #f5f0ff;
            margin-top: 17px;
            word-break: keep-all;

            span {
                font-family: var(--font3);
            }

            &:hover {
                background: var(--color-point);
                color: var(--white);
            }
        }

        .find-btn {
            background: var(--color-point);
            color: var(--white);
        }
    }
    
    .insurance-box {
        padding: 22px 14px 22px 20px;
        background: #e7f8f3;
        border-radius: 16px;
        margin-bottom: 44px;

        .point {
            font-size: 16px;
            font-family: var(--font3);
            line-height: 24px;
            color: #2f9d7d;
        }
        
        span {
            font-size: 14px;
            font-family: var(--font1);
            line-height: 20px;
            color: var(--text-01);
            margin-bottom: 2px;
        }

        .insurance-img {
            width: 100px;
            height: 90px;
            margin: -22px 0 -22px auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .card-corp {
        font-family: var(--font2);
        font-size: 16px;
        line-height: 24px;
        color: var(--text-01);
        word-break: keep-all;
        margin-bottom: 2px;

        display: -webkit-box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card-desc {
        font-family: var(--font1);
        font-size: 14px;
        color: var(--text-02);
        word-break: keep-all;
    }

    .circle-type {
        width: 80px;
        height: 80px;
        background: var(--white);
        border-radius: 50%;
        text-align: center;
        margin-left: auto;

        img {
            width: 50px;
            height: 80px;
        }

        &.circle-type-center {
            width: 88px;
            height: 88px;
            background: #f5f5fc;
            margin: 0 auto;

            img {
                width: 54px;
                height: 88px;
            }
        }

        &.circle-type-sm{
            width: 52px;
            height: 52px;
            background: #f5f5fc;
            img {
                width: 34px;
                height: 52px;
            }
        }
    }

    .swiper-slide {
        border-radius: 16px;

        &:first-child {
            margin-left: 20px;
        }
        &:last-child{
            margin-right: 20px;
        }
    }

    .box-type {
        max-width: 253px;
        min-height: 150px;
        padding: 20px;
        position: relative;

        &:first-of-type{
            background: #fff0ed;
            .tag{
                background: #f46b54;
            }
        }
        &:nth-of-type(2){
            background: #eafadf;
            .tag{
                background: #48aa00;
            }
        }
        &:nth-of-type(3){
            background: #fff7ea;
            .tag{
                background: #f8a405;
            }
        }
        &:nth-of-type(4){
            background: #f2f4ff;
            .tag{
                background: #7165ef;
            }
        }
        &:nth-of-type(5){
            background: #e8f6ff;
            .tag{
                background: #179fff;
            }
        }
        &:nth-of-type(6){
            background: #fff2f7;
            .tag{
                background: #f86196;
            }
        }

        .tag {
            display: inline-block;
            border-radius: 11.5px;
            padding: 2px 8px;
            color: var(--white);
            font-size: 13px;
            font-family: var(--font3);
            line-height: 20px;
            text-align: center;
        }

        p {
            max-width: 130px;
            font-size: 16px;
            font-family: var(--font2);
            line-height: 24px;
            margin-top: 8px;
            color: var(--text-01);
            word-break: keep-all;

            display: -webkit-box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .double-card-img{
            position: absolute;
            width: 50px;
            height: 80px;

            &:first-of-type{
                bottom: 34px;
                right: 38px;
                z-index: 2;
            }
            
            &:last-of-type{
                bottom: 20px;
                right: 20px;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .tag-list{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        margin-top: 16px;

        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        li{
            flex-shrink: 0;
            padding: 6px 12px;
            background: var(--white);
            border: 1px solid #d6caf2;
            border-radius: 6px;
        }

        a{
            font-size: 14px;
            line-height: 17px;
            font-family: var(--font2);
            color: var(--color-point);
            word-break: keep-all;
        }

        &.position-fix{
            position: sticky;
            top: 66px;
            width: 100%;
            z-index: 10;
            background: var(--white);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        }
    }

    .benefit-wrap{
        padding: 0 20px;

        .title{
            font-size: 16px;
            line-height: 24px;
            font-family: var(--font3);
            margin: 40px 0 10px;

            .line{
                width: 3px;
                height: 20px;
                margin-right: 10px;
                border-radius: 1.5px;
            }
        }
        
        &:first-of-type{
            .title{
                margin-top: 30px;
                color: #f46b54;
                .line{
                    background: #f46b54;
                }
            }
        }
        &:nth-of-type(2){
            .title{
                color: #48aa00;
                .line{
                    background: #48aa00;
                }
            }
        }
        &:nth-of-type(3){
            .title{
                color: #f8a405;
                .line{
                    background: #f8a405;
                }
            }
        }
        &:nth-of-type(4){
            .title{
                color: #7165ef;
                .line{
                    background: #7165ef;
                }
            }
        }
        &:nth-of-type(5){
            .title{
                color: #179fff;
                .line{
                    background: #179fff;
                }
            }
        }
        &:last-of-type{
            .title{
                color: #f86196;
                .line{
                    background: #f86196;
                }
            }
        }

        &:last-child{
            padding-bottom: 30px;
        }
    }

    .benefit-list{
        img{
            width: 100%;
            height: auto;
            vertical-align: initial;
        }

        .list-item{
            padding: 20px 0;
            gap: 20px;
        }

        .card-desc{
            flex: 1;
            padding: 5px 0;

            p{
                font-size: 16px;
                line-height: 24px;
                font-family: var(--font2);
                word-break: keep-all;
                color: var(--text-01);
            }
            
            ul{
                gap: 6px;
                margin: 6px 0;
            }

            .category{
                padding: 2px 6px;
                background: #f7f7f8;
                border-radius: 6px;
                text-align: center;
                word-break: keep-all;
                font-family: var(--font1);
                font-size: 12px;
                color: var(--text-02);
                line-height: 18px;
                word-break: keep-all;
            }

        }

        .dc{
            font-family: var(--font2);
            font-size: 14px;
            line-height: 20px;
            color: var(--color-point);
            word-break: keep-all;

            display: -webkit-box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
        }   
    }

    .event-tag {
        background: linear-gradient(to right, #7d4af2, #a767ff);
        padding: 3px 10px;
        border-radius: 6px;
        max-width: 132px;
        color: var(--white);
        font-family: var(--font2);
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
        text-align: center;
        letter-spacing: -0.3px;
        word-break: keep-all;
    }

    .add-btn{
        width: 100%;
        min-height: 36px;
        padding: 8px 0;
        margin-top: 10px;
        justify-content: center;
        gap: 2px;
        font-size: 13px;
        line-height: 19px;
        font-family: var(--font1);
        color: var(--text-03);
        outline: none;

        span{
            display: inline-block;
            width: 15px;
            height: 15px;

            img{
                width: 100%;
                height: auto;
                vertical-align: initial;
            }
        }
    }

    .best-pick{
        margin: 20px 20px 0 20px;
        h3{
            margin-bottom: 0;
        }

        .f-point{
            font-size: 16px;
            line-height: 24px;
            font-family: var(--font2);
            padding-bottom: 2px;
        }

        .icon{
            width: 120px;
            height: 70px;
            margin-left: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .best-list{
        padding: 0 20px 30px;

        .best-one{
            width: 100%;
            min-height: 120px;
            border-radius: 20px;
            padding: 20px 0 20px 18px;
            margin-top: 20px;
            background: linear-gradient(to right, #ffedfe, #e7d8ff);

            .num{
                font-size: 22px;
                line-height: 29px;
                font-family: var(--font3);
                margin-right: 20px;
            }
            
            .card-img{
                width: 50px;
                height: 80px;
                margin-right: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
                &.circle-type {
                    margin-left: 0;
                }
                &.circle-type-sm{
                    background: transparent;
                }
            }

            .corp{
                font-size: 12px;
                line-height: 18px;
                font-family: var(--font1);
                color: var(--text-02);
                word-break: keep-all;
            }

            .card-name{
                font-size: 16px;
                line-height: 24px;
                font-family: var(--font2);
                color: var(--text-01);
                word-break: keep-all;
                margin: 2px 0 6px;
            }
        }

        li:not(.best-one){
            padding: 0 20px 0 15px;
            margin-top: 40px;
            &:nth-child(2){
                margin-top: 30px;
            }

            .num{
                font-size: 16px;
                line-height: 21px;
                font-family: var(--font2);
                color: var(--text-01);
                margin-right: 20px;
            }
            // 십의 자리
            &:nth-child(n+10){
                .num{
                    margin-right: 11px;
                }
            }


            .item-desc{
                flex: 1;
                margin-left: 16px;
            }

            .card-name{
                font-size: 15px;
                line-height: 22px;
                font-family: var(--font2);
                color: var(--text-01);
                word-break: keep-all;
            }
        }

        .event-tag{
            margin-top: 4px;
        }
    }

    .summary-title{
        padding: 20px 20px 0 20px;
        p{
            font-size: 18px;
            line-height: 30px;
            font-family: var(--font1);
            word-break: keep-all;
            span{
                font-family: var(--font3);
            }
        }

        .icon{
            width: 120px;
            height: 88px;
            margin-left: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: initial;
            }
        }
    }

    .summary-box{
        padding: 30px 20px 0;
        
        .summary-conts{
            background: #f5f4ff;
            border-radius: 14px;
            padding: 20px 20px 0;
        }
        
        .title{
            font-size: 16px;
            line-height: 24px;
            font-family: var(--font3);
            word-break: keep-all;
        }

        li{
            margin-top: 18px;
        }

        .circle-icon{
            width: 38px;
            height: 38px;
            background: var(--white);
            border-radius: 50%;
            padding: 7px;
            margin-right: 12px;
            
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }

        .detail{
            flex: 1;

            p{
                display: flex;
                margin-bottom: 3px;
            }
            

            .category{
                font-size: 15px;
                line-height: 22px;
                font-family: var(--font2);
                word-break: keep-all;
            }

            .account{
                font-size: 15px;
                line-height: 22px;
                font-family: var(--font2);
                word-break: keep-all;
                margin-left: auto;
            }

            .count{
                font-size: 13px;
                line-height: 19px;
                font-family: var(--font1);
                word-break: keep-all;
                color: var(--text-02);
            }
        }

        .find-btn{
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            font-family: var(--font2);
            word-break: keep-all;
            padding: 18px 0;
            border-top: 1px solid #e9e9f2;
            margin-top: 18px;
            gap: 4px;
            justify-content: center;

            span{
                display: inline-block;
                width: 6px;
                height: 16px;

                img{
                    width: 100%;
                    height: auto;
                    vertical-align: initial;
                }
            }
        }
    }

    .event-card-list{
        padding: 0 20px;
        margin-top: 10px;
        
        li{
            padding: 16px 0;
        }

        a{
            width: 100%;
        }

        .logo{
            width: 40px;
            height: 40px;
            margin-right: 16px;

            img{
                width: 100%;
                height: 100%;
                vertical-align: initial;
            }
        }

        .event-desc{
            .event-card{
                font-size: 14px;
                line-height: 20px;
                font-family: var(--font1);
                word-break: keep-all;
                color: var(--text-02);
            }
            .event-benefit{
                max-width: 242px;
                font-size: 16px;
                line-height: 24px;
                font-family: var(--font2);
                word-break: keep-all;
                color: var(--text-01);
                margin: 2px 0;
                display: -webkit-box;
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .event-date{
                font-size: 12px;
                line-height: 18px;
                font-family: var(--font1);
                word-break: keep-all;
                color: var(--text-03);
            }
        }

        .ico{
            margin-left: auto;
        }
    }

    .ico{
        width: 6px;
        height: 16px;
        img{
            width: 100%;
            height: 100%;
            vertical-align: initial;
        }
    }

    .event-banner{
        padding: 30px 28px;
        background: #f5f4ff;

        .subject{
            font-size: 20px;
            line-height: 30px;
            font-family: var(--font3);
            word-break: keep-all;
        }
        
        .date{
            font-size: 13px;
            line-height: 19px;
            font-family: var(--font1);
            color: var(--text-02);
            margin-top: 10px;
        }

        .logo{
            width: 40px;
            height: 40px;
            margin-left: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .step-list{
        position: relative;
        padding: 40px 20px 0;

        .step-title{
            display: flex;

            .num{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: var(--color-point);
                text-align: center;
                margin-top: 3px;
                span{
                    font-size: 16px;
                    line-height: 21px;
                    font-family: var(--font3);
                    color: var(--white);
                }
            }
    
            .title{
                font-size: 18px;
                line-height: 27px;
                font-family: var(--font3);
                margin-left: 16px;
            }
        }

        .step-box{
            width: calc(100% - 38px);
            background: #f7f8fc;
            border-radius: 10px;
            padding: 24px 20px;
            margin-top: 20px;
            margin-left: auto;

            &.no-bg{
                background: transparent;
                padding: 10px 0 0 0;
                margin-top: 0;
            }

            .card-img{
                width: 34px;
                height: 54px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .step-desc{
                flex: 1;
                margin: 0 12px 0 16px;

                .card-name, .card-dc{
                    display: -webkit-box;
                    word-wrap: break-word;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .card-name{
                    font-size: 15px;
                    line-height: 22px;
                    font-family: var(--font2);
                    word-break: keep-all;
                    margin-bottom: 6px;
                }

                .card-dc{
                    font-size: 12px;
                    line-height: 20px;
                    font-family: var(--font1);
                    color: var(--text-02);
                    word-break: keep-all;
                }
            }

            .view-btn{
                padding: 8px 12px;
                border-radius: 6px;
                background: var(--color-point);
                margin-left: auto;
                font-size: 12px;
                line-height: 18px;
                font-family: var(--font2);
                color: var(--white);
                text-align: center;
            }

            li{
                margin-bottom: 20px;

                .condition{
                    font-size: 13px;
                    line-height: 19px;
                    font-family: var(--font2);
                    word-break: keep-all;
                    color: var(--text-03);
                    margin-bottom: 4px;
                }
    
                .acquire{
                    font-size: 13px;
                    line-height: 18px;
                    font-family: var(--font1);
                    word-break: keep-all;
                }
            }

            .apply-btn{
                width: 100%;
                display: block;
                border-radius: 6px;
                padding: 14px 0;
                margin: 6px 0 12px;
                font-size: 15px;
                line-height: 22px;
                font-family: var(--font2);
                text-align: center;
                color: var(--white);
                background: var(--color-point);
            }

            .event-date{
                font-family: var(--font1);
                font-size: 13px;
                line-height: 19px;
                margin-bottom: 6px;
                word-break: keep-all;
            }

            // line
            &::before{
                content: "";
                display: inline-block;
                width: 4px;
                height: calc(100% - 45px);
                background: #eee;
                position: absolute;
                top: 77px;
                left: 29px;
                z-index: -1;
            }

            &.no-line{
                &::before{
                    display: none;
                }
            }
        }

        .result{
            font-size: 13px;
            line-height: 19px;
            font-family: var(--font1);
            word-break: keep-all;
            margin-left: 28px;
            margin-top: 10px;
        }
    }

    .detail-box{
        padding: 40px 20px 0;

        ul{
            padding: 20px;
            margin-top: 16px;
            background: #f7f8fc;
            border-radius: 10px;
        }

        li{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }   
        }

        .subject {
            font-family: var(--font3);
            font-size: 15px;
            line-height: 22px;
            color: var(--text-02);
            word-break: keep-all;
            margin-bottom: 6px;
            margin-left: 0;

            &::before{
                display: none;
            }
        }
    }

    .dot-list{
        p{
            position: relative;
            font-family: var(--font1);
            font-size: 14px;
            line-height: 20px;
            color: var(--text-02);
            word-break: keep-all;
            margin-bottom: 6px;
            margin-left: 11px;
    
            &::before{
                content: "";
                position: absolute;
                width: 3px;
                height: 3px;
                background: var(--text-02);
                border-radius: 50%;
                top: 9px;
                left: -9px;
            }
        }
    }

    .event-noti{
        margin-top: 40px;
        padding: 40px 20px;
        background: #f7f7f8;

        h3{
            margin-bottom: 17px;
        }

        p{
            font-size: 13px;
            line-height: 20px;
            font-family: var(--font1);
            word-break: keep-all;
            color: var(--text-02);
        }

        .dot-list {
            margin-bottom: 28px;
            &:last-child{
                margin-bottom: 0;
            }

            p{
                margin-bottom: 8px;
                &.emphasis{
                    font-family: var(--font3);
                }
                &.font-lg{
                    font-size: 15px;
                }
                &::before{
                    top: 8px;
                }
            }
        }

        .dash-list{
            li{
                font-family: var(--font3);
                font-size: 15px;
                line-height: 22px;
                color: var(--text-02);
                word-break: keep-all;
                margin-bottom: 6px;
                text-indent: -9px;
                margin-left: 20px;
            }
        }
    }
    

    // bottom btn
    .btn-area{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 20px 30px;
        background: var(--white);
    }

    // floating
    .floating-effect{
        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 20px;
    
            position: fixed;
            left: 0;
            bottom: 80px;
            z-index: 10;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
        }
    }
    .event-btn{
        width: 100%;
        margin-top: 30px;
        a{
            max-width: 220px;
            min-height: 46px;
            display: flex;
            align-items: center;

            font-family: var(--font2);
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            color: var(--white);

            margin: 0 auto;
            padding: 12px 32px;

            border-radius: 23px;
            border: none;
            background: linear-gradient(to right, #7d4af2, #a767ff);
        }

        .emoji{
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        .arrow-icon{
            width: 6px;
            height: 16px;
            margin-left: 4px;
        }

        img{
            width: 100%;
            height: auto;
            vertical-align: initial;
        }
    }

    // toast popup
    .toast-popup{
        top: 88.5%;

        &.top-mb{
            top: 87.6%;
        }

        p{
            font-family: var(--font1);
        }
    }

    .more-icon{
        display: inline-block;
        width: 6px;
        height: 16px;
        margin-left: 3px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }   
    }

    .ico-tooltip{
        display: inline-block;
        width: 16px;
        height: 16px;
        img{
            width: 100%;
            height: auto;
            margin-bottom: 3.5px;
        }
    }

    .banner-area{
        &.sample{
          display: block;
          width: 320px;
          height: 50px;
          margin: 20px auto 0;
        }
        img{
          width: 100%;
          height: auto;
          object-fit: contain;
        }
    }

    // 포인트 및 쿠폰몰  
    // 팝업
    .point-modal{
        .inner{
            padding: 30px;
            .title{
                padding-right: 30px;
                line-height: 28px;
            }
            .desc-box{
                padding: 20px 0 40px;
                p{
                    font-size: 14px;
                }
                .ico_list_arrow_small{
                    top: unset;
                    transform: unset;
                }
            }
            .brand{
                font-family: var(--font1);
                font-size: 14px;
                line-height: 24px;
                color: var(--text-02);
            }
            .product{
                font-family: var(--font3);
                font-size: 18px;
                line-height: 28px;    
                word-break: keep-all;
            }
            .point-detail-list{
                padding: 20px 0 40px;
                border-top: 1px solid var(--text-01);
                li{
                    display: flex;
                    align-items: center;
                    & + li{
                        margin-top: 10px;
                    }
                }
                strong, .normal{
                    font-family: var(--font3);
                    font-size: 15px;
                    line-height: 26px;
                    margin-left: auto;
                }
                .normal{
                    font-family: var(--font1);
                    color: var(--text-02);
                }
                .category{
                    font-family: var(--font1);
                    font-size: 15px;
                    line-height: 26px;
                }
            }
        }
    }
    .point-tooltip{
        .inner{
            padding: 20px 30px 30px 30px;
            .title{
                font-family: var(--font3);
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                padding-right: 0;
                padding-bottom: 30px;
            }
            ul{
                padding: 0 7px;
            }
            li{
                font-family: var(--font1);
                font-size: 15px;
                line-height: 21px;
                text-align: left;
                text-indent: -7px;
                & + li{
                    margin-top: 8px;
                }
                &::before{
                    content: "";
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: var(--text-02);
                    margin-bottom: 3px;
                    margin-right: 5px;
                }
            }
        }
    }
    // 팝업 /////////
    .point-status-box{
        width: calc(100% - 40px);
        min-height: 100px;
        padding: 20px;
        margin: 0 auto 20px;
        border-radius: 16px;
        background-color: #f7f8fc;
    }
    .point-item{
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 16px;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
        .title{
            font-family: var(--font2);
            font-size: 14px;
            line-height: 20px;
        }
        .ico-tooltip{
            width: 14px;
            height: 14px;
            margin-top: 1px;
            &::after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                background: url(../../img/common/ico-tooltip@2x.png) no-repeat center / contain;
            }
        }
        .num{
            display: flex;
            align-items: center;
            margin-left: auto;
            strong{
                font-family: var(--font3);
                font-size: 16px;
                line-height: 23px;
                color: var(--text-01);
            }
            span{
                font-family: var(--font2);
                font-size: 15px;
                line-height: 22px;
                color: var(--text-01);
            }
            i{
                margin-left: 8px;
            }
        }
        .point-badge{
            &::before{
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 4px;
                background: url(../../img/common/lifestyle/ico-uplanner-point-key@2x.png) no-repeat center / contain;
            }
        }
    }
    .point-banner{
        display: block;
        width: calc(100% - 40px);
        height: auto;
        margin: 0 auto 30px;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        &.main{
            width: 100%;
            margin: 20px auto 0;
        }
    }
    .point-list-box{
        padding: 30px 20px;
        position: relative;
        min-height: 472px;
    }
    .point-subject{
        display: flex;
        align-items: center;
        .title{
            font-family: var(--font3);
            font-size: 16px;
            line-height: 26px;
        }
        .sort{
            font-family: var(--font1);
            font-size: 14px;
            line-height: 26px;
            color: var(--text-02);
            margin-left: auto;
            &::after{
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-left: 4px;
                background: url(../../img/common/btn_accordian_main_down@2x.png) no-repeat center / contain;
            }
            &.up{
                &::after{
                    rotate: 180deg;
                }
            }
        }
        .total{
            display: inline-block;
            font-family: var(--font1);
            font-size: 16px;
            line-height: 26px;
        }
        .num{
            font-family: var(--font3);
        }
    }
    .point-list{
        .list-item{
            padding: 20px 0;
            border-bottom: 1px solid  #efefef;
            &:last-child{
                border-bottom: none;
            }
        }
        .date, .route{
            font-family: var(--font1);
            font-size: 12px;
            line-height: 20px;
            color: var(--text-02);
        }
        .date{
            color: var(--text-03);
        }
        .category{
            display: flex;
            align-items: center;
            margin: 4px 0;
            span, strong{
                font-size: 16px;
                line-height: 26px;
            }
            .obj{
                font-family: var(--font2);
            }
            .num{
                margin-left: auto;
                span{
                    font-family: var(--font1);
                    text-align: right;
                }
            }
            .plus, .minus{
                font-family: var(--font3);
                text-align: right;
            }
        }
    }
    .no-point{
        width: 160px;
        height: 160px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    .point-mall-box{
        padding: 10px 20px 30px;
    }
    .point-main-list{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, minmax(calc(50% - 12px), 1fr));
        column-gap: 12px;
        row-gap: 30px;
        a{
            width: inherit;
            display: flex;
            flex-direction: column;
            color: var(--text-01);
            position: relative;
        }
        .used, .expired{
            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: auto;
                aspect-ratio: 1 / 1;
                opacity: 0.7;
                border-radius: 6px;
                background-color: var(--white);
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after{
                content: "";
                display: inline-block;
                width: 37%;
                height: auto;
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 8px;
                right: 8px;
            }
        }
        .used{
            &::after{
                background: url(../../img/common/lifestyle/img-coupon-useok@2x.png) no-repeat center / contain;
            }
        }
        .expired{
            &::after{
                background: url(../../img/common/lifestyle/img-coupon-expired@2x.png) no-repeat center / contain;
            }
        }
        img{
            border-radius: 6px;
            border: solid 1px rgba(0, 0, 0, 0.05);
            margin-bottom: 8px;
        }
        .brand, .giftcon, .validity{
            font-family: var(--font1);
            line-height: 20px;
            word-break: keep-all;
        }
        .brand{
            font-size: 12px;
            color: var(--text-02);
            margin-bottom: 2px;
        }
        .giftcon{
            font-size: 14px;
            margin-bottom: 5px;
            // display: -webkit-box;
            // word-wrap: break-word;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
            // text-overflow: ellipsis;
            // overflow: hidden;
        }
        .price{
            font-family: var(--font3);
            font-size: 16px;
            line-height: 22px;
        }
        .validity{
            font-size: 12px;
            color: var(--text-03);
        }
    }
    .day-badge{ 
        padding: 2px 6px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #9b9aa6;
        position: absolute;
        top: 1px;
        left: 1px;

        font-family: var(--font2);
        font-size: 12px;
        line-height: 20px;
        color: var(--white);

        &.expire{
            background-color: #6839d3;
        }
    }
    .point-gift-img{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .point-detail-box{
        padding: 20px 20px 30px;
        .brand{
            display: inline-block;
            font-family: var(--font1);
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 6px;
            color: var(--text-02);
            word-break: keep-all;
            &::after{
                content: "";
                display: inline-block;
                width: 6px;
                height: 16px;
                margin-left: 4px;
                vertical-align: bottom;
                background: url(../../img/common/arrow-list-add@2x.png) no-repeat center / contain;
            }
        }
        .gift-name{
            font-family: var(--font1);
            font-size: 18px;
            line-height: 26px;
            word-break: keep-all;
            margin-bottom: 6px;
        }
        .price{
            display: block;
            font-family: var(--font3);
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 6px;
        }
        .validity{
            font-family: var(--font1);
            font-size: 13px;
            color: var(--text-03);
        }
    }
    .point-notice-list{
        padding: 20px 0 90px;
        .title{
            display: inline-block;
            font-family: var(--font3);
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        li{
            & + li{
                margin-top: 30px;
            }
        }
        span{
            display: inline-block;
            font-family: var(--font2);
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 12px;
        }
        p{
            font-family: var(--font1);
            font-size: 13px;
            line-height: 20px;
            color: var(--text-02);
            text-indent: -11px;
            padding-left: 13px;
            word-break: keep-all;
            &::before{
                content: "";
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                margin-bottom: 3px;
                margin-right: 7px;
                background-color: var(--text-03);
            }
            & + p{
                margin-top: 6px;
            }
        }
    }
    .point-toast{
        width: calc(100% - 60px);
        padding: 15px 0;
        position: fixed;
        left: 50%;
        bottom: 90px;
        transform: translateX(-50%);
        z-index: 12;
        border-radius: 6px;
        opacity: 0.9;
        background-color: var(--text-01);
        p{
            font-family: var(--font1);
            font-size: 12px;
            line-height: 18px;
            color: var(--white);
            text-align: center;
        }
        &.copy{
            bottom: 30px;
        }
    }
    .point-tab{
        border-bottom: 1px solid #e3e4e8;
        &.expenditure-tab {
            ul {
              li {
                padding: 12px 6px !important;
                margin-right: 10px;
              }
            }
          }
    }
    .my-coupon-box{
        width: 100%;
        min-height: calc(100vh - 160px);
        padding: 20px 20px 50px;
        position: relative;
        .noti{
            font-family: var(--font1);
            font-size: 13px;
            color: var(--text-02);
            margin-top: 5px;
        }
    }
    .no-coupon{
        width: calc(100% - 95px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        img{
            width: 100px;
            height: 130px;
            margin-bottom: 20px;
        }
        p{
            font-family: var(--font1);
            font-size: 14px;
            line-height: 20px;
            color: var(--text-02);
            margin-bottom: 40px;
        }
    }
    .coupon-detail-box{
        padding: 20px 20px 40px;
        text-align: center;
        .coupon-img{
            max-width: 250px;
            height: auto;
            border-radius: 6px;
            border: solid 1px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            margin: 0 auto 30px;
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
            background-color: #f5f5f5;
            position: relative;
            &.used, &.expired{
                border-color: rgba(0, 0, 0, 0.03);
                &::before{
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    border-radius: 6px;
                    background-color: var(--white);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::after{
                    content: "";
                    display: inline-block;
                    width: 28%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    position: absolute;
                    top: 14px;
                    right: 14px;
                }
            }
            &.used{
                &::after{
                    background: url(../../img/common/lifestyle/img-coupon-useok@2x.png) no-repeat center / contain;
                }
            }
            &.expired{
                &::after{
                    background: url(../../img/common/lifestyle/img-coupon-expired@2x.png) no-repeat center / contain;
                }
            }
        }
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        .brand{
            font-family: var(--font1);
            font-size: 14px;
            line-height: 20px;
            color: var(--text-02);
            word-break: keep-all;
        }
        .coupon-name{
            font-family: var(--font3);
            font-size: 18px;
            line-height: 24px;
            margin: 5px 0;
            word-break: keep-all;
        }
        .validity{
            font-family: var(--font1);
            font-size: 13px;
        }
    }
    .coupon-barcode{
        padding-top: 30px;
        margin-top: 20px;
        border-top: 1px solid #efefef;
        .barcode{
            width: 220px;
            height: 60px;
            margin: 0 auto 16px;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .code{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        .serial-number{
            font-family: var(--font2);
            font-size: 15px;
            line-height: 20px;
        }
        .copy-btn{
            padding: 3px 7px;
            border: 1px solid #e2e3e6;
            border-radius: 4px;
            background-color: var(--white);
            font-family: var(--font2);
            font-size: 12px;
            color: var(--text-02);
            &:focus, &:active, &:focus-visible{
                outline: #e2e3e6;
                border-color: #e2e3e6;
            }
        }
    }
    // 포인트 및 쿠폰몰 /////////
}

/*팝업*/
.modal-life {
    .modal-dialog {
      width: 270px;
      max-width: 270px;
  
      .modal-content {
        border-radius: 0;
        padding: 0;
  
        .modal-body {
          flex: none;
          padding: 30px;
  
          p {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            font-family: var(--font1);
          }
        }
  
        .modal-footer{
          .btn-footer{
            font-size: 13px;
          }
        }
      }
    }
}