// 자산
.renewal{
    .property{
        // 기존 스타일 수정
        .account-detail-wrap{
            padding-top: 0;
            padding-bottom: 0;
        }
        .expenditure-box{
            .account-detail-wrap{
                .info-wrap{
                    .title-box{
                        i{
                            margin-top: 7px;
                        }
                    }
                    .amount{
                        height: 37px;
                        strong{
                            line-height: 1;
                        }
                        .currency{
                            font-size: 22px;
                            padding-top: 3px;
                        }
                    }
                    .info-list{
                        padding: 48px 0 0 0;
                        &:has(.val-memo){
                            padding: 24px 0 0 0;
                        }
                        .item{
                            padding: 0;
                            & + .item{
                                padding-top: 30px;
                            }
                            &:has(.visa){
                                padding-top: 0;
                                .val{
                                    margin-left: auto;
                                }
                            }
                            &.top-bar{
                                border-top: 1px solid #efefef;
                                margin-top: 30px;
                            }
                            .switch{
                                height: 24px;
                                line-height: 22px;
                            }
                            .val{
                                &.edit{
                                    font-size: 15px;
                                    font-weight: var(--font1);
                                    color: #c2c1cc;
                                }
                            }
                        }
                        .item.item-column{
                            .val-memo{
                                margin-top: 0;
                            } 
                        }
                    }
                }
            }
            & + .divider{
                margin-top: 24px;
            }
        }
        .expenditure-tab{
            &.stock{
                margin-top: 24px;
            }
            ul{
                li{
                    margin-right: 14px;
                    &.active{
                        &::after{
                            background-color: #000;
                        }
                    } 
                }  
            } 
        }
        
        .tag-box{
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 4px;
            .tag{
                padding: 1px 8px 2px;
                border-radius: 10.5px;
                font-size: 12px;
                font-family: var(--font2);
                color: var(--text-03);
                background: #eeedf0;
                &.point{
                    color: var(--color-point);
                    background: #f4efff;
                }
            }
        }
        .account-box{
            margin-bottom: 16px;
            .bank{
                display: flex;
                align-items: center;
                gap: 17px;
                font-size: 15px;
                font-family: var(--font1);
                line-height: 1.5;
                color: var(--text-02);
            }
            .bank-name{
                position: relative;
                &::after{
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background-color: #efefef;
                    position: absolute;
                    top: 50%;
                    right: -9px;
                    transform: translateY(-50%);
                }
            }
            .account-num{
                margin-top: 2px;
                font-size: 14px;
                font-family: var(--font1);
                line-height: 1.5;
                color: var(--text-03);
            }
        }
        .payment-date{
            font-size: 15px;
            line-height: 1.7;
            font-family: var(--font1);
        }
        .stock-price{
            margin-top: 2px;
            font-size: 14px;
            font-family: var(--font1);
            line-height: 1.5;
            &.rise{
                color: #ef4b61;
            }
            &.fall{
                color: #4393ff;
            }
        }
        .stock-list{
            padding: 24px 20px 40px;
            li{
                width: 100%;
                display: flex;
                align-items: flex-start;
                & + li{
                    padding-top: 30px;
                    margin-top: 30px;
                    border-top: 1px solid #efefef;
                }
            }
            .event-box{
                .event{
                    margin-bottom: 1px;
                    font-size: 15px;
                    line-height: 1.4;
                    font-family: var(--font2);
                    background-color: transparent;
                }
                span{
                    font-size: 13px;
                    font-family: var(--font1);
                    color: var(--text-03);
                }
            }
            .price-box{
                margin-left: auto;
                text-align: right;
                .stock-price{
                    margin-bottom: 3px;
                    font-size: 15px;
                    line-height: 1.4;
                    font-family: var(--font2);
                }
                .share-price{
                    font-size: 13px;
                    line-height: 1.5;
                    font-family: var(--font1);
                    &.rise{
                        color: #ef4b61;
                    }
                    &.fall{
                        color: #4393ff;
                    }
                }
            }
        }
        .detail-date{
            padding: 24px 20px 0;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-family: var(--font2);
            line-height: 1;
            color: var(--text-01);
        }
        .filter-amount{
            padding: 22px 20px 0;
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 15px;
                line-height: 1.7;
                font-family: var(--font2);
                color: var(--text-01);
                i{
                    width: 11px;
                    height: 7px;
                    margin-top: 1px;
                }
            }
            p{
                margin-left: auto;
                font-size: 18px;
                line-height: 1.7;
                font-family: var(--font3);
            }
            & + .breakdown-list{
                padding-top: 22px;
            }
        }
        .breakdown-list{
            padding: 24px 20px 30px;
            li{
                padding: 17px 0;
                // &:has(.date){
                //     margin-top: 7px;
                // }
                &:first-child{
                    padding-top: 0;
                }
                &.disagree{
                    .title, .time, .type{
                        color: #c2c1cc;
                    }
                    .type{
                        &::before{
                            background: #c2c1cc;
                        }
                    }
                }
            }
            .date{
                margin-bottom: 17px;
                font-size: 12px;
                font-family: var(--font1);
                line-height: 1.2;
                color: var(--text-02);
            }
            .text-box{
                display: flex;
                .title{
                    font-size: 16px;
                    font-family: var(--font2);
                    line-height: 1.4;
                }
                .price{
                    margin-left: auto;
                    font-size: 16px;
                    font-family: var(--font2);
                    line-height: 1.8;
                    &.plus{
                        color: #6839d3;
                    }
                    &.expire{
                        color: #c2c1cc;
                    }
                    &.cancel{
                        color: #c2c1cc;
                        text-decoration-line: line-through;
                    }
                }
            }
            .memo{
                display: flex;
                position: relative;
                .time, .type, .refund{
                    font-size: 12px;
                    font-family: var(--font1);
                    line-height: 1.4;
                    color: var(--text-03);
                }
                .type{
                    margin-left: 9px;
                    position: relative;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background: var(--text-03);
                        position: absolute;
                        top: 50%;
                        left: -4px;
                        transform: translateY(-50%);
                    }
                }
                .refund{
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    i{
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
        .empty-data{
            padding: 55px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            img{
                width: 42px;
                height: 42px;
            }
            p{
                font-size: 14px;
                font-family: var(--font1);
                color: var(--text-02);
            }
        }
        .disappear-point{
            padding: 24px 20px 0;
            display: flex;
            align-items: center;
            gap: 4px;
            position: relative;
            a{
                position: relative;
            }
            p{
                font-size: 15px;
                line-height: 2;
                font-family: var(--font2);
                color: var(--text-03);
            }
            i{
                width: 14px;
                height: 14px;
                margin-top: 3px;
            }
        }
        .tooltip-txt {
            width: max-content;
            display: none;
            position: absolute;
            top: 30px;
            left: 40%;
            padding: 10px 12px;
            background: rgba(55, 53, 78, 0.85);
            font-size: 13px;
            line-height: 1.54;
            color: #fff;
            border-radius: 0 10px 10px 10px;
            z-index: 5;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -7.6px;
                border-top: 4px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 4px solid rgba(55, 53, 78, 0.85);
                border-left: 6px solid rgba(55, 53, 78, 0.85);
            }
            &.show {
                display: block;
            }
        }
        .pension-info{
            margin-top: 24px;
            padding: 15px 20px;
            border: 1px solid var(--color-point);
            border-radius: 10px;
            font-size: 14px;
            line-height: 1.6;
            font-family: var(--font1);
            word-break: keep-all;
        }
        .noti-box{
            padding: 5px 20px 0;
            display: flex;
            align-items: center;
            gap: 3px;
            p{
                font-size: 12px;
                line-height: 1.75;
                font-family: var(--font1);
                color: #afaeb8;
            }
            i{
                width: 12px;
                height: 12px;
            }
        }
        .alert-box{
            width: calc(100% - 38px);
            padding: 6px 10px;
            margin: 0 auto 20px;
            justify-content: center;
            gap: 4px;
            background: #fff0f3;
            border: none;
            font-size: 12px;
            line-height: 1.75;
            font-family: var(--font1);
            color: #ef4b61;
            text-align: center;
            img{
                width: 12px;
                height: 12px;
            }
        }
        .btn-area{
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 0 20px 30px;
            background: var(--white);
            border-top: 1px solid var(--white);
        }
    }
}