/*
    작성자 : 이주연
    작성일 : 2020.10.05
    내용 : tax.pcss 추가
*/
.box_tax_home {
  position: relative;
  padding-top: 30px;

  & .title_area {
    padding-left: 28px;
    margin-bottom: 0;

    & .tit {
      font-size: 18px;
      font-family: var(--font2);
      font-weight: 500;
      letter-spacing: -.45px;
      line-height: 22px;
      margin-bottom: 2px;

      & span {
        display: inline-block;
        font-size: 12px;
        font-family: var(--font2);
        font-weight: 500;
        line-height: 27px;
        letter-spacing: -.3px;
        margin-left: 2px;
        color: var(--text-02);
      }
    }

    & .val {
      display: inline-block;
      font-family: var(--font1);
      font-size: 32px;
      font-weight: bold;
      line-height: 28px;
      letter-spacing: -0.32px;
      color: var(--text-01);
      margin-bottom: 6px;

      & em {
        display: inline-block;
        font-family: var(--font1);
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        line-height: 38px;
        letter-spacing: -0.45px;
        color: var(--text-01);
        margin-left: 4px;
        transform: translateY(-2px);
      }
    }

    & .badge {
      display: inline-block;
      padding: 0 7px;
      height: 22px;
      border: 1px solid #e2e3e6;
      text-align: center;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: -0.28px;
      color: var(--text-03);
      border-radius: 11px;
      margin-bottom: 20px;
    }

    & .badge-lg {
      display: inline-block;
      padding: 0 15px;
      height: 30px;
      line-height: 30px;
      color: #ffffff;
      background-color: var(--text-point-color);
      border-radius: 15px;
      font-family: var(--font2);
      font-weight: 500;
      letter-spacing: -.65px;
      font-size: 13px;
      margin-top: 6px;
      margin-bottom: 48px;

      & i {
        margin-left: 6px;
        transform: translateY(2px);
      }
    }
  }

  & .img_area {
    position: absolute;
    width: 86px;
    height: 72px;
    right: 26px;
    top: 30px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &.hide {
    opacity: 1;

    & .title_area {
      & .val {
        color: #e2e3e6;

        & em {
          color: var(--text-01);
        }
      }
    }
  }
}

.box_tax_category {
  padding: 0 20px;

  &>.title-lg {
    font-family: var(--font3);
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: -0.18px;
    text-align: left;
    color: var(--blurple);
    margin-top: 20px;

    & em {
      color: var(--text-01);
      border-bottom: 1px solid var(--text-01);
      padding-bottom: 1px;
    }
  }

  & .event-banner {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #a491f5;
    border-radius: 6px;
    margin-top: 20px;

    & .text {
      position: relative;
      display: inline-block;
      line-height: 28px;
      font-size: 18px;
      font-weight: bold;
      font-family: var(--font3);
      letter-spacing: -.18px;
      padding-top: 27px;
      padding-left: 20px;
      color: #fff;

      & .badge-new {
        position: absolute;
        right: -17px;
        bottom: 17px;
      }
    }

    & .img {
      position: absolute;
      width: 100px;
      height: 70px;
      right: 20px;
      top: 20px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .badge-new {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../../img/common/icon_new@2x.png");
    background-size: cover;
  }

  & .date {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.35px;
    color: var(--text-02);
    margin: 20px 0 15px;
  }

  & .list.info {
    padding-left: 16px;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: -0.28px;
    text-align: left;
    color: var(--text-03);
    margin-top: 0;
    margin-bottom: 15px;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background-image: url(../../img/common/ico-caution@2x.png);
      background-size: cover;
      top: 3px;
      left: 0;
      background-color: transparent;
    }
  }

  & .list.caution {
    padding-left: 0;
    margin-top: 4px;
    color: #ef4b61;
    margin-bottom: 15px;

    &::before {
      content: none;
      left: 0;
    }
  }

  & .tip {
    margin-bottom: 15px;

    & img {
      display: inline-block;
      margin-right: 4px;
      width: 12px;
      height: 12px;
      vertical-align: middle;
    }

    & span {
      display: inline-block;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: -0.28px;
      text-align: left;
      color: var(--text-03);
      vertical-align: middle;
    }
  }

  & ul {
    & li {
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(55, 53, 78, 0.1);
      border: solid 1px #a89fbc;
      background-color: #ffffff;
      padding: 0 20px;
      margin-bottom: 20px;

      &.event {
        border: 0;
        background-color: #f4f1fd;
        box-shadow: none;

        & .tit-lg {
          padding: 30px 0;

          &.line-2 {
            padding: 20px 0;

            & span {
              &:last-child {
                & i {
                  transform: translateY(17px);
                }
              }

              &:first-child {
                & .badge-new {
                  top: 27px;
                }
              }
            }
          }

          & span {
            font-size: 18px;
            line-height: 28px;
            font-weight: bold;

            &:first-child {
              position: relative;
              display: inline-block;
              font-size: 18px;
              line-height: 28px;

              & .highlight {
                font-size: 18px;
                line-height: 28px;
                font-weight: bold;
                color: #6839d3;
              }

              & .badge-new {
                position: absolute;
                right: -20px;
                top: 0;
              }
            }
          }
        }

        &.new-tech {
          background-color: #edf1fc;
        }
      }

      & .tit-lg {
        padding: 20px 0;

        & span {
          &:first-child {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: -0.4px;
            text-align: left;
            font-family: var(--font3);
            color: var(--text-01);

            & em {
              font-size: 14px;
              font-family: var(--font2);
              font-weight: 500;
              letter-spacing: -.35px;
            }
          }

          &:last-child {
            float: right;

            & em {
              font-family: var(--font1);
              font-size: 20px;
              font-weight: bold;
              line-height: 24px;
              letter-spacing: -0.2px;
              color: var(--text-01);

              &::after {
                content: '원';
                font-family: var(--font3);
                font-size: 14px;
                letter-spacing: -.35px;
              }
            }

            & i {
              margin-left: 4px;
              transform: translateY(1px);
            }
          }
        }

        &>.btn-open {
          transform: translateY(2px);
        }

        &.update {
          & span {
            &:first-child {
              position: relative;

              &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: var(--text-point-color);
                top: 0px;
                right: -9px;
              }
            }
          }
        }
      }

      & .tit {
        padding: 20px 0;

        & span {
          &:first-child {
            font-family: var(--font2);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.35px;
          }

          &:last-child {
            float: right;
            font-family: var(--font1);
            font-size: 17px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.17px;

            &::after {
              content: '원';
              font-family: var(--font2);
              font-weight: 500;
              font-size: 13px;
              letter-spacing: -.35px;
            }
          }
        }
      }

      &>.val {
        text-align: right;
        font-family: var(--font1);
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: var(--text-01);
        padding-bottom: 20px;

        &::after {
          content: '원';
          font-family: var(--font1);
          font-size: 14px;
          letter-spacing: -.35px;
        }
      }

      & .btn-open {
        float: right;
        display: inline-block;
        font-family: var(--font2);
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.65px;
        text-align: right;
        color: var(--text-point-color);
        transform: translateY(-1px);

        & i {
          margin-left: 5px;
          transform: translateY(3px);
        }
      }

      &.line {
        & .tit-lg {
          border-bottom: 1px solid var(--text-01);
        }

        & .tit {
          border-bottom: 1px solid #f2f4f7;

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.expenditure-report-wrap {
  position: relative;

  & .top-area {
    padding: 10px 20px 37px;

    & .text-top {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -.45px;
      margin-bottom: 5px;

      & .highlight {
        color: #6839d3;
        font-weight: bold;
        font-family: var(--font3);
      }
    }

    & .list {
      color: var(--text-03);
      margin-bottom: 25px;
      font-family: var(--text-01);

      & .btn-reload {
        display: inline-block;
        padding: 0 10px;
        height: 22px;
        border-radius: 33px;
        border: 1px solid #e3e4e8;
        margin-left: 10px;

        & em {
          display: inline-block;
          font-size: 10px;
          color: var(--text-03);
          letter-spacing: -.5px;
          vertical-align: middle;
          line-height: 20px;
        }

        & img {
          display: inline-block;
          width: 8px;
          height: 9px;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }

    & .text-medium {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -.4px;
      margin-bottom: 12px;

      & span {
        font-weight: bold;
        font-family: var(--font3);
      }
    }

    & .value-info {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.35px;

      & span {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        font-family: var(--font3);
        border-bottom: 1px solid var(--text-01);
      }
    }
  }

  & .event-banner {
    border: 0;
    background-color: #f4f1fd;
    box-shadow: none;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 6px;

    & .badge-new {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url("../../img/common/icon_new@2x.png");
      background-size: cover;
    }

    & .tit {
      padding: 20px 0;

      & span {
        position: relative;
        display: inline-block;
        font-size: 18px;
        line-height: 28px;
        font-weight: bold;
        font-family: var(--font3);
        letter-spacing: -0.4px;
        text-align: left;

        &:nth-child(2) {
          float: right;
          padding-top: 15px;
        }

        & .highlight {
          font-size: 18px;
          line-height: 28px;
          font-weight: bold;
          font-family: var(--font3);
          color: #6839d3;
        }

        & .badge-new {
          position: absolute;
          right: -17px;
          top: 27px;
        }
      }
    }
  }

  & .content-area {
    padding: 36px 20px;

    & .list-title {
      font-family: var(--font2);
      font-weight: 500;
      line-height: 20px;
      font-size: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #37354e;
    }

    & .item-list {
      padding-top: 22px;

      & .item {
        overflow: hidden;
        margin-bottom: 22px;

        & .tit {
          float: left;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: -.65px;
        }

        & .val {
          float: right;

          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: -0.14px;
          vertical-align: middle;

          &::after {
            content: '원';
            font-family: var(--font2);
            font-size: 13px;
            line-height: 22px;
            letter-spacing: 0;
          }
        }

        & .caution {
          float: right;

          & em {
            display: inline-block;
            vertical-align: middle;
            font-family: var(--font2);
            font-size: 11px;
            line-height: 17px;
            color: #ef4b61;
            margin-left: 4px;
          }

          & .ic-caution {
            display: inline-block;
            vertical-align: middle;
            line-height: 17px;
            width: 13px;
            height: 13px;
            background-size: cover;
            background-image: url(../../img/common/ico_caution_red@2x.png);
          }

        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  & .open-report {
    padding: 40px 20px 30px;

    & .main-text {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -.55px;
      margin-bottom: 12px;
      font-family: var(--font2);

      & .highlight {
        color: #6839d3;
      }
    }

    & .desc-text {
      font-size: 13px;
      line-height: 20px;
      color: var(--text-02);
      letter-spacing: -.33px;
      margin-bottom: 10px;
    }

    & .list.caution {
      margin-bottom: 40px;
      font-size: 11px;
      line-height: 17px;
      color: var(--text-03);
      padding-left: 16px;
      font-family: var(--font1);

      &::before {
        left: 0;
      }
    }

    & .img {
      float: right;
      display: block;
      width: 280px;
      height: 200px;
      text-align: right;
      margin-bottom: 52px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

  }
}

.btn_area.fixed_bottom {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
  width: 100%;

  & a {
    display: block;
  }
}

.expenditure-report-info-wrap {
  padding: 20px 20px 40px;

  & .info-item {
    margin-bottom: 40px;

    & .title {
      display: block;
      font-weight: bold;
      font-family: var(--font3);
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 25px;
      letter-spacing: -.55px;

      & .highlight {
        color: #6839d3;
      }

      & .font-weight-normal {
        font-size: 19px;
      }

      &.plus {
        position: relative;
        padding-left: 26px;

        &::before {
          content: '';
          background-image: url(../../img/common/ic_tax_tit_point.png);
          width: 22px;
          height: 22px;
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
          background-size: cover;
        }
      }
    }

    & .bg-text {
      width: 100%;
      padding: 20px;
      background-color: #f7f8fc;
      margin-bottom: 40px;

      & .text-center {
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-family: var(--font2);
        margin-bottom: 7px;

        & .border-bottom {
          display: inline-block;
          border-bottom: 1px solid var(--text-01) !important;
        }
      }

      & .txt {
        display: block;
        font-weight: bold;
        font-family: var(--font3);
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
        letter-spacing: -.4px;

        & .highlight {
          color: #6839d3;
        }
      }

      & .img {
        padding: 0 20px;
        width: 100%;
        max-width: 355px;
        height: auto;
        margin: 0 auto 15px;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & .txt-sm {
        font-size: 13px;
        line-height: 23px;
        letter-spacing: -.33px;
        color: var(--text-02);

        & .highlight {
          font-family: var(--font2);
          color: var(--text-01);
        }

        & .small {
          font-size: 10px;
          letter-spacing: -.25px;
          color: var(--text-01);
        }
      }

      &.has-img {
        padding: 20px 10px;
        margin-bottom: 25px;

        & .txt-sm {
          padding: 0 10px;
        }
      }

      & ul {
        padding: 5px 0;

        & li {
          padding-bottom: 25px;
          border-bottom: 1px solid #e3e4e8;
          margin-bottom: 25px;

          & .badge {
            display: inline-block;
            padding: 0 10px;
            height: 25px;
            line-height: 25px;
            border-radius: 50px;
            border: 1px solid #6839d3;
            color: #6839d3;
            font-family: var(--font1);
            font-weight: bold;
            font-size: 12px;
            letter-spacing: -.3px;
            text-align: center;
            margin-bottom: 10px;
          }

          & .tit {
            font-weight: bold;
            font-family: var(--font3);
            font-size: 17px;
            letter-spacing: -.43px;
            line-height: 27px;
            margin-bottom: 10px;
          }

          & .cont {
            font-size: 13px;
            color: var(--text-02);
            line-height: 23px;
            letter-spacing: -.33px;

            & .small {
              font-size: 10px;
            }
          }

          &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
      }

      &.mb-25 {
        margin-bottom: 25px;
      }
    }

    & .title-sm {
      font-size: 15px;
      font-weight: bold;
      font-family: var(--font3);
      line-height: 20px;
      letter-spacing: -0.38px;
      margin-bottom: 5px;
    }

    & .title-md {
      font-size: 14px;
      font-family: var(--font2);
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.7px;
      margin-bottom: 10px;
    }

    & .table {
      margin-bottom: 25px;

      & th {
        height: 28px;
        line-height: 28px;
        padding: 0;
        font-size: 11px;
        font-family: var(--font2);
      }

      & td {
        line-height: 15px;
        padding: 8px 0;
        font-size: 12px;
        font-family: var(--font1);
        color: var(--text-02);
      }

      & tbody {
        & tr {
          & td {
            &:first-child {
              font-size: 11px;
              font-family: var(--font2);
            }

            &.highlight {
              color: #6839d3;
            }
          }
        }
      }
    }

    & .desc {
      font-size: 13px;
      line-height: 23px;
      letter-spacing: -.33px;
      color: var(--text-02);
      margin-bottom: 15px;

      &.mb {
        margin-bottom: 25px;
      }

      & .highlight {
        font-family: var(--font2);
        color: var(--text-01);
      }

      & .small {
        font-size: 10px;
        letter-spacing: -.25px;
        color: var(--text-01);
      }
    }

    & .img {
      padding: 0 20px;
      width: 100%;
      max-width: 355px;
      height: auto;
      margin: 0 auto 15px;

      &.mb {
        margin-bottom: 25px;
      }

      &.mb-lg {
        margin-bottom: 35px;
      }

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.box_tax_btn {
  width: 100%;
  padding: 0 20px 40px;

  & .btn {
    height: 46px;
    line-height: 46px;

    &:hover {
      color: var(--text-02);
    }
  }
}

.box_tax_sub {
  &.ver2 {
    &>.title {
      margin-bottom: 20px;
    }

    & .deduct-input {
      margin-bottom: 40px;

      & .title {
        font-family: var(--font1);
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 20px;
        letter-spacing: -0.35px;
        text-align: left;
        color: var(--text-01);
        margin-bottom: 15px;
      }

      & .title-xl {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.35px;
        color: var(--text-01);
        margin-bottom: 10px;

        & em {
          font-size: 13px;
          line-height: 20px;
          letter-spacing: -0.33px;
          color: #afaeb8;
          color: var(--text-04);
          margin-bottom: 2px;
        }
      }
    }

    & .sec-deduct {
      margin-bottom: 22px;

      & .area-title {
        & .title {
          font-family: var(--font3);
          margin-bottom: 0;
        }
      }

      & .list-deduct-item {
        &.list-deduct-item-big {
          position: relative;
          padding: 24px 0 54px 2px;

          &>.title {
            transform: translateY(-4px);
          }

          &>.desc {
            position: absolute;
            line-height: 17px;
            top: 47px;
            left: 2px;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    & .list-deduct {
      & .desc_area {
        overflow: hidden;
        margin-bottom: 20px;

        & .title {
          float: none;
          display: block;
          font-family: var(--font1);
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 22px;
          letter-spacing: -0.38px;
          text-align: left;
          color: var(--text-01);

          & em {
            font-size: 11px;
            letter-spacing: -0.28px;
            color: var(--text-03);
          }
        }

        & .desc {
          display: block;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: -0.3px;
          color: var(--text-03);
        }
      }

      & .list-desc {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.35px;
        color: var(--text-02);
        padding-left: 20px;
        margin-bottom: 23px;
      }

      & .title {
        font-family: var(--font1);
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 22px;
        letter-spacing: -0.38px;
        text-align: left;
        color: var(--text-01);
      }
    }

    & .btn_area {
      padding-top: 0;
    }

    &.detail {
      padding-top: 36px;
    }

    & .box_tax_item {
      position: relative;
      padding: 24px 0;
      border-bottom: 1px solid #f5f6f8;

      &>.title-sm {
        font-family: var(--font2);
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.38px;
        margin-bottom: 0;
        padding: 0;
      }

      &>.value {
        position: absolute;
        font-family: var(--font1);
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: right;
        color: var(--text-01);
        top: 22px;
        right: 0;
        padding-top: 0;
        padding-right: 3px;

        &::after {
          content: '원';
          font-size: 14px;
          letter-spacing: -0.35px;
          line-height: 24px;
          font-family: var(--font1);
          font-weight: bold;
        }
      }

      &.mb {
        margin-bottom: 55px;
      }

      &.border-bottom {
        border-bottom: 1px solid var(--text-01) !important;
      }
    }

    & .chart_graph {
      margin-bottom: 0 !important;

      & .sort {
        & .bar {
          margin-bottom: 7px;

          & .bg {
            height: 4px;
            background-color: #f2f4f7;
          }

          & .amount {
            height: 4px;

            & .tooltip_box {
              top: -41px;

              & .tooltip_text {
                &::after {
                  bottom: -5px;
                  transform: rotate(175deg);
                }
              }
            }
          }

          &.dark {
            & .amount {
              background-color: var(--text-01);

              & .tooltip_box {
                & .tooltip_text {
                  border: 1px solid #afaeb8;

                  & .value {
                    color: var(--text-01) !important;

                    &::after {
                      font-size: 12px;
                    }
                  }

                  &::after {
                    bottom: -5px;
                    background-image: url(../../img/common/tooltip_shot_dark.png);
                    background-size: cover;
                    width: 8px;
                    height: 5px;
                    transform: none;
                  }
                }
              }
            }
          }
        }
      }

      & .desc-sm {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: right;
        color: var(--text-02);
        margin-top: 10px;
      }
    }

    &>.list {
      &.caution {
        padding-bottom: 40px;

        & p {
          color: var(--text-03);
          font-family: var(--font1);
        }
      }
    }

    & .list-connect {
      padding: 24px 0 37px;
    }
  }
}

.box_deduction {
  margin-bottom: 20px;

  &.ver2 {
    & .tip-area {
      width: 100%;
      padding: 10px 10px 12px;
      background-color: #f7f8fc;

      & .badge {
        display: inline-block;
        height: 16px;
        border-radius: 2px;
        background-color: var(--text-point-color);
        font-family: var(--font2);
        font-size: 9px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 0 6px;
        margin-bottom: 3px;
      }

      & p {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.33px;
        color: var(--text-01);

        & em {
          color: var(--text-point-color);
        }

        &.font-lg {
          font-family: var(--font3);
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          letter-spacing: -0.35px;
          text-align: left;
          color: var(--text-01);
        }

        &.font-md {
          line-height: 22px;
        }
      }

      &.mb {
        margin-bottom: 40px;
      }
    }

    &>.chart {
      margin-top: 20px;
      margin-bottom: 52px;

      & .chart-title {
        font-family: var(--font2);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.7px;
        color: var(--text-point-color);
        margin-bottom: 20px;

        & i {
          margin-right: 4px;
          transform: translateY(-2px);
          vertical-align: middle;
        }
      }

      & .sort {
        margin-bottom: 32px;

        & .item {
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 8px;
        }

        & .value {
          font-size: 13px;
          line-height: 19px;

          &::after {
            font-size: 13px;
            line-height: 19px;
          }
        }

        & .bar {
          & .bg {
            height: 4px;
          }

          & .amount {
            height: 4px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.dark {
        & .sort {
          & .item {
            font-size: 13px;
            line-height: 19px;
          }

          & .bar {
            & .bg {
              background-color: #f5f6f8;
            }

            & .amount {
              background-color: var(--text-03);
            }
          }
        }
      }
    }
  }
}

.box_tax_list {
  padding: 0 20px;
  margin-top: 30px;
}

.box_tax_title {
  padding: 10px 20px 20px;

  & p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.4px;
    text-align: left;

    & .font-lg {
      color: var(--text-point-color);
      font-family: var(--font1);
      font-weight: bold;
      letter-spacing: -.45px;
      font-size: 18px;
    }

    & .font-md {
      font-family: var(--font2);
      font-weight: 500;
      color: var(--text-point-color);
      letter-spacing: -.45px;
      font-size: 18px;
    }
  }
}

.tax-loading {
  padding-top: 131px;
  padding-bottom: 100px;

  & .img {
    width: 200px;
    height: 90px;
    margin: 0 auto 24px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .txt {
    font-family: var(--font2);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.38px;
    text-align: center;
    color: var(--text-01);
  }
}


// 230904 추가
.pt-10 {
  padding-top: 10px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

/*  팝업  */
.modal-tax {
  & .modal-dialog {
    & .modal-content {
      border-radius: 0;

      & .btn-close {
        top: 15px;
        right: 15px;
      }
    }

    & .modal-body {
      padding: 16px 0;

      & .inner {
        padding: 0;

        & p {
          font-size: 14px;
          line-height: 23px;
          letter-spacing: -0.35px;
          text-align: center;

          & span {
            font-size: 16px;
            font-family: var(--font2);
            font-weight: 500;
            letter-spacing: -0.4px;
            color: var(--text-point-color);
          }
        }
      }
    }
  }
}

.popupNormal.home-tax {
  background-color: #fff;
  width: 270px;
  height: auto;

  & .popup-body {
    padding: 30px 18px 72px;

    & .desc {
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.38px;
      text-align: center;
      color: var(--text-01);
      margin-bottom: 10px;

      & .highlight {
        font-weight: bold;
        font-family: var(--font3);
      }
    }

    & .desc-sm {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.35px;
      text-align: center;
      color: var(--text-01);
      margin-bottom: 10px;
    }

    & .time {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.6px;
      text-align: center;
      color: var(--text-03);
      margin-bottom: 20px;
    }

    & .img {
      display: block;
      margin: 0 auto;
      width: 86px;
      height: 72px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* 연말정산 핵심 가이드 */
.box_tax_guide {
  padding: 20px;

  & .text {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.33px;
    color: var(--text-02);

    & .bold {
      font-family: var(--font2);
      font-weight: 500;
      letter-spacing: -.33px;
      color: var(--text-01);
    }

    & .small {
      font-size: 11px;
      font-family: var(--font1);
      letter-spacing: -.25px;
      color: var(--text-02);

      &.bold {
        color: var(--text-01);
      }
    }
  }

  & .text-md {
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font3);
    line-height: 22px;
    letter-spacing: -0.38px;
    color: var(--text-01);
    margin-bottom: 5px;
  }

  & .text-lg {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--font3);
    line-height: 32px;
    letter-spacing: -0.45px;
    color: var(--text-01);
    margin-bottom: 25px;

    & .primary {
      color: var(--blurple);
      font-family: var(--font3);
      line-height: 32px;
    }
  }

  & img {
    width: 100%;
    height: 100%;
  }

  & .img {
    width: 335px;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 355px) {
  .expenditure-report-wrap .open-report {
    padding: 20px 20px 30px;
  }

  .expenditure-report-wrap .open-report .list.caution {
    margin-bottom: 0;
  }
}

@media (max-width: 370px) {
  .box_tax_guide {
    & .img {
      width: 280px;
    }
  }
}