@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), url("../Roboto/Roboto-Regular.woff") format("woff"), url("../Roboto/Roboto-Regular.woff2") format("woff2");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), url("../Roboto/Roboto-Medium.woff") format("woff"), url("../Roboto/Roboto-Medium.woff2") format("woff2");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("../Roboto/Roboto-Bold.woff") format("woff"), url("../Roboto/Roboto-Bold.woff2") format("woff2");
  unicode-range: U+0030-0039;
}
