
@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Pretendard-Medium'), url('../../fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'),
  url('../../fonts/Pretendard/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Pretendard-SemiBold'), url('../../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
  url('../../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Pretendard-Bold'), url('../../fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'),
  url('../../fonts/Pretendard/Pretendard-Bold.woff') format('woff');
}