.wrap {
  position: relative;
  transition: .5s ease-in;
  z-index: 10;
  min-height: 100%;
  background: #ffffff;
  margin: 0 auto;

  &.error {
    & .box_error {
      padding-top: 137px;
    }
  }
}

.container_box {
  padding: 5px 24px 0;
}

.contents {
  position: relative;
  z-index: 5;

  &.popup {
    margin-top: -2px;
  }
}

.box {
  position: relative;
  margin-bottom: 10px;

  & .title-content {
    margin-bottom: 9px;
  }

  & .info-box {
    margin-bottom: 3px;
  }

  &.box_case {
    margin-bottom: 19px !important;
  }

  &.box_nobt {
    margin-bottom: 0 !important;
  }

  &.box_detail {
    margin-bottom: 22px !important;
  }

  &.box_personal {
    margin-bottom: 30px !important;
  }

  &.box_income {
    margin-bottom: -2px !important;
  }

  &.box_connection {
    margin-bottom: 32px !important;
  }

  &.box-sm {
    margin-bottom: 15px !important;
  }

  &.box_last {
    margin-bottom: 19px !important;
  }

  &.box-md {
    margin-bottom: 34px !important;
  }

  &.box-lg {
    margin-bottom: 42px !important;
  }

  &.box-plus {
    margin-bottom: 25px !important;
  }
}

.box_withdrawal {
  margin-bottom: 33px;
}

.title_area {
  margin-bottom: 12px;

  &.bottom {
    margin-bottom: 5px !important;
  }

  &.bottom-lg {
    margin-bottom: 14px !important;
  }

  & .title {
    font-family: var(--font3);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.45px;
    font-weight: bold;

    &.bottom {
      margin-bottom: 5px;
    }

    & .primary {
      color: var(--color-point);
    }

    & .desc {
      font-size: 13px;
      font-family: var(--font2);
      letter-spacing: -0.65px;
      color: #888888;
    }

    & i.icon-info {
      margin-left: 7px;
      vertical-align: middle;
    }

    & i.icon-info-purple {
      margin-left: 7px;
      vertical-align: middle;
    }
  }

  & .desc {
    font-family: var(--font2);
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.65px;
    color: #888888;
  }
}

.title_list {
  margin-bottom: 10px;
  padding-top: 16px;

  & .title {
    float: left;
    font-size: 14px;
    font-family: var(--font1);
    line-height: 20px;
    letter-spacing: -0.35px;
    padding-top: 4px;
    font-weight: bold;
  }

  & .btn {
    float: right;
  }

  &.mb-15 {
    margin-bottom: 15px;
  }
}

.list_box {
  width: 100%;
  border-radius: 4px;
  background: #f8f8f8;
  padding: 16px 20px;

  & li {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: -0.65px;
    font-family: var(--font1);

    & span:nth-child(2) {
      float: right;
      font-size: 11px;
      font-family: var(--font2);
      letter-spacing: -0.55px;
      color: #666666;
    }
  }
}

/**
    18px 부제
*/
.title-sm {
  font-family: var(--font2);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.35px;
  padding-top: 10px;
  margin-bottom: 8px;
}

/**
    13px 부제
*/
.sub-title-sm {
  font-family: var(--font2);
  font-weight: 500;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: -.35px;
  margin-bottom: 3px;

  &.bottom {
    margin-bottom: 11px;
  }
}

.box_gray {
  padding: 20px 0;
  text-align: center;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  background: #fbfbfb;
  margin: 20px 0;

  & p {
    font-size: 12px;
    font-family: var(--font2);
    color: #666666;
    letter-spacing: -0.6px;
    line-height: 20px;
  }
}

/*
  S  header
*/
.header {
  position: relative;
  width: 100%;
  height: 66px;

  & .btn_close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 21px;
    right: 18px;
    border-radius: 6px;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 21px;
      height: 2px;
      background-color: #000000;
      border-radius: 2px;
      top: 9px;
    }

    &::before {
      transform: rotate(45deg);
      left: -1px;
    }

    &::after {
      transform: rotate(-45deg);
      left: -1px;
    }
  }

  & h2 {
    font-family: var(--font2);
    font-size: 18px;
    letter-spacing: -.45px;
    color: #37354e;
    text-align: center;
    line-height: 66px;
    margin-bottom: 0;
  }

  & > .date {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: -0.28px;
    text-align: right;
    color: var(--text-03);
    top: 23px;
    right: 15px;
  }

  & .btn-edit {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.35px;
    color: var(--color-point);
    padding: 10px;
    right: 10px;
    top: 10px;
  }

  & .btn-delete {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.35px;
    color: var(--text-02);
    padding: 10px;
    right: 10px;
    top: 10px;
  }

  & .btn-edit {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.35px;
    color: var(--color-point);
    padding: 10px;
    right: 10px;
    top: 12px;
  }

  & .btn_area {
    position: absolute;
    height: 100%;
    padding: 20px 15px 30px 0;
    top: 0;
    right: 0;

    & .btn-alarm {
      position: relative;
      display: inline-block;

      & .img {
        display: inline-block;
        width: 26px;
        height: 26px;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & .badge-alarm {
        position: absolute;
        padding: 0 4px;
        min-width: 15px;
        height: 15px;
        font-family: var(--font1);
        font-size: 10px;
        line-height: 16px;
        letter-spacing: .2px;
        color: #ffffff;
        background-color: #ef4b61;
        border-radius: 8px;
        text-align: center;
        top: -1px;
        left: 13px;
      }
    }

    & .btn-more {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-left: 22px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .btn-info {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-left: 22px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &.pr {
      padding: 20px 22px 30px 0;
    }
  }

  & .btn-tooltip-lg {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
    right: 20px;
    top: 22px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .btn-refresh {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    & span {
      display: inline-block;
      font-family: var(--font2);
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.6px;
      color: var(--text-02);
      vertical-align: middle;
    }

    & .ico-refresh-mini {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(../../img/common/ico-refresh-mini@2x.png);
      background-size: cover;
      vertical-align: middle;
      margin-left: 2px;
    }
  }
}

.header-ex {
  position: relative;
  height: 66px;
  line-height: 66px;

  & .header-top {
    & .btn-back {
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 11px;
      padding: 5px;
      line-height: 0;
    }

    & .select_box {
      display: block;
      padding: 0;
      text-align: center;
      margin: 0 auto;

      & label {
        font-family: var(--font2);
        font-weight: normal;
        border-bottom: none;
        color: #ffffff;
        vertical-align: sub;
        padding-right: 22px;

        &::after {
          width: 12px;
          height: 12px;
          right: 0;
          top: 4px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('../../img/sprite/common/top_month_arrow@2x.png');
        }
      }

      & select {
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & .btn-add {
      display: inline-block;
      position: absolute;
      right: 11px;
      top: 15px;
      padding: 5px;
      line-height: 0;
    }
  }

  & .header-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    & .nav-list {
      width: 100%;
      height: 39px;

      & li {
        float: left;
        width: 25%;
        line-height: 39px;
        text-align: center;

        & a {
          position: relative;
          display: inline-block;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: -0.75px;
          color: rgba(255, 255, 255, .6);
        }

        &.active {
          & a {
            color: #ffffff;
            font-family: var(--font2);
            letter-spacing: -.75px;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }

  & .header-bottom {
    width: 100%;
    height: 49px;

    & .content {
      padding: 0 20px;

      & .desc {
        font-size: 12px;
        line-height: 49px;
        letter-spacing: -0.3px;
        text-align: left;
        color: #beacdf;

        & span {
          color: #ffffff;
        }
      }
    }
  }

  &.bg-this {
    & .header-top {
      background-color: #653bb4;
    }

    & .header-nav {
      background-color: #653bb4;
    }

    & .header-bottom {
      background-color: #653bb4;
    }
  }

  &.bg-last {
    & .header-top {
      background-color: #40466a;
    }

    & .header-nav {
      background-color: #40466a;
    }

    & .header-bottom {
      background-color: #40466a;

      & .content {
        & .desc {
          color: #a6aac7;
        }
      }
    }
  }

  &.bg-next {
    & .header-top {
      background-color: #3e5baf;
    }

    & .header-nav {
      background-color: #3e5baf;
    }

    & .header-bottom {
      background-color: #3e5baf;

      & .content {
        & .desc {
          color: #a9b5d8;
        }
      }
    }
  }
}

/*
  E  header
*/

.sticky-wrapper {
  position: relative;
  z-index: 10;
}
