@font-face {
    font-family: 'SpoQAHanSans-Regular';
    font-style: normal;
    src: url('../../fonts/SpoqaHanSans/SpoqaHanSans-Regular.woff') format('woff'),
    url('../../fonts/SpoqaHanSans/SpoqaHanSans-Regular.woff2') format('woff2');
}
