/*
    작성자 : 이주연
    제목 : 더보기
    날짜 : 2021.06.21
*/
.more-view-wrap {
  padding: 0 24px;

  .sub-title-sm {
    line-height: 20px;
    padding-bottom: 14px;
    margin-bottom: 0;
    font-family: var(--font3);
  }

  .box {
    margin-bottom: 36px;

    .list_group {
      .list_group_item {
        &.multiple {
          .item_title {
            .title {
              span {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
        }

        > .desc {
          font-family: var(--font1);
          color: var(--text-03);
          padding-right: 65px;
        }
      }
    }

    .secession_wrap {
      margin-top: 20px;
      padding-bottom: 40px;

      .txt {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: left;
        color: var(--text-04);
      }

      .btn-secession {
        float: right;
        font-size: 12px;
        line-height: 1.75;
        letter-spacing: -0.3px;
        text-align: left;
        color: var(--text-04);
        text-decoration: underline;
      }
    }
  }
}

.notice-wrap {
  padding: 10px 20px 40px;
  .sub-title {
    font-family: var(--font2);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.45px;
    text-align: left;
    color: var(--text-01);
  }
  .sub-date {
    font-family: var(--font1);
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: var(--text-03);
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &.detail {
    padding: 0 20px 120px;
    height: 75vh;
    overflow: scroll;
  }

  > ul {
    width: 100%;
    border-top: 1px solid #37354e;
    border-bottom: 1px solid #d5d5d5;

    .item {
      position: relative;
      margin-bottom: 0;
      padding: 20px 0;
      border-bottom: 1px solid #f5f6f8;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--text-01);

        .ic-new {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url(../../img/common/icon_notice_new@2x.png);
          background-size: cover;
          transform: translateY(2px);
          margin-left: 5px;
        }

        .tit {
          display: block;
          font-size: 14px;
          font-family: var(--font2);
          line-height: 20px;
          letter-spacing: -0.65px;
          font-weight: 500;
          margin-bottom: 6px;
          padding-right: 25px;
          padding-left: 5px;
        }

        .date {
          display: block;
          font-family: var(--font1);
          font-size: 13px;
          line-height: 18px;
          color: var(--text-03);
          padding-left: 5px;
          padding-right: 23px;
        }

        .ico_list_arrow_small {
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  > .text {
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 18px 16px;
    background-color: #f7f8fc;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.32px;
    text-align: left;
    color: var(--text-02);

    .img {
      margin-top: 10px;

      img {
        width: 100%;
      }
    }
  }

  > .empty {
    padding-top: 160px;

    .img {
      width: 56px;
      height: 56px;
      margin: 0 auto 20px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .txt {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.38px;
      text-align: center;
    }
  }
}

.event-tab {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding-top: 6px;
  z-index: 3;
  text-align: center;
  &.active{
    position: fixed;
    top: 0;
  }

  ul {
    li {
      position: relative;
      float: left;
      padding-bottom: 6px;
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--blurple);
        }

        a {
          font-family: var(--font2);
          color: var(--blurple);
        }
      }

      a {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.4px;
        color: var(--text-03);
      }
    }
  }
}

.more-view-tab {
  margin-bottom: 30px;

  ul {
    li {
      position: relative;
      float: left;
      width: 25%;
      height: 86px;
      display: block;

      &.update {
        .ico {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #ef4b61;
            right: -4px;
            top: 0;
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 62px;
        background-color: #f5f6f8;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .ico {
          display: block;
          width: 22px;
          height: 22px;
          background-size: cover;
          margin-bottom: 10px;
        }

        span {
          font-family: var(--font2);
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: -0.3px;
          text-align: center;
          color: var(--text-01);
        }

        .ico-list-notice {
          background-image: url(../../img/common/ico-list-notice@2x.png);
        }

        .ico-list-event {
          background-image: url(../../img/common/ico-list-event@2x.png);
        }

        .ico-list-faq {
          background-image: url(../../img/common/ico-list-faq@2x.png);
        }

        .ico-list-inquire {
          background-image: url(../../img/common/ico-list-inquire@2x.png);
        }
      }
    }
  }
}

.more-view-my-page {
  display: flex;
  background-color: #f7f8fc;
  padding: 30px 24px 30px;
  align-items: center;

  .img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    border: 1px solid #e3e4e8;

    img {
       width: 100%;
       height: 100%;
    }
  }

  .my-page {
    .name {
      display: inline-block;
      margin-bottom: 8px;

      span {
        display: inline-block;
        vertical-align: middle;
        font-family: var(--font3);
        font-size: 18px;
        font-weight: bold;
        line-height: 27px;
        letter-spacing: -0.45px;
        text-align: left;
        color: var(--text-01);
        margin-right: 10px;
      }

      .ico-list-arrow-large {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 24px;
        background-image: url(../../img/common/ico-list-arrow-large@2x.png);
        background-size: cover;
      }
    }

    .info {
      display: flex;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 17px;

        + .item {
          &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 17px;
            background-color: #e3e4e8;
            left: -8px;
            top: 1px;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        span {
          &:first-child {
            font-size: 13px;
            line-height: 19px;
            letter-spacing: -0.33px;
            color: var(--text-01);
            margin-right: 8px;
          }

          &:nth-child(2) {
            font-family: var(--font2);
            font-size: 14px;
            line-height: 20px;
            color: var(--blurple);
          }
        }
      }
    }
  }
}

.event-list {
  padding: 0 20px 4px;

  .event {
    margin-bottom: 36px;
    background-color: transparent;

    span {
      display: block;
    }

    .title {
      font-family: var(--font2);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.35px;
      color: var(--text-01);
      margin-bottom: 6px;
      padding-left: 4px;
    }

    .date {
      font-family: var(--font1);
      font-size: 13px;
      line-height: 18px;
      color: var(--text-03);
      margin-bottom: 12px;
      padding-left: 4px;
    }

    .img {
      width: 100%;
      height: auto;
      border-radius: 6px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.ended {
      .img {
        position: relative;

        &::after {
          content: '이벤트가 종료되었습니다.';
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--font2);
          font-size: 17px;
          font-weight: 500;
          letter-spacing: -0.43px;
          color: var(--white);
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .7);
          border-radius: 6px;
        }
      }
    }
  }

  > .empty {
    padding-top: 130px;
    margin-left: -20px;
    margin-right: -20px;

    .img {
      display: block;
      width: 56px;
      height: 56px;
      margin: 0 auto 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .txt {
      font-family: var(--font2);
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.38px;
      text-align: center;
      color: var(--text-01);
    }
  }

  &.detail {
    padding-bottom: 0;

    .event {
      margin-bottom: 30px;

      .title {
        font-family: var(--font2);
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: -0.45px;
        padding-left: 0;
        margin-bottom: 12px;
      }

      .date {
        padding-left: 0;
        margin-bottom: 20px;
      }

      .img {
        width: 100%;
        height: 388px;
        border-radius: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.event-item-wrap {
  padding: 0 20px 40px;

  > ul {
    width: 100%;
    border-top: 1px solid #37354e;
    border-bottom: 1px solid #d5d5d5;

    .item {
      position: relative;
      margin-bottom: 0;
      padding: 20px 0;
      border-bottom: 1px solid #f5f6f8;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--text-01);

        .ic-new {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url(../../img/common/icon_notice_new@2x.png);
          background-size: cover;
          transform: translateY(2px);
          margin-left: 5px;
        }

        .tit {
          display: block;
          font-size: 14px;
          font-family: var(--font2);
          line-height: 20px;
          letter-spacing: -0.65px;
          font-weight: 500;
          margin-bottom: 6px;
          padding-right: 25px;
          padding-left: 5px;
        }

        .date {
          display: block;
          font-family: var(--font1);
          font-size: 13px;
          letter-spacing: -.13px;
          color: var(--text-03);
          padding-left: 5px;
          padding-right: 23px;

          .date-tit {
            position: relative;
            display: inline-block;
            width: 85px;
            font-size: 13px;
            letter-spacing: -.32px;
            font-family: var(--font1);

            &::after {
              content: '';
              position: absolute;
              width: 1px;
              height: 8px;
              background-color: #d5d5d5;
              right: 7px;
              top: 5px;
            }
          }

          &:first-child {
            margin-bottom: 2px;
          }
        }

        .ico_list_arrow_small {
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.event-content-wrap {
  padding: 30px 0 0;
  min-height: calc(100vh - 102px);


  .event-item-detail-wrap {
    padding: 10px 20px 0;

    .tit {
      display: block;
      font-size: 18px;
      font-family: var(--font2);
      line-height: 28px;
      letter-spacing: -0.45px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .date {
      display: block;
      font-family: var(--font1);
      font-size: 13px;
      letter-spacing: -.13px;
      color: var(--text-03);
      padding-left: 5px;
      padding-right: 23px;

      .date-tit {
        position: relative;
        display: inline-block;
        width: 85px;
        font-size: 13px;
        letter-spacing: -.32px;
        font-family: var(--font1);

        &::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 8px;
          background-color: #d5d5d5;
          right: 7px;
          top: 5px;
        }
      }

      &:first-child {
        margin-bottom: 2px;
      }

      &:last-child {
        padding-bottom: 20px;
        border-bottom: 1px solid #f5f6f8;
      }
    }
  }

  > .cont {
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.33px;
    text-align: left;
    color: var(--text-01);
  }
}

.event-content {
  padding: 10px 20px 110px;

  > .tit {
    font-family: var(--font2);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.45px;
    text-align: left;
    color: var(--text-01);
    margin-bottom: 5px;
  }

  .date-wrap {
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .date {
      font-family: var(--font1);
      font-size: 13px;
      line-height: 18px;
      letter-spacing: normal;
      color: var(--text-03);
    }

    .btn-share {
      display: inline-block;
      height: 25px;
      padding: 0 8px;
      border-radius: 20px;
      border: solid 1px #e3e4e8;
      background-color: var(--white);

      .ico-share {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: cover;
        background-image: url(../../img/common/ico-share@2x.png);
        vertical-align: middle;
        margin-right: 4px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        line-height: 23px;
        letter-spacing: -0.55px;
        color: var(--text-02);
      }
    }
  }

  .cont {
    width: 100%;
    height: 100%;
    min-height: 388px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.event-btn-area {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0 20px 30px;
  background-color: #fff;

  .btn-event {
    position: relative;
    display: block;
    border-radius: 6px;
    height: 50px;
    border: 0;
    line-height: 50px;
    background-color: var(--blurple);
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -.75px;
    font-family: var(--font2);
    text-align: center;

    &.btn-event-border {
      border: solid 1px var(--blurple);
      background-color: var(--white);
      color: var(--blurple);
    }

    &.btn-half {
      float: left;
      display: inline-block;
      width: calc(50% - 5px);
    }

    + .btn-event {
      margin-left: 9px;
    }
  }

  &.scrolling {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 46px;
      top: -46px;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 13%, rgba(255, 255, 255, 0.6) 49%, var(--white) 80%);
    }
  }
}

.faq-wrap {
  .input-search-wrap {
    padding: 10px 20px 0;

    .input-search {
      position: relative;
      width: 100%;
      height: 40px;
      overflow: hidden;
      margin-bottom: 25px;

      label {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        background: url(../../img/common/ico-input-search@2x.png) no-repeat center center;
        background-size: 24px 24px;
      }

      input {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: solid 1px #e2e3e6;
        background-color: var(--white);
        padding: 10px 78px 11px 12px;
        font-family: var(--font1);
        font-size: 15px;
        line-height: 1.38;
        color: var(--text-03);

        &::placeholder {
          color: var(--text-03);
        }

        &::-webkit-search-cancel-button {
          display: none;
/*          position: absolute;
          right: 40px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../../img/common/ico-input-delete@2x.png);
          background-size: cover;
          width: 24px;
          height: 24px;
          -webkit-appearance: none;*/
        }

        &:focus, &.focus {
          outline: none;
          font-weight: 500;
          border-color: var(--text-01);
          color: var(--text-01);
        }
      }
      span{
        display: none;
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../../img/common/ico-input-delete@2x.png);
        background-size: cover;
        width: 24px;
        height: 24px;
      }
    }
  }

  .faq-menu-top {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar{
      display: none;
      width: 0;
      height: 0;
      background: transparent;
      -webkit-appearance: none;
    }

    ul {
      overflow-x: auto;

      li {
        float: left;
        padding: 0 15px;
        height: 34px;
        line-height: 32px;
        align-items: center;
        background-color: #f5f6f8;
        border-radius: 999px;
        margin-right: 6px;
        border: 1px solid #f5f6f8;

        &.active {
          background-color: #fff;
          border: 1px solid var(--blurple);

          a {
            font-family: var(--font2);
            color: var(--blurple);
          }
        }

        &:last-child {
          margin-right: 0px;
        }

        a {
          display: block;
          font-size: 14px;
          letter-spacing: -0.7px;
          text-align: center;
          color: var(--text-03);
          white-space: nowrap;
        }
      }
    }
  }

  > .result {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.33px;
    text-align: left;
    color: var(--text-01);
    padding: 0 20px;
    margin-bottom: 12px;

    span {
      font-family: var(--font2);
    }
  }

  .faq-list {
    padding: 0 20px 40px;

    ul {
      border-top: 1px solid #37354e;
      border-bottom: 1px solid #d5d5d5;

      li {
        position: relative;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #f5f6f8;

        &:last-child {
          border-bottom: 0;
        }

        &::before {
          content: 'Q';
          position: absolute;
          left: 4px;
          top: 19px;
          font-size: 15px;
          line-height: 20px;
          font-family: var(--font2);
          font-weight: 500;
          letter-spacing: -0.75px;
          color: var(--blurple);
          margin-right: 5px;
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          background-image: url(../../img/sprite/common/ico_arrow_small_nor@2x.png);
          background-size: cover;
          width: 6px;
          height: 16px;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
        }

        a {
          display: block;
          color: var(--text-01);

          .tit {
            font-size: 14px;
            display: inline-block;
            font-family: var(--font2);
            line-height: 20px;
            letter-spacing: -0.35px;
            font-weight: 500;
            padding-left: 21px;
            padding-right: 27px;

            span {
              font-family: var(--font2);
              font-weight: 500;
              color: var(--blurple);
            }
          }
        }
      }
    }

    > .empty {
      border-top: 1px solid #37354e;
      border-bottom: 1px solid #d5d5d5;
      padding: 40px 0;

      .img {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto 12px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.3px;
        text-align: center;
        color: var(--text-02);
      }
    }

    > .desc {
      font-size: 13px;
      line-height: 19px;
      letter-spacing: -0.33px;
      text-align: left;
      color: var(--text-03);
      margin-top: 20px;

      a {
        position: relative;
        color: var(--blurple);
        font-family: var(--font2);
        font-weight: 500;
        text-decoration: underline;
        margin-left: 2px;

        &::after {
          content: '';
          display: inline-block;
          width: 6px;
          height: 16px;
          background-image: url(../../img/common/ico-arrow-pur-nor@2x.png);
          background-size: cover;
          margin-left: 4px;
          vertical-align: middle;
        }
      }
    }
  }

  .faq-detail {
    padding: 20px 20px 40px;

    .tit {
      position: relative;
      font-family: var(--font2);
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: -0.35px;
      text-align: left;
      color: var(--text-01);
      padding-left: 20px;
      margin-bottom: 20px;

      &::before {
        content: 'Q';
        position: absolute;
        left: 4px;
        top: -2px;
        font-size: 15px;
        line-height: 21px;
        font-family: var(--font2);
        font-weight: 500;
        letter-spacing: -0.75px;
        color: var(--blurple);
        margin-right: 5px;
      }
    }

    .answer {
      position: relative;
      padding: 20px 16px 20px 32px;
      background-color: #f7f8fc;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.32px;
      text-align: left;
      color: var(--text-02);

      &::before {
        content: 'A';
        position: absolute;
        width: auto;
        height: auto;
        background: unset;
        border-radius: 50%;
        vertical-align: middle;
        top: 20px;
        left: 16px;
        font-family: var(--font2);
        font-size: 15px;
        color: #ef4b61;
        letter-spacing: -0.75px;
        line-height: 21px;
        font-weight: 500;
      }
    }
  }
}

.faq_list_detail {
  padding: 10px 20px 100px;

  .faq_info {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f6f8;

    .title {
      font-family: var(--font2);
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.45px;
      margin-bottom: 10px;
    }

    .title-sm {
      display: flex;
      align-items: center;
      font-family: var(--font1);
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -.3px;
      padding-top: 0;
      margin-bottom: 0;

      .category {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.32px;
        color: var(--text-03);
      }

      .date {
        position: relative;
        display: inline-block;
        vertical-align: text-top;
        padding-left: 15px;
        font-family: var(--font1);
        font-size: 13px;
        line-height: 18px;
        color: var(--text-03);

        &::before {
          content: '';
          position: absolute;
          left: 6px;
          top: 4px;
          width: 1px;
          height: 8px;
          background-color: #d5d5d5;
        }
      }
    }

    .badge-pill {
      position: absolute;
      right: 0;
      bottom: 20px;
    }
  }

  .faq_content {
    padding: 20px 0;

    p {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.33px;
      min-height: 100px;
    }
  }

  .faq_answer {
    margin-bottom: 40px;

    .content {
      position: relative;
      width: 100%;
      padding: 50px 20px 22px;
      background-color: #f7f8fc;
      margin-top: -25px;

      p {
        font-size: 12px;
        line-height: 19px;
        letter-spacing: -0.3px;
        color: #737183;
      }

      .date {
        font-family: var(--font1);
        font-size: 11px;
        line-height: 26px;
        color: #9b9aa6;
      }

      &::before {
        content: 'A';
        position: absolute;
        width: auto;
        height: auto;
        background: unset;
        border-radius: 50%;
        vertical-align: middle;
        top: 20px;
        left: 20px;
        font-size: 15px;
        color: #ff2e60;
        letter-spacing: -0.75px;
        line-height: 21px;
        font-weight: bold;
      }
    }
  }

  .faq_question {
    label {
      position: relative;
      display: inline-block;
      font-family: var(--font2);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.35px;
      text-align: left;
      margin-bottom: 10px;

      &.must {
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 3px;
          height: 3px;
          background-color: var(--blurple);
          border-radius: 50%;
          top: 0;
          right: -3px;
        }
      }
    }

    .category, .title {
      margin-bottom: 36px;
    }

    .title, .textarea {
      position: relative;

      .txt-limit {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.28px;
        text-align: right;
        color: var(--text-04);
      }
    }

    select {
      font-size: 14px;

      &:focus, &.focus {
        font-family: var(--font2);
        color: var(--text-01);
      }
    }

    input.custom {
      font-family: var(--font2);
      font-size: 14px;
      letter-spacing: -.32px;

      &::placeholder {
        font-family: var(--font1);
      }
    }

    textarea.custom {
      height: 180px;
      padding: 9px 12px;
      margin-bottom: 6px;
      font-family: var(--font2);
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.32px;

      &::placeholder {
        font-family: var(--font1);
      }
    }

    .push_alert {
      margin-bottom: 40px;

      label {
        span {
          font-family: var(--font2);
          font-size: 13px;
          line-height: 26px;
          letter-spacing: -0.33px;
          color: #000000;
        }
      }
    }
  }
}

.faq-must-check {
  padding: 0 20px 40px;

  .txt-lg {
    font-family: var(--font3);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.35px;
    text-align: left;
    color: var(--text-01);
    margin-bottom: 10px;
    border-top: 1px solid #e3e4e8;
    padding-top: 20px;
    padding-left: 4px;

    &::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 17px;
      vertical-align: middle;
      background-image: url(../../img/common/ico-select-key@2x.png);
      background-size: cover;
    }
  }

  .txt {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.32px;
    text-align: left;
    color: var(--text-02);
    margin-bottom: 10px;
    padding: 0 4px;
  }

  .list {
    font-family: var(--font1);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--text-02);
    padding-left: 10px;

    &::before {
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--text-02);
      left: 5px;
    }
  }
}

.faq-category {
  margin-bottom: 20px;

  .faq-item {
    position: relative;
    width: 33%;
    float: left;
    text-align: center;
    border-right: 1px solid #e2e3e6;
    border-bottom: 1px solid #e2e3e6;

    a {
      display: block;
      color: var(--text-01);
      height: 44px;
      line-height: 42px;
      font-family: var(--font2);
      font-size: 12px;
      letter-spacing: -0.6px;
    }

    &.active {
      border-color: var(--color-point);

      a {
        color: var(--color-point);

        &:after {
          content: '';
        }
      }
    }

    &:first-child {
      border-left: 1px solid #e2e3e6;
    }

    &:first-child, &:nth-child(2), &:nth-child(3) {
      border-top: 1px solid #e2e3e6;
    }

    &:nth-child(4) {
      border-left: 1px solid #e2e3e6;
    }

    &.active {
      border-top: 1px solid var(--color-point);
      border-left: 1px solid var(--color-point);
    }
  }
}

.faq-reply-wrap {
  .reply {
    padding: 20px;
    background-color: #f7f8fc;

    .reply-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      .name {
        font-family: var(--font2);
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.32px;
        color: var(--text-01);
      }

      .date {
        font-size: 13px;
        line-height: 18px;
        color: var(--text-03);
      }
    }

    .reply-cont {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.32px;
      text-align: left;
      color: var(--text-02);
      margin-bottom: 10px;
    }

    .btn-wrap {
      overflow: hidden;

      .btn-reply {
        float: right;
        display: inline-block;
        height: 28px;
        font-size: 12px;
        padding: 0 10px;
        border: solid 1px #e3e4e8;
        background-color: var(--white);

        .ico-qna-reply {
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url(../../img/common/ico-qna-reply@2x.png);
          background-size: cover;
          margin-right: 4px;
          transform: translateY(2px);
        }

        span {
          font-size: 11px;
          line-height: 26px;
          letter-spacing: -0.55px;
          color: var(--text-02);
        }
      }
    }
  }

  .re-reply {
    padding: 20px;

    .reply-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      .name {
        font-family: var(--font2);
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.32px;
        color: var(--text-01);

        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url(../../img/common/ico-qna-reply@2x.png);
          background-size: cover;
          margin-right: 4px;
          transform: translateY(2px);
        }
      }

      .length {
        font-size: 11px;
        line-height: 18px;
        color: var(--text-03);
      }

      .date {
        font-size: 11px;
        line-height: 18px;
        color: var(--text-03);
      }
    }

    .reply-cont {
      margin-bottom: 5px;

      textarea.custom {
        height: 100px;
        padding: 10px 12px;
        font-family: var(--font1);
        font-size: 14px;
        letter-spacing: -.32px;
        margin-bottom: 0;
      }

      p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.32px;
        text-align: left;
        color: var(--text-02);
        margin-bottom: 10px;
      }
    }

    .btn-wrap {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;

      .btn {
        min-width: auto;
        padding: 0 15px;
        height: 28px;
        line-height: 28px;
        object-fit: contain;
        border-radius: 2px;
        background-color: var(--blurple);
        font-family: var(--font1);
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.55px;
        color: var(--white);
        border: 0;

        + .btn {
          margin-left: 8px;
        }

        &.btn-gray {
          background-color: var(--text-03);
        }

        &.btn-border {
          border: 1px solid #e3e4e8;
          background-color: #fff;
          color: var(--text-02);
          line-height: 26px;
        }
      }
    }
  }
}

.list-pd {
  padding: 10px 20px 50px;

  > .date {
    display: block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--text-02);
    margin-top: 7px;
  }

  .list-group-header {
    font-family: var(--font3);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.35px;
    text-align: left;
    color: var(--text-01);
    padding-bottom: 14px;

    &.mt {
      margin-top: 36px;
    }
  }
}

.list-pd-lg {
  padding: 13px 20px 0;
}

.list_group {
  border-top: 1px solid #37354e;
  border-left: none;
  border-right: none;

  .list_group_item {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 19px 0 19px 5px;

    &:last-child {
      border-bottom: 1px solid #e3e4e8;
    }

    .item_title {
      padding-right: 50px;

      i {
        transform: translate(0, 2px);
      }

      .title {
        display: block;
        font-family: var(--font2);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.35px;
        vertical-align: top;
      }

      .ic-new {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url(../../img/common/icon_notice_new@2x.png);
        background-size: cover;
        transform: translateY(0);
        margin-left: 5px;
      }
    }


    > .desc {
      font-family: var(--font2);
      font-size: 11px;
      line-height: 17px;
      letter-spacing: -0.28px;
      color: var(--text-03);
      padding-top: 2px;
      padding-right: 50px;

      &.error {
        padding-right: 70px;
        font-family: var(--font1);
      }
    }

    .btn {
      position: absolute;
      right: 3px;
      top: 24px;
      font-family: var(--font1);
      color: #737183;
    }

    > .custom-switch {
      top: 17px;
    }

    .btn_more {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: 100%;

      i {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .day-alert {
      position: relative;
      width: 100%;
      padding: 16px 18px 20px;
      background-color: #f7f8fc;
      margin-top: 20px;

      .desc {
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.28px;
        color: var(--text-point-color);
        margin-bottom: 14px;
      }

      > .item {
        position: relative;
        margin-bottom: 16px;

        .custom-switch {
          top: -3px !important;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.multiple {
      padding: 17px 0 17px 5px;

      .custom-switch {
        top: 23px;
      }
    }

    &.personal {
      padding: 20px 0 19px 5px;
    }

    &.change {
      padding: 20px 0 15px 5px;
    }

    &.list_group_item_lg {
      .item_title {
        .date {
          display: block;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.3px;
          color: var(--text-02);
        }
      }

      .box-switch {
        margin-top: 12px;
        width: 120px;
        transform: none;

        a {
          width: 60px;
        }
      }
    }
  }

  &.multi {
    padding-bottom: 50px;

    .list_group_item {
      padding: 19px 0 16px 5px;

      .title {
        display: inline-block;
        width: calc(100% - 5px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 6px;
      }

      .date {
        display: block;
        font-family: var(--font1);
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.32px;
        color: var(--text-03);
      }

      .badge-pill {
        position: absolute;
        right: 18px;
        top: 27px;
      }
    }
  }

  &.app_lock {
    &:nth-child(2) {
      margin-top: 36px;
    }

    .list_group_item {
      padding: 21px 0 19px 5px;

      .custom-switch {
        right: 0;
      }

      &.list_group_item_lg {
        padding: 20px 0 20px 5px;

        .date {
          display: block;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.3px;
          color: var(--text-02);

          + .date {
            margin-top: 4px;
          }
        }

        .custom-switch {
          top: 15px;
        }
      }

      .txt {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.28px;
        text-align: left;
        color: var(--text-02);
      }
    }
  }

  &.list_group_item_xl {
    position: relative;
    padding: 20px 0 20px 5px;
    border-bottom: 1px solid #37354e;

    > .title-wrap {
      display: flex;
      height: 19px;
      align-items: center;
      margin-bottom: 6px;

      span {
        font-size: 14px;
      }

      .tit {
        font-family: var(--font2);
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.33px;
        text-align: left;
        color: var(--text-01);
        margin-right: 7px;
      }
    }

    > .checkbox-select {
      height: fit-content;
      margin-bottom: 7px;
      padding-left: 23px;

      label {
        height: 18px;

        span {
          font-family: var(--font1);
          font-weight: 400;
        }

        + label {
          margin-left: 20px;
        }
      }

      .filled-in {
        height: 18px;
      }

      [type="checkbox"] + span:not(.lever) {
        padding-left: 23px;
        line-height: 18px;
        height: 18px;
      }

      [type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
        left: 1px;
        top: 0;
      }

      [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
        height: 18px;
        width: 18px;
        border-radius: 2px;
        top: 0;
      }

      [type="checkbox"].filled-in:checked + span:not(.lever):after {
        height: 18px;
        width: 18px;
        border-radius: 2px;
        top: 0;
      }

      [type="checkbox"].filled-in:checked + span:not(.lever):before {
        left: 1px;
        top: 0;
      }
    }

    > .desc {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.3px;
      color: var(--text-03);
      padding-left: 23px;
    }

    .btn-more-wrap {
      position: absolute;
      width: 46px;
      height: 100%;
      display: block;
      right: 0;
      top: 0;

      .btn-more {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../../img/common/ico-list-arrow-small@2x.png);
        background-size: 6px 16px;
        background-repeat: no-repeat;
        background-position: 35px 20px;
      }
    }
  }
}

.company-info {
  padding: 10px 20px 50px;

  ul {
    border-top: 1px solid var(--text-01);
    border-bottom: 1px solid #e3e4e8;

    li {
      padding: 20px 4px;
      border-bottom: 1px solid #f5f6f8;

      &:last-child {
        border-bottom: 0;
      }

      .tit {
        display: block;
        font-family: var(--font2);
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;
        text-align: left;
        color: var(--text-03);
        margin-bottom: 4px;
      }

      .desc {
        display: block;
        font-family: var(--font2);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.35px;
        text-align: left;
        color: var(--text-01);
      }
    }
  }
}

.open-license {
  padding: 10px 20px 20px;
}

.withdrawal {
  padding: 10px 20px 30px;

  .box_withdrawal {
    padding: 16px;
    background-color: #f7f8fc;
    margin-bottom: 36px;

    .item {
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }

      .title_list {
        padding-top: 1px;
        margin-bottom: 10px;

        .title {
          padding-top: 0;
          float: none;
          font-family: var(--font3);
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          letter-spacing: -0.35px;
          text-align: left;
          color: var(--text-01);
        }
      }

      .list {
        font-family: var(--font1);
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.32px;
        text-align: left;
        color: var(--text-02);
        margin-bottom: 0;

        & + .list {
          margin-top: 4px;
        }

        &:before {
          top: 9px;
        }
      }
    }
  }

  .withdrawal-txt-lg {
    font-weight: normal;
    color: var(--text-01);
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.45px;
    margin-bottom: 15px;

    span {
      font-family: var(--font3);
      font-weight: bold;
      color: var(--blurple);
    }
  }

  .withdrawal-txt {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.35px;
    text-align: left;
    color: var(--text-01);
    margin-bottom: 30px;
  }

  .withdrawal-form {
    label {
      position: relative;
      display: inline-block;
      font-family: var(--font2);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.35px;
      text-align: left;
      margin-bottom: 9px;

      &.must {
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 3px;
          height: 3px;
          background-color: var(--blurple);
          border-radius: 50%;
          top: 0;
          right: -3px;
        }
      }
    }

    .category {
      margin-bottom: 15px;

      select {
        height: 40px;
        line-height: 17px;

        &:focus, &.focus {
          font-family: var(--font2);
          color: var(--text-01);
        }
      }
    }

    .textarea {
      position: relative;

      textarea.custom {
        height: 100px;
        padding: 9px 12px;
        margin-bottom: 6px;
        font-family: var(--font1);
        letter-spacing: -.35px;

        &::placeholder {
          font-family: var(--font1);
        }
      }

      .txt-limit {
        display: block;
        text-align: right;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.28px;
        color: var(--text-04);
        margin-bottom: 10px;
      }
    }
  }

  .btn-box {
    margin-top: 40px;
    overflow: hidden;
  }
}

.withdrawal-completed {
  padding-top: 140px;
  text-align: center;

  .img {
    display: block;
    width: 166px;
    height: 130px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .tit-lg {
    font-family: var(--font3);
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: -0.45px;
    color: var(--blurple);
    margin-bottom: 25px;
  }

  .tit {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.38px;
    color: var(--text-01);
    margin-bottom: 36px;
  }

  .tit-sm {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.38px;
    color: var(--blurple);
  }
}

.terms {
  .sub-title-sm {
    margin-bottom: 3px !important;
  }

  .list_group {
    .list_group_item {
      padding: 18px 0 18px 5px !important;

      &.group-lg {
        padding: 20px 0 18px 5px !important;
      }
    }
  }
}

.terms_of_use_detail {
  margin-bottom: 30px;

  .box {
    padding: 13px 20px 0;

    &.expand {
      padding: 13px 25px;
    }

    .title_area {
      border-bottom: 1px solid #888888;
      padding-bottom: 10px;
      margin-bottom: 15px;

      .title {
        font-size: 18px;
        letter-spacing: -0.9px;
      }
    }

    .title_list {
      margin-bottom: 23px;
      padding-top: 0;

      .title {
        float: none;
        padding-top: 0;
      }
    }

    .content_list {
      margin-bottom: 23px;

      .sub_title {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        font-family: var(--font1);
        color: #37354e;
      }

      p {
        font-size: 12px;
        line-height: 18px;
        color: #737183;
        letter-spacing: -0.3px;
        font-family: var(--font1);
      }
    }
  }
}

.open-notice {
  padding: 17px 16px 0;
  background-color: #f7f8fc;

  p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.33px;
    color: var(--text-02);
    margin-bottom: 10px;
  }

  .img {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 359px) {
  .more-view-my-page .my-page .info {
    flex-direction: column;
  }

  .more-view-my-page .my-page .info .item {
    margin-right: 0;
  }

  .more-view-my-page .my-page .info .item + .item {
    margin-top: 8px;
  }

  .more-view-my-page .my-page .info .item + .item::before {
    content: none;
  }
}
