.my-data-sign-in {
  padding: 10px 20px 0;

  > .title-area {
    margin-bottom: 40px;

    .title {
      font-size: 18px;
      letter-spacing: -.45px;
      line-height: 28px;

      span {
        font-family: var(--font3);
        font-weight: bold;
        color: var(--color-point);
      }
    }

    .desc {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.33px;
      text-align: left;
      color: var(--text-02);
      margin-top: 6px;
    }
  }

  .agree {
    margin-bottom: 24px;

    label {
      span {
        font-family: var(--font3);
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .box_sign {
    border-top: 1px solid #888888;

    .option {
      position: relative;
      padding-top: 22px;
      margin-bottom: -4px;

      [type="checkbox"] + span:not(.lever) {
        font-size: 13px;
        font-family: var(--font2);
        letter-spacing: -0.65px;
      }
    }

    .btn_more {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 12px;
      right: 0;
      padding: 10px 2px 10px 10px;
      z-index: 10;

      i {
        position: absolute;
        right: 8px;
        top: 15px;
      }
    }
  }

  .sign-in-wrap {
    .card-wrap {
      padding: 0;
      margin-bottom: 0;

      .card-box {
        .item {
          > label {
            left: 20px;
          }
        }
      }

      .card-title {
        color: var(--text-01);
        border-bottom: 2px solid var(--text-01);
      }
    }
  }
}

.my-data-required {
  padding: 10px 20px 52px;

  > .title-area {
    margin-bottom: 30px;

    .title {
      font-size: 18px;
      letter-spacing: -.45px;
      line-height: 28px;

      span {
        font-family: var(--font3);
        font-weight: bold;
        color: var(--color-point);
      }
    }
  }

  > .card-list {
    .card-item {
      margin-bottom: 36px;
      overflow: hidden;

      &.card-item-box {
        border-radius: 6px;
        box-shadow: 0 5px 10px 0 rgba(55, 53, 78, 0.1);
        border: solid 1px #f5f6f8;
        background-color: var(--white);

        .card-header {
          border-bottom: 1px solid #f5f6f8;
        }
      }

      .dropdown-wrap {
        padding: 0;
        margin-bottom: 10px;
        width: calc(100% - 40px);
        margin-left: 20px;

        .dropdown {
          .dropdown-toggle {
            width: 100%;
            height: auto;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 5px 10px 0 rgba(55, 53, 78, 0.1);
            border: solid 1px #f5f6f8;
            background-color: var(--white);
            line-height: 20px;
            color: var(--text-01);

            &[aria-expanded="true"] {
              &::after {
                transform: translateY(-50%) rotate(180deg);
              }
            }

            img {
              display: inline-block;
              vertical-align: middle;
              width: 22px;
              height: 22px;
              margin-right: 6px;
            }

            span {
              display: inline-block;
              vertical-align: middle;
            }

            &::after {
              width: 16px;
              height: 16px;
              background-image: url(../../img/common/ico-arrow-down-small-nor@2x.png);
              background-size: cover;
              border: 0;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &.show {
            .dropdown-toggle {
              border-radius: 6px 6px 0 0;
            }
          }

          .dropdown-menu {
            width: 100%;
            border: solid 1px #f5f6f8;
            border-radius: 0 0 6px 6px;
            box-shadow: 0 5px 10px 0 rgba(55, 53, 78, 0.1);
            margin: -1px 0 0 0;
            padding: 0 20px;

            .dropdown-item {
              line-height: 20px;
              padding: 20px 0;

              &:focus, &:active, &:hover {
                background-color: #fff;
              }

              + .dropdown-item {
                border-top: solid 1px #f5f6f8;
              }

              img {
                display: inline-block;
                vertical-align: middle;
                width: 22px;
                height: 22px;
                margin-right: 6px;
              }

              span {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.35px;
                text-align: left;
                color: var(--text-01);
              }
            }
          }
        }
      }

      .card-header {
        overflow: hidden;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0;
        background-color: #fff;
        border-radius: 0;
        padding: 0;

        > img {
          width: 22px;
          height: 22px;
          margin-right: 6px;
        }

        > span {
          font-family: var(--font2);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.35px;
          color: var(--text-01);
        }
      }

      .card-body {
        padding: 0 20px;

        > .tit {
          font-family: var(--font3);
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          letter-spacing: -0.35px;
          color: var(--text-01);
          margin-bottom: 7px;
          padding-top: 21px;
        }

        > .desc {
          font-size: 13px;
          line-height: 21px;
          letter-spacing: -0.33px;
          text-align: left;
          color: var(--text-02);
          margin-bottom: 17px;
        }

        .checkbox {
          margin-top: 14px;

          label {
            margin-right: 40px;

            span {
              font-family: var(--font1);
              font-weight: 400;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        > .cont {
          .list-body {
            width: 100%;

            .item {
              width: 100%;
              padding: 20px 0;
              align-items: start;
              border-bottom: 1px solid #f5f6f8;

              &:last-child {
                border-bottom: 0;
              }

              .tit {
                display: block;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: -0.3px;
                color: var(--text-02);
                margin-bottom: 4px;
              }

              .val {
                display: block;
                font-size: 13px;
                font-family: var(--font2);
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.33px;
                color: var(--text-01);

                > a {
                  font-size: 13px;
                  font-family: var(--font1);
                  line-height: 19px;
                  letter-spacing: -0.33px;
                  color: var(--text-03);
                  text-decoration: underline;
                  margin-left: 6px;
                }
                +.my-data-terms-of-use{
                  padding-top: 20px;
                }
              }
            }
          }
        }

        > .info-tit {
          font-family: var(--font2);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.35px;
          color: var(--text-01);
          padding-top: 20px;
          padding-bottom: 14px;
          border-bottom: 1px solid var(--text-01);
        }

        > .info-list {
          ul {
            .item {
              position: relative;
              width: 100%;
              padding: 20px 4px;
              border-bottom: 1px solid #f5f6f8;

              &:last-child {
                border-bottom: 0;
              }

              .info {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;

                .tit {
                  font-family: var(--font2);
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: -0.35px;
                  margin-bottom: 3px;
                }

                .num {
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 18px;
                  letter-spacing: -0.3px;
                  text-align: left;
                  color: var(--text-03);
                }
              }

              > label {
                position: absolute;
                width: calc(100% + 40px);
                right: -16px;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 100%;
              }
            }
          }
        }

        .my-data-terms-of-use {
          padding: 0;

          > .title {
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.38px;
            text-align: left;
            color: var(--text-01);
            margin-bottom: 10px;

            &.title-sm {
              font-size: 14px;
              line-height: 20px;
              letter-spacing: -0.35px;
              padding-top: 0;
            }
          }

          .checkbox {
            margin-bottom: 0;
          }

          .table {
            td {
              vertical-align: top;
              padding: 8px 10px;

              &.col-header {
                text-align: center;

                span {
                  text-align: center;
                  color: var(--text-02);
                }
              }

              span {
                display: block;
                font-size: 11px;
                line-height: 17px;
                letter-spacing: -0.28px;
                text-align: left;
                color: var(--text-02);
              }
            }
          }
        }
      }
    }
  }

  > .security-area {
    .desc {
      margin-bottom: 40px;

      .ico-lock {
        display: inline-block;
        width: 13px;
        height: 14px;
        margin-right: 5px;
        vertical-align: middle;
        background-image: url(../../img/common/ico-lock.svg);
        background-size: cover;
      }

      .txt {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        color: var(--color-point);
      }
    }

    .custom-light {
      input {
        margin-right: 0;
      }
    }
  }

}

.my-data-completed {
  padding-top: 131px;

  .img {
    display: block;
    width: 200px;
    height: 90px;
    margin: 0 auto 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .txt {
    font-family: var(--font2);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.38px;
    text-align: center;
    color: var(--text-01);
    margin-bottom: 12px;
  }

  .desc {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.35px;
    text-align: center;
    color: var(--text-03);

    &.caution {
      span {
        display: inline-block;

        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url(../../img/common/ico-caution@2x.png);
          background-size: cover;
          margin-right: 4px;
        }
      }
    }
  }
}

.my-data-connected {
  padding-top: 22%;

  .img {
    display: block;
    width: 200px;
    height: 90px;
    margin: 0 auto 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .tit-lg {
    font-family: var(--font3);
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.43px;
    text-align: center;
    color: var(--text-01);
    margin-bottom: 12px;
  }

  .tit-md {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.38px;
    text-align: center;
    color: var(--text-01);
  }

  .desc {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.35px;
    text-align: center;
    color: var(--text-03);
    margin-top: 12px;

    &.caution {
      span {
        display: inline-block;

        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url(../../img/common/ico-caution@2x.png);
          background-size: cover;
          margin-right: 4px;
        }
      }
    }
  }
}

.my-data-btn-fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;

  .btn {
    width: 100%;
    height: 56px;
    background-color: var(--color-point);
    text-align: center;
    font-family: var(--font2);
    font-size: 15px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.38px;
    color: #fff;
  }
}

.my-data-btn-absolute {
  width: 100%;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
}

.my-data-terms-of-use {
  padding: 10px 20px 30px;

  > .title {
    font-family: var(--font3);
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.43px;
    text-align: center;
    margin-bottom: 30px;
  }

  .item-wrap {
    margin-bottom: 30px;
  }

  .item {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    > .title {
      font-family: var(--font3);
      font-size: 15px;
      font-weight: bold;
      line-height: 22px;
      letter-spacing: -0.35px;
      margin-bottom: 10px;

      &:nth-child(3) {
        margin-top: 15px;
        margin-bottom: 40px;
      }
    }

    .desc {
      font-size: 12px;
      line-height: 19px;
      letter-spacing: -0.3px;
      color: var(--text-02);

      &.highlight {
        display: inline-block;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.38px;
        color: #ef4b61;
        border-bottom: 1px solid #ef4b61;
      }
    }

    .list {
      font-family: var(--font1);
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-02);
      margin-bottom: 6px;
      letter-spacing: -0.3px;

      &::before {
        top: 9px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .table {
      thead {
        tr {
          th {
            color: var(--text-02);
          }
        }
      }

      tbody {
        tr {
          td {
            font-family: var(--font1);
            font-weight: normal;
            color: var(--text-02);
            letter-spacing: -.28px;
            line-height: 16px;
            padding: 8px;
          }
        }
      }
    }
  }

  .table {
    td {
      span {
        display: inline-block;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.28px;
        text-align: left;
        color: var(--text-02);
      }
    }

    td:nth-child(2) {
      vertical-align: top;
    }

    td.col-header {
      background-color: #f5f6f8;
      font-family: var(--font2);
      font-size: 11px;
      font-weight: 500;
      line-height: 1.45;
      letter-spacing: -0.55px;
      text-align: center;
      color: var(--text-02);
    }
  }

  .checkbox {
    margin-bottom: 36px;

    label {
      &:first-child {
        margin-right: 40px;
      }
    }
  }

  /*예외 페이지*/
  /* 09_moreview_31 / 09_moreview_32 /  04_my_data_22*/

  &.more-view {
    padding-top: 15px;
    .dropdown-wrap{
      padding: 0;
    }
    .item-wrap{
      margin-bottom: 0;
      .item{
        margin-bottom: 25px;
        .title{
          margin-bottom: 20px;
        }
        .table{
          margin-top: 10px;
        }
        &:last-of-type{
          margin-bottom: 0;
        }
        .sub-title{
          margin-bottom: 15px;
          font-size: 13px;
          color: var(--text-01);
          font-family: var(--font2);
        }
        .desc{
          margin-bottom: 15px;
          color: var(--text-02);
          &:last-of-type{
            margin-bottom: 0;
          }
          .sub-desc{
            padding-top :6px;
            padding-left: 10px;
            display: inline-block;
          }
          .dot{
            padding-left: 7px;
            margin-bottom: 6px;
            position: relative;
            &:last-of-type{
              margin-bottom: 0;
            }
            &:before{
              background-color: var(--text-02);
            }
          }
        }
      }
    }
  }

}

.my-data-service {
  padding: 10px 20px 30px;
  overflow: hidden;

  .heading-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.45px;
    text-align: left;
    color: var(--text-01);
    margin-bottom: 24px;
  }

  .badge-wrap {
    margin-bottom: 12px;

    .badge {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      border-radius: 333px;
      background-color: var(--blurple);
      font-family: var(--font2);
      font-size: 11px;
      font-weight: 500;
      letter-spacing: -0.55px;
      text-align: center;
      color: var(--white);
    }
  }

  .desc {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.38px;
    text-align: left;
    color: var(--text-01);
    margin-bottom: 20px;
  }

  .list-box {
    padding: 24px 0 24px 40px;
    border-radius: 6px;
    background-color: #f7f8fc;
    margin-bottom: 20px;

    li {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.35px;
      text-align: left;
      color: var(--text-01);

      &::after {
        content: '';
        position: absolute;
        left: -20px;
        top: 2px;
        width: 17px;
        height: 17px;
        background-image: url(../../img/common/ico-select-key@2x.png);
        background-size: cover;
      }

      + li {
        margin-top: 12px;
      }
    }
  }

  .link-box {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.7px;
    text-align: center;
    color: var(--text-01);
    margin-bottom: 40px;

    a {
      color: #62a1d0;
      text-decoration: underline;
    }
  }

  .sign-in-wrap {
    .card-wrap {
      padding: 0;
    }

    .card-head {
      font-family: var(--font2);
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.38px;
      text-align: left;
      color: var(--text-01);
      margin-bottom: 14px;
    }

    .card-head-sm {
      font-size: 13px;
      line-height: 21px;
      letter-spacing: -0.33px;
      text-align: left;
      color: var(--text-02);
      margin-bottom: 13px;
    }

    .card-box {
      border-top: 2px  solid var(--text-01);


      .title-wrap {
        margin-bottom: 0 !important;
      }
    }
  }
}
