.hide {
  position: absolute;
  opacity: .5;
  top: 0;
  left: 0;
}

.dot {
  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #666666;
    border-radius: 50%;
    vertical-align: middle;
    top: 9px;
    left: 0;
  }
}

.primary {
  color: var(--color-point) !important;
  font-family: var(--font1);
  letter-spacing: unset;
}

.error {
  color: var(--color-error) !important;
  font-family: var(--font2);
  letter-spacing: unset;
}

.interlock_before {
  & .box_error {
    padding-top: 84px;

    & .error_img {
      margin-bottom: 16px;

      & img {
        width: 60px;
      }
    }

    & .error_title {
      font-size: 18px;
      line-height: 31px;
      text-align: center;
      font-family: var(--font1);
      letter-spacing: -0.9px;
      font-weight: 500;
      margin-bottom: 11px;
    }

    & .error_msg {
      line-height: 21px;
      margin-bottom: 24px;
    }
  }
}

.list {
  position: relative;
  display: block;
  padding-left: 6px;
  font-family: var(--font2);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.6px;
  color: #666666;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    //background-color: #666666;
    border-radius: 50%;
    vertical-align: middle;
    top: 6px;
    left: 0;
  }

  &.caution {
    font-size: 11px;
    line-height: 18px;
    color: #666666;
    letter-spacing: -0.55px;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: transparent;
      background-image: url("../../img/sprite/common/ico_caution@2x.png");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      top: 3px;
      left: 5px;
    }
  }
}

.popup_salary {
  & .table {
    margin-top: -1px;
  }
}

.main {
  & .title_area {
    margin-bottom: 25px !important;
  }

  & .box {
    & .sub-title-sm {
      margin-bottom: 8px;
    }

    & .secession_wrap {
      padding: 13px 4px;
      margin-bottom: 22px;

      & .txt {
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.3px;
        color: #afaeb8;
      }

      & .btn-secession {
        float: right;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        color: #afaeb8;
        border-bottom: 1px solid #afaeb8;
      }
    }
  }
}


/*
2020.06.04 추가
사업자 정보 아코디언
*/
.companyInfo {
  &.accordion {
    border-top: 0;
    border-bottom: 0;
    height: 72px;

    & .card {
      border-top: 0;
      padding: 26px 24px 0;

      & .card-header {
        margin-bottom: 0;
        padding: 0;

        & .title {
          position: relative;
          font-family: var(--font2);
          font-weight: 500;
          font-size: 12px;
          line-height: 21px;
          letter-spacing: -0.3px;
          color: var(--color-text-default);
          padding-left: 0;
        }

        & .btn-arrow {
          display: inline-block;
          vertical-align: middle;
          margin-left: 4px;
          top: 9px;
          right: auto;
          left: 61px;

          & .icon_arrow {
            display: block;
            background: url(../../img/sprite/common/ico_list_arrow_close.png) no-repeat;
            width: 7px;
            height: 4px;
          }
        }

        &.active {
          & .icon_arrow {
            background: url(../../img/sprite/common/ico_list_arrow_open.png) no-repeat;
          }
        }
      }

      & .card-body {
        background: #fff;
        border-top: 0;
        border-bottom: 0;
        padding: 18px 16px 20px 0;

        & .info-01, & .info-02 {
          font-size: 11px;
          line-height: 17px;
          letter-spacing: -0.28px;
          color: #afaeb8;
        }

        & .info-01 {
          & span {
            position: relative;
            margin-right: 15px;

            &::after {
              content: '';
              width: 1px;
              height: 8px;
              border-right: 1px solid #e3e4e8;
              position: absolute;
              right: -8px;
              top: 5px;
            }

            &:last-child {
              margin-right: 0;

              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

.accordion {
  border-top: 1px solid #37354e;
  border-bottom: 1px solid #d5d5d5;

  & .card {
    border-top: unset;
    /*border-bottom: 1px solid #f0f0f0;*/
    background: transparent;
    padding: 0;

    & .card-header {
      margin-bottom: 0;
      padding: 18px 0 10px 0;
      /* border-bottom: 1px solid #f5f6f8;*/

      & .title {
        font-size: 12px;
        line-height: 21px;
        font-family: var(--font2);
        color: #888888;
        letter-spacing: -0.6px;
        margin-bottom: 2px;
        padding-left: 4px;
        padding-right: 23px;
      }

      & .question {
        font-size: 13px;
        font-family: var(--font2);
        line-height: 21px;
        letter-spacing: -0.65px;
        font-weight: 500;
        margin-bottom: 2px;
        padding-left: 21px;
        padding-right: 25px;
        display: inline-block;

        & .ic-new {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url(../../img/common/icon_notice_new@2x.png);
          background-size: cover;
          transform: translateY(1px);
          margin-left: 5px;
        }

        &::before {
          content: 'Q';
          position: absolute;
          left: 4px;
          top: 22px;
          font-size: 14px;
          font-weight: 500;

          letter-spacing: -0.7px;
          color: var(--color-point);
          margin-right: 5px;
        }
      }

      & .btn-arrow {
        position: absolute;
        background: none;
        right: 5px;
        top: 33px;

        &:focus {
          outline: none;
        }

        & .icon_arrow {
          display: block;
          background-image: url("../../img/sprite/common/ico_input_arrow_open@2x.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 18px;
          height: 18px;
        }
      }

      &.active {
        & .question {
          color: var(--color-point);
          font-family: var(--font2);
          font-weight: 500;
        }

        & .icon_arrow {
          background-image: url("../../img/sprite/common/ico_input_arrow_close@2x.png");
        }
      }
    }

    & .card-body {
      padding: 18px 16px 20px;
      margin-bottom: 20px;

      & .list {
        padding-left: 17px;
        color: #737183;
        letter-spacing: -.3px;
        line-height: 19px;

        &:before {
          content: 'A';
          position: absolute;
          width: auto;
          height: auto;
          background: unset;
          border-radius: 50%;
          vertical-align: middle;
          top: 0;
          left: 0;
          font-size: 15px;

          color: #ff2e60;
          letter-spacing: -0.75px;
          line-height: 21px;
          font-weight: bold;
        }
      }
    }

    &.single {
      & .btn-arrow {
        top: 23px;
      }
    }

    &:last-child {
      & .card-header {
        border-bottom: 0;
      }
    }
  }

  &.faq {
    & .card-header {
      padding: 20px 0;

      & .question {
        line-height: 19px;
      }
    }
  }

  &.news {
    & .card-header {
      & .question {
        padding-left: 4px;

        &::before {
          content: none;
        }
      }
    }
  }
}

.setting {
  & .title_area {
    margin-bottom: 28px !important;
  }

  & .line {
    width: 100vw;
    height: 14px;
    border: 1px solid #e9e9e9;
    background: #fbfbfb;
    margin-top: 40px;
    margin-left: -20px;
  }
}

.news {
  & .title_area {
    margin-bottom: 18px !important;
  }

  & .card-header {
    & .date {
      font-family: var(--font1);
      font-size: 12px;
      color: #888888;
      padding-left: 5px;
      padding-right: 23px;
      margin-bottom: 5px;
    }
  }

  & .list {
    padding-left: 0 !important;

    &:before {
      content: none !important;
    }
  }

}

.container_box {
  &.case {
    padding: 41px 20px 0 18px;

    & .title_area {
      margin-bottom: 33px;
    }

    & .case_title {
      font-size: 13px;
      line-height: 31px;
      font-family: var(--font1);
      letter-spacing: -0.65px;
      font-weight: 500;
      margin-bottom: 7px;
    }
  }
}

.container_box {
  &.case_graph {
    padding: 34px 20px 0 22px;

    & .title_area {
      margin-bottom: 42px;

      & .title {
        font-family: var(--font1);
        font-size: 21px;
        font-weight: 600;
        letter-spacing: unset;
      }
    }

    & .case_title {
      font-size: 14px;
      line-height: 22px;
      font-family: var(--font1);
      letter-spacing: unset;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}

.deduct {
  & .input_area {
    margin-bottom: 21px;
  }

  & .statement {
    border-top: 1px solid #888;
    border-bottom: 1px solid #d5d5d5;

    &.no-bb {
      border-bottom: none !important;
    }

    & .item:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
      padding-left: 3px;
    }

    & .item {
      padding: 20px 0 16.5px;

      & .description {
        width: 100%;
        height: 20px;
        font-size: 13px;
        letter-spacing: -0.65px;
        color: #000;
        font-family: var(--font1);
        margin-bottom: 1px;

        & .name {
          float: left;
          width: 60%;
          text-align: left;
          padding-left: 5px;

          & i {
            vertical-align: bottom;
            margin-right: 4px;
          }
        }

        & .value {
          float: right;
          width: 40%;
          text-align: right;
          font-weight: 500;
          padding-right: 6px;
          letter-spacing: 0;

          &.primary {

            color: var(--color-point);
          }
        }
      }

      & .add {
        font-family: var(--font2);
        font-size: 11px;
        line-height: 21px;
        letter-spacing: -0.55px;
        color: #888;
        padding-left: 5px;
        padding-top: 1px;

        & .num {
          letter-spacing: 0;
        }
      }
    }
  }

  & .sub_title {
    margin-bottom: 29px;
  }

  & .chart.chart_graph {
    margin-bottom: 57px;
  }

  & .label-box {
    float: right;
    padding-top: 15px;
    padding-right: 5px;
  }

  & .statement {
    &.spacing {
      margin-bottom: 12px;
    }
  }

  & .item.connection {
    padding-left: 34px !important;
  }

  & .list.caution {
    padding-left: 16px;

    &:before {
      left: 0;
    }
  }
}

.bank_logo {
  float: left;
  margin-top: 26px;
  margin-left: 5px;

  & img {
    width: 26px;
  }
}

.sign_in {
  padding: 14px 20px 100px 28px;

  & .title_area {
    margin-bottom: 57px;

    & .title {
      font-family: var(--font2);
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -.35px;
      line-height: 29px;
    }
  }

  & .agree {
    margin-bottom: 23px;

    & label {
      & span {
        font-weight: bold;
      }
    }
  }

  & .box_sign {
    border-top: 1px solid #888888;

    & .option {
      position: relative;
      padding-top: 21px;
      margin-bottom: -4px;

      & [type="checkbox"] + span:not(.lever) {
        font-size: 13px;
        font-family: var(--font2);
        letter-spacing: -0.65px;
      }
    }

    & .btn_more {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 12px;
      right: 0;
      padding: 10px 2px 10px 10px;
      z-index: 10;

      & i {
        position: absolute;
        right: 8px;
        top: 15px;
      }
    }
  }
}

.dropdown-wrap {
  padding: 0 20px 0;
  margin-bottom: 27px;

  & .dropdown {
    & .dropdown-toggle {
      position: relative;
      width: 120px;
      height: 36px;
      line-height: 34px;
      border-radius: 4px;
      border: 1px solid #e2e3e6;
      background-color: #fff;
      padding: 0 12px;
      text-align: left;
      font-size: 14px;
      letter-spacing: -.33px;

      &.disabled {
        color: var(--text-01);
        opacity: 1;

        &::after {
          content: none;
        }
      }

      &[aria-expanded="true"] {
        background-color: #f5f6f8;
      }

      &:focus, &:hover, &:active {
        color: var(--text-01);
        box-shadow: none;
      }

      &::after {
        position: absolute;
        display: block;
        width: 18px;
        height: 18px;
        background-image: url("../../img/common/ico_arrow_down.png");
        background-size: cover;
        border: 0;
        right: 12px;
        top: 9px;
      }
    }

    & .dropdown-menu {
      max-height: 421px;
      overflow-y: auto;
      min-width: auto;
      width: 120px;
      border-radius: 4px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
      border: solid 1px #e2e3e6;
      background-color: var(--white);

      & .dropdown-item {
        font-size: 14px;
        line-height: 36px;
      }
    }
  }
}


.terms_of_service {
  padding: 0 20px 40px 20px;

  & .title {
    font-size: 20px;
    font-family: var(--font2);
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
  }

  & .title-lg {
    font-family: var(--font2);
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.45px;
    color: var(--text-01);
    margin-bottom: 20px;
  }

  & .title-sm {
    font-family: var(--font2);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.38px;
    margin-bottom: 15px;
  }

  & .content {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.35px;
    margin-bottom: 25px;
    color: var(--text-01);
  }

  & .color-grey {
    color: var(--text-02);
  }

  & .t-table {
    margin-bottom: 30px;

    & .table {
      & thead {
        & tr {
          & th {
            padding: 0 10px;
            height: 30px;
            font-family: var(--font2);
            font-size: 13px;
            color: var(--text-02);
            line-height: 21px;
            letter-spacing: -.33px;
            border-bottom: 1px solid #dee2e6;
          }
        }
      }

      & tbody {
        & tr {
          & td {
            padding: 10px;
            line-height: 21px;
            font-size: 13px;
            font-family: var(--font1);
            color: var(--text-02);
            vertical-align: top;
            text-align: left;

            &.font-medium {
              font-family: var(--font2);
              color: var(--text-01);
            }
          }
        }

        &.font-small {
          & tr {
            & td {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  & .v-table {
    margin-bottom: 30px;

    & tr {
      border-bottom: 1px solid #e3e4e8;

      &:first-child {
        border-top: 0;
      }

      & td {
        font-family: var(--font1);
        font-size: 13px;
        line-height: 21px;
        letter-spacing: normal;
        text-align: left;
        padding: 10px 12px;
        color: var(--text-02);

        &:first-child {
          background-color: #f5f6f8;
          font-family: var(--font2);
          font-size: 13px;
          font-weight: 500;
          letter-spacing: -0.33px;
          text-align: center;
          color: var(--text-02);
        }
      }
    }
  }
}

/* tablet */
@media (min-width: 767px) {
  .dropdown-wrap {
    padding: 100px 20px 0;
    margin: 0 auto;

    & .dropdown {
      margin-bottom: 50px;

      & .dropdown-toggle {
        width: 150px;
        height: 42px;
        line-height: 40px;
        border-radius: 2px;
        font-size: 16px;
        letter-spacing: normal;

        &::after {
          width: 26px;
          height: 26px;
          right: 12px;
          top: 9px;
        }
      }

      & .dropdown-menu {
        max-height: 421px;
        overflow-y: scroll;
        min-width: auto;
        width: 150px;

        & .dropdown-item {
          font-size: 16px;
          line-height: 42px;
        }
      }
    }
  }

  .terms_of_service {
    padding: 0 20px 30px 20px;

    & .title {
      font-size: 20px;
      font-family: var(--font2);
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 25px;
    }

    & .title-lg {
      font-size: 22px;
      line-height: 27px;
    }

    & .title-sm {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    & .content {
      font-size: 16px;
      line-height: 26px;
    }

    & .t-table {
      & .table {
        & tbody {
          & tr {
            & td {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

/* pc */
@media (min-width: 1060px) {
  .dropdown-wrap {
    width: 1060px;
    padding: 150px 0 0;
  }

  .terms_of_service {
    padding: 0 0 30px 0;
    width: 1060px;
    margin: 0 auto;

    & .title-lg {
      font-size: 32px;
      line-height: 62px;
      margin-bottom: 20px;
    }

    & .content {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 30px;
    }

    & .t-table {
      & .table {
        & thead {
          & tr {
            & th {
              background-color: #f5f6f8;
              padding: 15px 10px;
              text-align: center;
              font-size: 15px;
              font-weight: 500;
              font-family: var(--font2);
            }
          }
        }

        & tbody {
          & tr {
            & td {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

/*
  S 06_연말정산
*/
.box_tax_service {
  position: relative;

  & .inner {
    padding: 78px 28px 0;

    & .intro {
      font-family: var(--font2);
      font-size: 22px;
      line-height: 31px;
      letter-spacing: -0.55px;
      margin-bottom: 12px;

      & .primary {
        font-family: var(--font2);
      }
    }

    & .desc {
      font-size: 13px;
      line-height: 21px;
      letter-spacing: -0.33px;
      color: #737183;
    }

    & .img {
      position: absolute;
      width: 280px;
      height: 200px;
      right: 30px;
      top: 263px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.box_tax_main {
  border-bottom: 10px solid #f5f6f8;

  & .inner {
    position: relative;
    padding: 5px 20px 46px;

    & .tooltip-badge {
      position: relative;
      display: inline-block;
      padding: 0 15px 0;
      height: 28px;
      line-height: 28px;
      border-radius: 15px;
      background-color: var(--color-point);
      text-align: center;
      color: #ffffff;
      margin-bottom: 15px;

      & span {
        color: #ffff02;
      }

      &::before {
        content: '';
        position: absolute;
        width: 9.7px;
        height: 6.8px;
        background-color: #200f46;
        bottom: -6px;
        left: 8px;
        z-index: -3;
      }

      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 9px;
        background-color: #ffffff;
        transform: rotate(32deg);
        bottom: -11px;
        left: 5px;
        z-index: -2;
      }
    }

    & .desc {
      float: left;
      width: calc(100% - 120px);
      font-size: 16px;
      font-family: var(--font2);
      padding-left: 6px;
      letter-spacing: -.4px;
      line-height: 24px;

      & span {
        letter-spacing: -.16px;
        color: var(--color-point);
      }

      &.desc-sm {
        font-size: 14px;
        letter-spacing: -0.35px;
      }
    }

    & .img {
      float: left;
      width: 120px;
      height: 100px;
      margin-top: -15px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .btn-open {
      position: absolute;
      top: 102px;
      left: 26px;

      & a {
        font-size: 12px;
        line-height: 18px;
        font-family: var(--font2);
        color: var(--color-point);
        letter-spacing: -.6px;
        text-decoration: underline;
        margin-right: 4px;
      }

      & i {
        vertical-align: middle;
        transform: translate(0, -2px);
      }
    }
  }
}

.box_tax {
  border-bottom: 10px solid #f5f6f8;
  margin-bottom: 6px;

  & .inner {
    padding: 30px 24px 15px;

    & > .title {
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: -0.35px;
      padding-bottom: 14px;
      border-bottom: 1px solid #37354e;
    }

    & .list-box {
      padding: 20px 0;
      border-bottom: 1px solid #f2f4f7;

      & .list-header {
        position: relative;
        padding-left: 26px;
        margin-bottom: 11px;

        & > i {
          position: absolute;
          left: 1px;
          top: 1px;
        }

        & .title {
          font-family: var(--font2);
          font-size: 14px;
          line-height: 21px;
          letter-spacing: -0.35px;
        }

        & .btn-more {
          position: absolute;
          top: -3px;
          right: 2px;
          padding: 5px 0 5px 20px;
        }
      }

      & .list-body {
        margin-bottom: 20px;

        & li {
          display: block;
          margin-bottom: 4px;

          & > span {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.3px;
            color: #737183;

            &.won {
              &::after {
                content: '원';
                font-family: var(--font2);
                font-size: 12px;
              }
            }

            &:first-child {
              float: left;
              padding-left: 26px;
              color: #737183;

              & .won {
                font-size: 13px;

                color: #9b9aa6;
              }
            }

            &:nth-child(2) {
              font-size: 13px;

              float: right;
              padding-right: 3px;
              letter-spacing: 0;
              color: #9b9aa6;
            }

            &.list {
              font-family: var(--font1) !important;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: -0.3px;
              color: #666666;
              padding-left: 5px;
              margin-bottom: 1px;
              float: none;

              &:before {
                top: 8px;
                left: -2px;
              }
            }
          }

          &:first-child {
            & span {
              &:nth-child(2) {
                color: #37354e;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          & .btn-connect {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.6px;
            color: #737183;
            float: right;
            padding-right: 7px;

            & i {
              vertical-align: middle;
              transform: translate(5px, -2px);
            }
          }

          &.list-group {
            width: 100%;
            padding: 23px 16px;
            background-color: #f7f8fc;
          }
        }

        &.pd-left {
          padding-left: 26px;
        }
      }

      & .list-footer {
        padding: 0 2px 0 26px;

        & .list-noti {
          width: 100%;
          height: 36px;
          line-height: 36px;
          background-color: #f7f8fc;
          text-align: center;
          margin-bottom: 8px;

          & span {
            font-family: var(--font2);
            font-size: 11px;
            letter-spacing: -0.28px;
          }
        }

        & .chart {
          border: 1px solid #f2f4f7;
          padding: 16px 16px 7px;

          & .title {
            font-family: var(--font2);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.3px;
            margin-bottom: 10px;
          }
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.box_tax_sub {
  padding: 10px 20px 0;

  & > .title {
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -0.45px;
    margin-bottom: 30px;

    & .primary {
      font-weight: bold;
      letter-spacing: -.45px;
    }

    & .tooltip-md {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-left: 5px;
      transform: translate(0px, -2px);

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .btn_area {
    padding-top: 4px;
    padding-bottom: 30px;

    & .btn-save {
      font-size: 14px;
    }
  }

  & .deduct-list-group {
    & .list {
      font-size: 11px;
      line-height: 18px;
      letter-spacing: -0.28px;
      color: #9b9aa6;
      margin-bottom: 0;

      &::before {
        top: 8px;
        left: 1px;
      }
    }

    &.mb {
      margin-bottom: 33px;
    }
  }

  &.box_tax_sub_lg {
    padding-top: 36px;

    & .btn-area {
      padding-bottom: 40px;
    }
  }

  &.box_tax_sub_pt {
    padding-top: 20px;
  }

  &.has_fixed_btn {
    padding-bottom: 100px;
  }
}

.box_deduction {
  margin-bottom: 29px;

  & .group-title {
    font-family: var(--font2);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #afaeb8;
    margin-bottom: 14px;
  }

  & .group-list {
    overflow: hidden;

    & .group-item {
      position: relative;
      float: left;
      width: calc(33% - 4px);
      height: 99px;
      border-radius: 6px;
      border: 1px solid #f5f6f8;
      margin-right: 7px;
      margin-bottom: 7px;

      & a {
        display: block;
        padding: 20px 0 22px;

        & .item-badge {
          display: block;
          position: absolute;
          width: 30px;
          height: 19px;
          border: 1px solid #ece3ff;
          background-color: #faf7ff;
          line-height: 16px;
          font-family: var(--font2);
          letter-spacing: -.25px;
          color: var(--color-point);
          font-size: 10px;
          text-align: center;
          top: -1px;
          right: -1px;
          border-radius: 0 6px 0 6px;
        }

        & .img {
          display: block;
          width: 30px;
          height: 30px;
          margin: 0 auto 8px;

          & img {
            width: 100%;
            height: 100%;
          }
        }

        & .item-title {
          display: block;
          font-family: var(--font2);
          font-size: 12px;
          line-height: 17px;
          letter-spacing: -0.3px;
          text-align: center;
          color: var(--text-01);
        }

      }

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &.active {
        border: 1px solid #ece3ff;
      }

      &.line2 {
        & .img {
          margin: 0 auto 4px;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.has_fixed_btn {
    padding-bottom: 75px;
  }
}

.sec-deduct {
  margin-bottom: 36px;

  & .area-title {
    border-bottom: 1px solid var(--color-text-default);
    padding-bottom: 14px;

    & .title {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: -0.35px;
      margin-bottom: 4px;
    }

    & .btn-tooltip {
      display: inline-block;
      transform: translate(3px, -3px);

      & i {
        vertical-align: middle;
      }
    }

    & .desc {
      display: block;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.3px;
      text-align: left;
      color: var(--text-04);
    }
  }

  & .desc {
    display: block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #afaeb8;
  }
}

.list-deduct {
  & .list-deduct-item {
    border-bottom: 1px solid #f5f6f8;
    padding: 20px 2px;

    & .title {
      display: inline-block;
      float: left;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: -0.65px;
      color: #737183;
    }

    & .item {
      float: right;
      display: inline-block;
      text-align: right;
      font-size: 13px;
      font-family: var(--font2);
      line-height: 19px;
      color: var(--color-text-default);
    }

    & .box-switch {
      float: right;
    }

    &.list-deduct-item-lg {
      padding: 24px 0 16px 2px;
    }

    &.list-deduct-item-xl {
      padding: 22px 0 16px 2px;

      & > .title {
        line-height: 36px;
      }

      & select {
        float: right;
        width: 60px;
      }
    }
  }
}

.box-switch {
  width: 100px;
  display: inline-block;
  transform: translate(-1px, -4px);

  & .btn-no, & .btn-yes {
    display: inline-block;
    width: 50px;
    height: 28px;
    border: 1px solid #e2e3e6;
    background-color: #f7f8fc;
    text-align: center;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: #9b9aa6;
  }

  & .btn-no {
    margin-right: -3px;
    border-radius: 3px 0 0 3px;
  }

  & .btn-yes {
    border-radius: 0 3px 3px 0;
  }

  & .btn-no.active, & .btn-yes.active {
    position: relative;
    z-index: 1;
    border-color: #d3c6ff;
    background-color: #ffffff;
    color: var(--color-point);
  }
}

.box-number {
  width: 100%;
  height: auto;
  background-color: #f7f8fc;
  margin-top: 40px;
  padding: 17px 13px 17px 17px;

  & .list-number {
    margin-bottom: 11px;

    & .title {
      float: left;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: -0.6px;
      color: #737183;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &.has-select-box {
    margin-top: 60px;
    padding: 15px 20px;

    & .list-number {
      position: relative;

      & label.title {
        font-family: var(--font1);
        line-height: 42px;
        margin-bottom: 10px;
        letter-spacing: -.3px;
        font-weight: normal;
      }

      & input {
        float: right;
        width: calc(100% - 78px);
        display: inline-block;
        background-color: transparent;
        height: 42px;
        border-bottom: solid 1px #e2e3e6;
        color: #37354e;
        font-size: 13px;
        line-height: 42px;
        font-family: var(--font1);
        text-align: left;
        margin-right: 5px;
        padding: 0 5px;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        &:focus {
          outline: none;
        }
      }

      & .won {
        position: absolute;
        right: -2px;
        bottom: 11px;
        display: inline-block;
        line-height: 40px;
        font-size: 13px;
        margin-right: 8px;
      }

      &:last-child {
        & .title {
          margin-bottom: 0;
        }

        & input {
          margin-bottom: 0;
        }

        & .won {
          bottom: 0;
        }
      }
    }
  }
}

.count-num {
  float: right;

  & .qty-minus, & .qty-plus {
    display: inline-block;
  }

  & .qty {
    display: inline-block;
    background-color: transparent;
    border: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
    font-size: 13px;
    font-family: var(--font2);
    letter-spacing: -0.65px;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.deduct-input {
  position: relative;
  margin-bottom: 10px;

  & .title {
    font-family: var(--font2);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #afaeb8;
    margin-bottom: 10px;
  }

  & > input {
    width: 100%;
    display: inline-block;
    height: 42px;
    border-bottom: solid 1px #e2e3e6;
    color: #37354e;
    font-size: 13px;
    line-height: 42px;

    font-weight: 500;
    text-align: left;
    margin-right: 5px;
    padding: 0 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #9b9aa6;
    }
  }

  & .won {
    position: absolute;
    right: -2px;
    bottom: 2px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    margin-right: 8px;
  }

  & .item-radio {
    display: block;
    margin-bottom: 40px;

    &.single {
      margin-bottom: 20px;
    }
  }

  &.deduct-input-lg {
    margin-bottom: 36px;

    & .option {
      padding-top: 7px;
      margin-bottom: 11px;

      & label {
        & span {
          font-size: 13px;
          font-family: var(--font2);
        }
      }
    }
  }
}

.statement {

  & > .item:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  & > .item {
    padding: 20px 0;

    & .description {
      width: 100%;
      height: 20px;
      font-size: 13px;
      letter-spacing: -0.65px;
      color: var(--color-text-default);
      font-family: var(--font1);
      margin-bottom: 1px;

      & .name {
        display: block;
        float: left;
        width: 60%;
        text-align: left;
        letter-spacing: -.33px;
        padding-left: 2px;

        & i {
          vertical-align: bottom;
          margin-right: 4px;
        }
      }

      & .value {
        float: right;
        width: 40%;
        text-align: right;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -.14px;
        padding-right: 2px;

        &::after {
          content: '원';
          font-family: var(--font2);
          font-size: 12px;
        }

        &.primary {

          color: var(--color-point);
        }
      }
    }

    & .add {
      display: block;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.28px;
      color: #9b9aa6;
      padding-top: 1px;

      & .num {
        letter-spacing: 0;
      }
    }

    & .table {
      margin-top: 20px;
    }

    &.item-lg {
      & .description {
        margin-bottom: 6px;
      }
    }

    &.item-xl {
      padding: 36px 0 19px;

      & .description {
        margin-bottom: 6px;

        & .name {
          font-family: var(--font2);
        }
      }

      & .add {
        margin-bottom: 20px;
      }

      & .chart {
        & .sort {
          & .value {
            right: -2px;
            top: -1px;

            & span {
              letter-spacing: 0;
            }
          }

          & > .item {
            margin-bottom: 6px;
            letter-spacing: 0;
          }

          & .bar {
            margin-bottom: 28px;
          }

          &:last-of-type {
            & .bar {
              margin-bottom: -2px;
            }
          }
        }
      }
    }
  }

}

.box_deduction {
  padding: 10px 20px 0;

  & .table {
    & thead {
      & tr {
        & th {
          height: 28px;
          line-height: 27px;
          font-size: 11px;
        }
      }
    }

    & tbody {
      & tr {
        & td {
          font-family: var(--font1);
          height: 31px;
          line-height: 31px;
          text-align: left;
          padding-left: 10px;
          padding-right: 10px;
          color: #737183;
          letter-spacing: -.28px;
          font-size: 12px;

          &:first-child {
            font-size: 11px;
          }

          &.won {
            &::after {
              content: '원';
              color: #737183;
              font-size: 11px;
            }
          }

          &.primary {
            color: var(--color-point) !important;

            &::after {
              color: var(--color-point) !important;
            }
          }
        }
      }
    }

    & tfoot {
      & tr {
        & td {
          font-family: var(--font1);
          height: 31px;
          line-height: 31px;
          text-align: left;
          padding-left: 10px;
          color: #737183;
          letter-spacing: -.28px;
          padding-right: 12px;
          font-size: 12px;

          &.won {
            &::after {
              content: '원';
              color: #737183;
              font-size: 11px;
            }
          }

          &.primary {
            color: var(--color-point) !important;

            &.won {
              &::after {
                content: '원';
                color: var(--color-point) !important;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }

  & .list.caution {
    margin-top: 12px;
    letter-spacing: -.38px;
    color: #afaeb8;
    border-bottom: 1px solid #e3e4e8;
    padding-bottom: 20px;
    padding-left: 16px;

    &::before {
      left: 2px;
    }
  }
}

.list-connect {
  padding: 22px 0;

  & .list-item {
    position: relative;
    padding: 0 2px;
    margin-bottom: 22px;

    & .img {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 22px;
      margin-right: 4px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .name {
      font-family: var(--font2);
      display: inline-block;
      font-size: 13px;
      line-height: 22px;
      letter-spacing: -0.65px;
      vertical-align: middle;
    }

    & .value {
      display: inline-block;
      position: absolute;

      letter-spacing: -.14px;
      font-size: 14px;
      top: 0;
      right: 3px;

      &::after {
        content: '원';
        font-family: var(--font2);
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.33px;
        color: #37354e;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.list-border {
    padding: 0;

    & .list-item {
      padding: 20px 4px 22px;
      border-bottom: 1px solid #f5f6f8;
      margin-bottom: 0;

      & .label-check {
        position: absolute;
        right: -2px;
        top: 18px;
      }

      &:last-child {
        border-bottom: 1px solid #e3e4e8;
      }
    }
  }
}

.font-normal {
  font-family: var(--font1) !important;
  font-weight: normal !important;
}

.font-bold {
  font-family: var(--font3) !important;
  font-weight: bold !important;
}

.font-medium {
  font-family: var(--font2) !important;
  font-weight: 500 !important;
}

.font-num-medium {
  font-family: var(--font5) !important;
  font-weight: 500 !important;
}

.font-num-bold {
  font-family: var(--font1) !important;
  font-weight: bold !important;
}

/*
  E 06_연말정산
*/


/*
  S 아이폰5/SE 대응
*/
@media all and (max-width: 360px) {
  .box_tax_service .inner .intro {
    font-size: 20px;
  }

  .box_tax_main .inner .desc {
    font-size: 13px;
    white-space: nowrap;
  }

  .box_tax_main .inner .desc.desc-sm {
    font-size: 13px;
    letter-spacing: -1px;
  }

  .box_tax .inner .list-box .list-body li > span.list {
    font-size: 11px;
    letter-spacing: -.8px;
  }

  .box_deduction .table tbody tr td:first-child {
    font-size: 10px;
  }

  .box_deduction .table thead tr th {
    padding-left: 5px;
    padding-right: 5px;
  }

  .box_deduction .table tbody tr td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
  }

  .box_deduction .table tfoot tr td {
    padding-left: 5px;
    padding-right: 5px;
  }

  .box_guide .info-guide .statement > .item .table tbody tr.line-2 td span {
    font-size: 10px;
  }

  .box_guide .info-guide .statement > .item .table tbody tr.line-2 td {
    font-size: 10px;
    padding: 0 5px;
  }

  .box_guide .info-guide .statement > .item .table tbody tr td {
    font-size: 10px;
  }

  .v-table tbody tr td {
    font-size: 10px !important;
  }

  .v-table thead tr th span {
    font-size: 10px;
    padding: 0 0 0 5px !important;
  }

  .v-table tbody tr td span {
    font-size: 10px;
  }
}

/*
  E 아이폰5/SE 대응
*/
