@import "variables";

.badge {
  display: inline-block;
  min-width: 66px;
  height: 28px;
  font-family: $font-medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.33px;
  text-align: center;
  padding: 0 10px;
  border-radius: 50px;
  color: $primary;
  border: solid 1px $primary;
  margin-right: 8px;
}
