/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul,
dl {
  text-decoration: none;
  list-style: none;
}
/* reset */

/* style */
.skeleton_sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}

.skeleton-header {
  position: relative;
  width: 100%;
  height: 66px;
}

.skeleton-bg_light_gray {
  background: #f7f7f8 !important;
}

.skeleton-box-card-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 0;
  border-bottom: none;
}
.skeleton-box-card-top .skeleton-title .skeleton-total {
  display: block;
  margin-bottom: 10px;
}
.skeleton-box-card-top .skeleton-title .skeleton-total:last-child {
  margin-bottom: 0px;
}
.skeleton-box-card-top .skeleton-title-height-27 {
  height: 27px !important;
}
.skeleton-box-card-top .skeleton-title .skeleton-profile {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.skeleton-box-card-top .skeleton-title .skeleton-profile .skeleton-with {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skeleton-box-card-top
  .skeleton-title
  .skeleton-profile
  .skeleton-with
  .skeleton-icon {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border: 2px solid #f7f7f8;
  z-index: 99;
}
.skeleton-box-card-top
  .skeleton-title
  .skeleton-profile
  .skeleton-with
  .skeleton-icon.skeleton-left {
  left: -18px;
}
.skeleton-box-card-top
  .skeleton-title
  .skeleton-profile
  .skeleton-with
  .skeleton-icon.skeleton-right {
  right: -18px;
}
.skeleton-box-card-top .skeleton-title .skeleton-profile .skeleton-share {
  position: absolute;
  left: 50%;
  top: 29px;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
}

.skeleton-box-card-top .skeleton-btn {
  position: absolute;
  right: 16px;
  top: 23px;
}

.skeleton-box-card-list {
  padding: 22px 20px 56px;
  border-bottom: none;
  min-height: calc(100vh - 66px);
}
.skeleton-box-card-list .skeleton-card-item {
  margin-bottom: 20px;
}
.skeleton-box-card-list .skeleton-asset-wrap {
  margin-top: 20px;
  width: 100%;
}
.skeleton-box-card-list .skeleton-asset-wrap:first-child {
  margin-top: 0;
}
.skeleton-box-card-list .skeleton-asset-wrap.show .skeleton-category-heading {
  border-radius: 10px 10px 0 0;
}
.skeleton-box-card-list .skeleton-asset-wrap .skeleton-category-heading {
  position: relative;
  padding: 23.5px;
  width: 100%;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-sizing: border-box;
}
.skeleton-box-card-list .skeleton-asset-wrap .skeleton-category-heading span {
  display: block;
}
.skeleton-box-card-list .skeleton-asset-wrap .skeleton-category-menu {
  display: none;
  position: relative;
  padding: 20px;
  background: #fff;
  border: 1px solid #efefef;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.skeleton-box-card-list .skeleton-asset-wrap .skeleton-category-menu:after {
  content: "";
  width: calc(100% - 40px);
  height: 1px;
  background: #efefef;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.skeleton-box-card-list .skeleton-asset-wrap.show .skeleton-category-menu {
  display: block;
  border-radius: 0 0 10px 10px;
}
.skeleton-box-card-list
  .skeleton-asset-wrap.show
  .skeleton-category-menu
  .ac-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.skeleton-box-card-list
  .skeleton-asset-wrap.show
  .skeleton-category-menu
  .ac-item:last-child {
  margin-bottom: 0;
}
.skeleton-box-card-list
  .skeleton-asset-wrap.show
  .skeleton-category-menu
  .ac-item
  span {
  flex-shrink: 0;
}
.skeleton-box-card-list
  .skeleton-asset-wrap.show
  .skeleton-category-menu
  .ac-item
  div {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  flex-grow: 1;
}

.skeleton-more-main .skeleton-more-view-my-page {
  display: flex;
  align-items: center;
  padding: 0 20px 20px;
}
.skeleton-more-main .skeleton-more-view-my-page div:first-child {
  margin-right: 12px;
}
.skeleton-more-main .skeleton-more-view-tab ul {
  display: flex;
  align-items: center;
}
.skeleton-more-main .skeleton-more-view-tab ul li {
  position: relative;
  flex-grow: 1;
  height: 62px;
  margin: 12px 0;
}
.skeleton-more-main .skeleton-more-view-tab ul li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 62px;
  background: #e7e8ea;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.skeleton-more-main .skeleton-more-view-tab ul li:last-child:after {
  display: none;
}

.skeleton-more-main .skeleton-more-view-tab ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skeleton-more-main .skeleton-more-view-tab ul li a .skeleton-ico {
  display: block;
  margin-bottom: 10px;
}

.skeleton-more-main .skeleton-more-view-wrap {
  padding: 30px 24px;
}
.skeleton-more-main .skeleton-more-view-wrap .skeleton-box {
  margin-bottom: 30px;
}
.skeleton-more-main .skeleton-more-view-wrap .skeleton-box:last-child {
  margin-bottom: 0;
}
.skeleton-more-main .skeleton-more-view-wrap .skeleton-list_group_item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 5px;
  border-bottom: 1px solid #f0f0f0;
}
.skeleton-more-main
  .skeleton-more-view-wrap
  .skeleton-list_group_item:last-child {
  border-bottom: 1px solid #e3e4e8;
}

.skeleton-asset-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.skeleton-asset-wrap .skeleton-box-card-top {
  padding: 10px 20px 0;
}
.skeleton-asset-wrap .skeleton-title {
  width: 100% !important;
}

.skeleton-asset-wrap .skeleton-personal-credit-list {
  padding: 30px 20px;
}
.skeleton-asset-wrap .skeleton-personal-credit-list .skeleton-list-wrap {
  border: 1px solid #efefef;
  border-radius: 10px;
  overflow: hidden;
}
.skeleton-asset-wrap
  .skeleton-personal-credit-list
  .skeleton-list-wrap
  .skeleton-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
}
.skeleton-asset-wrap
  .skeleton-personal-credit-list
  .skeleton-list-wrap
  .skeleton-list-body {
  border-top: 1px solid #efefef;
}
.skeleton-asset-wrap
  .skeleton-personal-credit-list
  .skeleton-list-wrap
  .skeleton-list-body
  .skeleton-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin: 0 24px;
  border-bottom: 1px solid #efefef;
}
.skeleton-asset-wrap
  .skeleton-personal-credit-list
  .skeleton-list-wrap
  .skeleton-list-body
  .skeleton-item:last-child {
  border-bottom: 0;
}
.skeleton-asset-wrap
  .skeleton-personal-credit-list
  .skeleton-list-wrap
  .skeleton-list-body
  .skeleton-item
  .skeleton-val {
  display: flex;
  flex-direction: column;
}

.skeleton-mission-contents .skeleton-box-card-top .skeleton-title,
.skeleton-mission-contents .skeleton-box-card-top .skeleton-title span {
  display: flex;
  align-items: center;
  width: 100%;
}
.skeleton-mission-contents
  .skeleton-box-card-top
  .skeleton-title
  span:last-child {
  margin-left: 8px;
}
.skeleton-mission-contents .skeleton-box-card-top .skeleton-title i {
  position: relative;
  border: solid 2px #f7f7f8;
}
.skeleton-mission-contents
  .skeleton-box-card-top
  .skeleton-title
  i:first-child {
  z-index: 10;
}
.skeleton-mission-contents .skeleton-box-card-top .skeleton-title i:last-child {
  margin-left: -12px;
}
.skeleton-mission-contents
  .skeleton-box-card-top
  .skeleton-title
  .skeleton-height-xl {
  border-radius: 16px;
}
.skeleton-mission-contents .skeleton-box-card-list .skeleton-asset-wrap {
  padding: 0;
}
.skeleton-mission-contents .skeleton-box-card-list .skeleton-asset-wrap ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.skeleton-mission-contents
  .skeleton-box-card-list
  .skeleton-asset-wrap
  ul
  li.skeleton-mt-5 {
  margin-top: 18px !important;
}
.skeleton-mission-contents
  .skeleton-box-card-list
  .skeleton-asset-wrap
  ul
  li:first-child {
  margin-top: 0;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-title
  .skeleton-calendar {
  right: 0;
  top: -5px;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-list-card {
  /* padding: 13px 0; */
  border-top: 1px solid #efefef;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-list-card
  .skeleton-item {
  justify-content: flex-start;
  padding: 16px 0;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-list-card
  .skeleton-item
  > div {
  display: flex;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-list-card
  .skeleton-item
  > div
  div:first-child {
  margin-right: 8px;
}
.skeleton-mission-contents
  .skeleton-asset-wrap
  .skeleton-category-heading
  .skeleton-list-card
  .skeleton-item
  .box-txt {
  flex-direction: column;
}

.skeleton-sum-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skeleton-sum-area > div:last-child {
  margin-top: 12px;
}
/* style */

/* skeleton */
.skeleton {
  position: relative;
  overflow: hidden !important;
  animation: skeleton 1s infinite;
  display: flex;
  width: 40%;
  height: 20px;
}
.skeleton-width-sm {
  width: 40px !important;
}
.skeleton-width-md {
  width: 100px !important;
}
.skeleton-width-lg {
  width: 136px !important;
}
.skeleton-width-70 {
  width: 70px !important;
}
.skeleton-block {
  width: 100% !important;
  height: 46px !important;
}
.skeleton-height-sm {
  height: 16px !important;
}
.skeleton-height-md {
  height: 22px !important;
}
.skeleton-height-lg {
  height: 24px !important;
}
.skeleton-height-xl {
  height: 30px !important;
}
.skeleton-height-34 {
  height: 34px !important;
}
.skeleton-height-70 {
  height: 70px !important;
}
.skeleton-radius {
  border-radius: 100%;
}
.skeleton-radius-10 {
  border-radius: 10px;
}
.skeleton-radius-sm {
  width: 22px !important;
  height: 22px !important;
}
.skeleton-radius-md {
  width: 30px !important;
  height: 30px !important;
}
.skeleton-radius-lg {
  width: 36px !important;
  height: 36px !important;
}
.skeleton-radius-xl {
  width: 48px !important;
  height: 48px !important;
}
.skeleton-mt-1 {
  margin-top: 4px !important;
}
.skeleton-mt-2 {
  margin-top: 8px !important;
}
.skeleton-mt-3 {
  margin-top: 12px !important;
}
.skeleton-mt-4 {
  margin-top: 16px !important;
}
.skeleton-mt-5 {
  margin-top: 20px !important;
}
.skeleton-mt-6 {
  margin-top: 24px !important;
}
.skeleton-mb-1 {
  margin-bottom: 4px !important;
}
.skeleton-mb-2 {
  margin-bottom: 8px !important;
}
.skeleton-mb-3 {
  margin-bottom: 12px !important;
}
.skeleton-mb-4 {
  margin-bottom: 16px !important;
}
.skeleton-mb-5 {
  margin-bottom: 20px !important;
}
.skeleton-mb-6 {
  margin-bottom: 24px !important;
}
.skeleton-ml-1 {
  margin-left: 4px !important;
}
.skeleton-ml-2 {
  margin-left: 8px !important;
}
.skeleton-ml-3 {
  margin-left: 12px !important;
}
.skeleton-ml-4 {
  margin-left: 16px !important;
}
.skeleton-ml-5 {
  margin-left: 20px !important;
}
.skeleton-ml-6 {
  margin-left: 24px !important;
}
.skeleton-ml-9 {
  margin-left: 36px !important;
}
.skeleton-mr-1 {
  margin-right: 4px !important;
}
.skeleton-ml-2 {
  margin-right: 8px !important;
}
.skeleton-ml-3 {
  margin-right: 12px !important;
}
.skeleton-ml-4 {
  margin-right: 16px !important;
}
.skeleton-ml-5 {
  margin-right: 20px !important;
}
.skeleton-ml-6 {
  margin-right: 24px !important;
}
.skeleton-pb-4 {
  padding-bottom: 16px !important;
}
.skeleton-pb-5 {
  padding-bottom: 20px !important;
}
.skeleton-transform-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #ededf2;
}
.skeleton::after {
  content: "" !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}
@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* skeleton */
